{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}
{% block field%}

{% set cont=object.contragent%}

<small class="muted"><b>{%if cont.kpp is defined %}Юр.{%else%}Физ.{%endif%}</b></small>&nbsp;
<strong style="font-size:14px;" title="Клиент уже сделал N заказов">{%if cont.kpp is defined %}{{cont.organization}}{%else%}{{cont.lastName}} {{cont.firstName}} {{cont.surName}}{%endif%}</strong>
&nbsp;
<a target="_blank" title="Посмотреть контрагента" href="{{path('admin_sonata_user_commoncontragent_edit', {id:cont.id})}}"></a>
{%if cont.phone1 %}<br><small class="muted">Тел.</small>&nbsp;{{cont.phone1}}{%endif%}
<br>
<a href="{{path('admin_sonata_user_commoncontragent_edit', {id:cont.id})}}" target="_blank">{{cont.user.email}}</a>

{% endblock %}