{% form_theme form 'CoreOrderBundle:Form:row.html.twig' %}
{#
https://github.com/symfony/symfony/pull/3576
#}
<form class="contragent_form{% if (legalForm and not legalForm.vars.valid)  or (isIndi == 0 and isIndi != null)  %} hidden{% endif %}" id="indi_form" action="{{ path('core_order_cart_step2', {'indi': true})}}" {{ form_enctype(form) }} method="POST">
    {% if not form.vars.valid %}
        <div class="attention_box">
            <h6>{{'order.form.errors' | trans }}</h6>
            {#{{form_errors(form) | ladybug_dump }}#}
            {% if (form.vars.errors | length == 1) and form.vars.errors[0].message == 'sameContragent' %}
                <p>У вас уже существует контрагент с такими данными. Предлагаем его <a class="btn-change-contragent with-url" href="{{path('application_sonata_user_get_user_contragents')}}"><strong>выбрать</strong></a>
                </p>
            {% endif %}
        </div>
    {% endif %}
    <div class="form_group">
        <fieldset class="form_fieldset">
            {{form_row(form.contragent.lastName)}}
            {{form_row(form.contragent.firstName)}}
            {{form_row(form.contragent.surName)}}
        </fieldset>
        <fieldset class="form_fieldset">
            {{form_row(form.contragent.phone1)}}
        </fieldset>       
        <fieldset>
            {{form_row(form.contragent.contactEmail)}}
        </fieldset>
        {% if not app.user and form.rssNews is defined and form.password is defined and form.register is defined %}
            <div class="form_padding_group">
                <ul class="form_checkbox_list">
                    {% if form.register is defined %}
                        <li>
                            {{form_widget(form.register)}}
                            {{form_label(form.register, null, {'label_attr': {'class': 'form_label_simple'} })}}
                        </li>
                    {% endif %}
                    <li>
                        {{form_widget(form.rssNews)}}
                        {{form_label(form.rssNews, null, {'label_attr': {'class': 'form_label_simple'} })}}
                    </li>
                </ul>
            </div>
            <fieldset class="form_fieldset password {% if (form.register is not defined) or not (form.register.vars.checked) %}hidden {% endif %}">
                {{form_row(form.password)}}
            </fieldset>
        {% endif %}
    </div>
    <div class="form_group last">
        {% set isOtherRecipient = (form.otherRecipient is defined and not form.otherRecipient.vars.checked) ? true : false %}
        <div class="form_group_header">
            <h2>{{'order.label.whereSend' | trans()}}</h2>
            {#
            {% if form.sameInfo is defined %}
                {{form_widget(form.sameInfo)}}
                {{form_label(form.sameInfo, null, {'label_attr': {'class': 'form_label_simple'} })}}
            {% endif %}
            #}
            {% if form.otherRecipient is defined %}
                {{form_widget(form.otherRecipient)}}
                {{form_label(form.otherRecipient, null, {'label_attr': {'class': 'form_label_simple'} })}}
            {% endif %}
        </div>
        {% if form.otherRecipient is defined %}
            <fieldset class="form_fieldset">
                <div class="recipient_part hidden">
                    <label class="form_label">{{'order.label.recipient' | trans()}}</label>
                    <div class="form_row">
                        <div class="form_row_field">
                            <div class="recipient_info"></div>
                        </div>
                    </div>
                </div>
            </fieldset>
        {% endif %}
        {% if form.contactList is defined %}
            <fieldset class="form_fieldset order_recipient_saved_addresses">
                <div class="form_row ">
                    {{form_label(form.contactList, null, {'label_attr': {'class': 'form_label'} })}}
                    <div class="form_row_field">
                        {{form_widget(form.contactList)}}
                    </div>
                </div>
            </fieldset>
        {% endif %}
        <fieldset class="form_fieldset other{% if isOtherRecipient %} hidden{% endif %}">
            {{form_row(form.contact.lastName)}}
            {{form_row(form.contact.firstName)}}
        </fieldset>
        {% if form.contact.passport is defined %}
            <fieldset class="form_fieldset{% if form.contact.passport.vars.value | length == 0 %} hidden{% endif %}">
                {{form_row(form.contact.passport)}}
            </fieldset>
        {% endif %}
        <fieldset class="form_fieldset other{% if isOtherRecipient %} hidden{% endif %}">
            {{form_row(form.contact.phone)}}
            {{form_row(form.contact.contactEmail)}}
        </fieldset>
        <fieldset class="form_fieldset">
            <div class="form_row">
                {{form_label(form.contact.city, null, {'label_attr': {'class': 'form_label'} })}}
                <div class="form_row_field ajax-entity{% if form_errors(form.contact.city) %} form_field_error{% endif %}">
                    {{form_widget(form.contact.city)}}
                </div>
            </div>
            {{form_row(form.contact.address)}}
            {#
            <div class="form_row ">
                {{form_label(form.contact.postIndex, null, {'label_attr': {'class': 'form_label'} })}}
                <div class="form_row_field{% if form_errors(form.contact.postIndex) %} form_field_error{% endif %}">
                    {{form_widget(form.contact.postIndex)}}
                    <a target="blank" href="http://www.russianpost.ru/rp/servise/ru/home/postuslug/searchops1">{{'order.label.indexLabel' | trans()}}</a>
                    {{ form_errors(form.contact.postIndex) }}
                </div>
            </div>
            #}
        </fieldset>
        <fieldset class="form_fieldset">
            {{form_row(form.contact.mark)}}
        </fieldset>
        {{form_rest(form)}}
    </div>
    <div class="order_proceed">
        <a href="{{path('core_order_cart')}}" class="order_proceed_goprev">{{'Your Purchase' | trans}}</a>
        <span class="order_proceed_next">
            {% if data['isOrderHavePhysicalProduct'] %}
                {{ 'Next Step: «Delivery»' | trans }}
                {% else %}
                    {{ 'Next Step: «Payment»' | trans }}
            {% endif %}
        </span>
        <button type="submit" class="common_button big with_arrow">
            <span>{{'Forward' | trans }}</span>
        </button>
    </div>
</form>
