{#Формирует отчет по товарам#}
{%block content%}
    <style type="text/css" media="screen,print">
        table {font-family:San-Serif,Verdana,Arial;font-size:11px;border:1px solid #000;border-bottom:0;border-right:0;border-collapse: collapse;background-color: #fff;margin:0px 0px 0px 0px;}
        table td, table th {border: 1px solid #000; border-left: 0; border-top: 0; padding: 3px;}        
        table thead th, table tfoot th,
        table thead td, table tfoot td {background-color:#eee;}
        table tbody td {background-color:#fff;}
        table tbody td.head {white-space:nowrap;background-color:#eee;}
        table tbody td.number {white-space:nowrap;background-color:#eee;font-weight: bold;text-align: center}
    </style>

    <h3>Отчет по товарам</h3>
    <table border="0"  width="100%" >
        <thead>
            <tr>
                <th class="head">
                    <b>#</b>
                </th>
                <th class="head">
                    <b>Наименование</b>
                </th>
                <th class="head">
                    <b>Количество</b>
                </th>
                <th class="head">
                    <b>Заказы</b>
                </th>
            </tr>
        </thead>
        <tbody>
            {% set index=1%}
                {%for d in data%}
                    <tr>
                        <td class="number">{{index}}</td>
                        <td>{{d.product.sku}} {{d.product.captionRu}}</td>
                        <td>{{d.quantity}}</td>
                        <td>
                            {%for o in d.orders%}
                                {{o.id}}{%if not loop.last%}, {%endif%}
                            {%endfor%}
                        </td>
                    </tr>
                    {% set index=index+1%}
                        {%endfor%}
                        </tbody>
                    </table>

                    {%endblock%}