{#**
 * Шаблон письма для предзаказа
 *
 * @author Sergeev A.M.
 * @copyright LLC "PromoMaster"
 *#}

На сайте olikids.ru поступила заявка <a href="{{ preOrderLink }}">#{{obj.id|idFormat}}</a> (от {{createdDateTime}}) 
на доставку под заказ товара <a href="{{ productLink }}">{{product.captionRu}} {{product.article}}</a>