{% block  unit_serial_number_widget %}
<style>
    .clearable{
  cursor:pointer;
  display:none;
}
</style>
    
{% set composition= form.parent.vars.value %}

{%if composition.id is defined and composition.id %}
    {%set shippedQuantity=0%}
    {%if not composition.order.isShippedStatus%}
        {%for unit in composition.units%}
            {%if not unit.isCouldBeSold%}
                {%set shippedQuantity=shippedQuantity+1%}
             {%endif%}
        {%endfor%}
    {%endif%}
{%if not composition.product.isNoSerials  %}
<span class="series_quantity_{{composition.id}}"></span>
{# окно в котором указывается серийники#}
<div  id="dialogSerials{{ composition.id }}" style="display:none">
    {%if composition.order.isShippedStatus and isShippedStatusSaved %}<div class="alert alert-warning alert-dismissable">Чтобы добавить серийники нужно отменить и переоформить заказ</div>{%endif%}    
    {%if not composition.order.isCheckedStatus  %}<div class="alert alert-warning alert-dismissable">Чтобы добавить серийники нужно для заказа выставить статус «Проверен»</div>{%endif%}

<div class="alert alert-error alert-dismissable serialsError"></div>
    <table id="serialsTable{{composition.id}}" class="table table-bordered table-striped" >
    </table>
    <div class="well well-small form-actions">
        {%if (not composition.order.isShippedStatus or not isShippedStatusSaved)  and not composition.order.isCanceledStatus %}
        <input type="button" class="btn btn-primary serialsSave" data-composition_id="{{composition.id}}"  value="Сохранить">
        или
        {%endif%}
        <input type="button" class="btn btn-danger serialsClose" data-composition_id="{{composition.id}}"  value="Закрыть">
    </div>
</div>
        {%else%}
            без серийников
        {%endif%}
        
{%if shippedQuantity%}
<br/>отгружено {{shippedQuantity}} {%if composition.product.unitOfMeasure.shortCaptionRu is defined%}{{composition.product.unitOfMeasure.shortCaptionRu}}{%else%}шт.{%endif%}
{%endif%}

{%if firstSerials %}
{#
<script src="{{ asset('bundles/coreorder/Admin/js/unit_serial_number_widget.js')}}" type="text/javascript"></script>
#}
<script>
var updateSeriesRouting="{{path('core_order_update_serials')}}",
        canViewSeries= 1 {#if composition.order.isCheckedStatus and not composition.order.isCanceledStatus %}1{%else%}0{%endif#},
        isShippedStatus= {%if composition.order.isShippedStatus and isShippedStatusSaved %}1{%else%}0{%endif%},
        isCheckedStatus= {%if composition.order.isCheckedStatus %}1{%else%}0{%endif%};
    </script>
{%endif%}
{%if not composition.product.isNoSerials%}
<script>
            serialsData[{{composition.id}}] = {
    field_id:"{{form.vars.id}}",
            field_name:"{{form.vars.full_name}}",
            stocks:{
                //склады на которых произошла бронь
                {%for b_index,b in composition.booking %}
                    {{b.stock.id}}:{
                    quantity:{{b.quantity}},
                    captionRu:"{{b.stock.captionRu|e('js')}}"
                        },
                {%endfor%}
            },
            units_serials: {

        {%if composition.units %}
                    {%for unit_index,unit  in composition.units%}                        
                    {{unit_index}}:{ {#порядковый номер товарной позиции#}
                        {%for s_key,s  in unit.serials %}
                                {{s_key}}:{unit_id:{{unit.id}}, stock_id:{%if unit.stock.id is defined%}{{unit.stock.id}}{%else%}0{%endif%}, id:{{s.id}}, value:'{{s.value|e('js')}}'},
                        {%endfor%}
                            },                    
                    {%endfor%}
        {%endif%}
    },

            product: {
    serialsQuantity:{%if form.parent.vars.value.product.serialsQuantity%}{{form.parent.vars.value.product.serialsQuantity}}{%else%}1{%endif%},
            captionRu: "{{form.parent.vars.value.product.captionRu|e('js')}}",
            article: "{{form.parent.vars.value.product.sku|e}}",
            id: "{{form.parent.vars.value.product.id}}"
    },
            composition: {
    quantity:{{form.parent.vars.value.quantity}}
    }
    };
    </script>
    {%endif%}
{%endif%}


{% endblock %}