{% extends "CoreCommonBundle::main_layout.html.twig" %}

{# SEO - заголовки #}
{%- block title -%}
    {%-  if article and attribute(article, 'title'~ app.request.locale) -%}
        {{ attribute(article, 'title' ~ app.request.locale)|escape('html') }}
    {%- else -%}
        Об интернет-магазине
    {%- endif -%}
{%- endblock -%}

{%- block meta_keywords -%}
    {%- if article and attribute(article, 'metakeywords'~ app.request.locale) -%}
        {{ attribute(article, 'metakeywords' ~ app.request.locale) }}
    {%- else -%}
        о нас, о магазине
    {%- endif -%}
{%- endblock -%}

{%- block meta_description -%}
    {%- if article and attribute(article, 'metadescription'~ app.request.locale) -%}
        {{ attribute(article, 'metadescription' ~ app.request.locale) }}
    {%- else -%}
        О магазине
    {%- endif -%}
{%- endblock -%}

{% block content %}
    <div role="main" class="contacts_page info_page" id="content">
        <div class="main_col">
            <div class="main_col_pad">

                <ul class="info_page_path page_path_links">
                    <li class="page_path_link"><a href="{{path('core_common_index')}}">OliKids</a></li>
                    <li class="page_path_link"><strong>О магазине</strong></li>
                </ul>

                <h1>
                    {% if article %}{{ attribute(article, 'caption' ~ app.request.locale) }}{% endif %}</h1>
                {% if article %}
                {{ attribute(article, 'body' ~ app.request.locale)|raw }}
                {% endif %}
            </div>
        </div>

        {% block menu_left %}
            {{ include ('CoreCommonBundle:Fragments:menuLeft.html.twig') }}
        {% endblock %}
    </div>
{% endblock %}
{% block js_head %}
    {{ parent() }}
    {#
        {% javascripts  'bundles/coretroubleticket/js/frontend.js' output='js/compiled/troubleticket_frontend.js' filter='yui_js' %}
    <script src="{{ asset_url}}"></script>
    {% endjavascripts %}
    #}

{% endblock %}
