{% extends "CoreCommonBundle::main_layout.html.twig" %}

{# SEO - заголовки #}
{% block title %}PromoMaster — агрегатор рекламных мест{% endblock %}
{% block meta_keywords %}реклама, webmaster, рекламодателям, вебмастерам, баннерная сеть, реклама,  рекламный агент{% endblock %}
{% block meta_description %}сервис продажи и управления рекламой{% endblock %}

{% block js_head %}
    {{ parent() }}

    <script type="text/javascript">
        jQuery(document).ready(function () {
            App.initSliders();
            ParallaxSlider.initParallaxSlider();
        });
    </script>

{% endblock %}

{% block content %}
    <!--=== Slider ===-->
    <div class="slider-inner">
        <div id="da-slider" class="da-slider">
            <div class="da-slide">

                {#<h2><i>&nbsp;Увеличение прибыли&nbsp;<br/>&nbsp;от рекламы&nbsp;<br/>&nbsp;на вашем сайте&nbsp;</i></h2>#}
                <a href="{{ path('core_common_webmasters') }}"><h2><i>&nbsp;Рост прибыли&nbsp;<br/>&nbsp;от рекламы&nbsp;<br/>&nbsp;на вашем сайте&nbsp;</i></h2></a>

                <a href="{{ path('core_common_webmasters') }}"><p><i>Прямые рекламодатели будут</i><br/><i>находить вас сами!</i></p></a>

                <div class="da-img slider-image" >
                    <img class="img-responsive" src="/assets/img/master/profit.png" alt="Прибыль от рекламы">
                </div>
            </div>

            <div class="da-slide">
                <a href="{{ path('core_common_webmasters') }}"><h2><i>Продажа</i><br/><i>остаточного</i><br/><i>трафика</i></h2></a>

                <a href="{{ path('core_common_webmasters') }}"><p><i>Увеличение прибыли за счет</i><br/><i>продажи остаточного трафика</i><br/><i>сторонним рекламным
                            системам</i>
                    </p></a>

                <div class="da-img slider-image" ><img w class="img-responsive"
                                                       src="/assets/img/master/ecommerce_sales.png"
                                                       alt="Прожажа рекламных мест">
                </div>
            </div>

            <div class="da-slide">
                <a href="{{ path('core_common_webmasters') }}"><h2><i>&nbsp;Отчеты,&nbsp;<br/>&nbsp;Статистика,&nbsp;<br/>&nbsp;Таргетирование&nbsp;</i></h2></a>

                    <a href="{{ path('core_common_webmasters') }}"><p><i>Полный комплекс инструментов</i><br/><i>для эффективного размещения</i><br/><i>рекламных
                        материалов</i></p></a>

                <div class="da-img slider-image" >
                    <img class="img-responsive" src="/assets/img/master/statistics.png" alt="Статистика показов">
                </div>
            </div>
            <div class="da-slide">


                {#<a href="{{ path('core_common_webmasters') }}"><h2><i>Постоянно</i><br/><i>развивающийся</i><br/><i>функционал</i></h2></a>#}
                <a href="{{ path('core_common_webmasters') }}"><h2><i>Уникальность</i><br/><i>концепции</i><br/><i>сервиса</i></h2></a>

                <a href="{{ path('core_common_webmasters') }}"><p><i>Сервис имеет новаторскую концепцию,</i><br/><i> не имеющую аналогов среди конкурентов</i></p></a>

                {#<a href="{{ path('core_common_webmasters') }}"><p><i>Наша команда постоянно трудится над тем,</i><br/><i>чтобы улучшить функционал системы</i></p></a>#}

                <div class="da-img slider-image" ><img class="img-responsive"
                                                                                  src="/assets/img/master/settings.png"
                                                                                  alt="Настройки рекламы">
                </div>
            </div>

            <div class="da-arrows">
                <span class="da-arrows-prev"></span>
                <span class="da-arrows-next"></span>
            </div>
        </div>
    </div><!--/slider-->
    <!--=== End Slider ===-->


    <!--=== Content Part ===-->
    <div class="container content">

    <div class="row">


        <a class="fromIndexBlock" href="{{ path('core_common_webmasters') }}">
        <div class="col-sm-6">


                <h3><span class="color-green">Преимущества для вебмастера</span></h3>


            <br>
            <div class="info-blocks">
                <i class="icon-info-blocks fa fa-bullhorn "></i>
                <div class="info-blocks-in">
                    <h1 class="info-small">Размещение вашего сайта в каталоге системы</h1>
                </div>
            </div>


            <div class="info-blocks">
                <i class="icon-info-blocks fa fa-cogs "></i>
                <div class="info-blocks-in">
                    <h1 class="info-small">Удобное управление рекламой</h1>
                </div>
            </div>


            <div class="info-blocks">
                <i class="icon-info-blocks fa fa-eye"></i>
                <div class="info-blocks-in">
                    <h1 class="info-small">Контроль рекламных материалов</h1>
                </div>
            </div>


            <div class="info-blocks">
                <i class="icon-info-blocks fa fa-sliders"></i>
                <div class="info-blocks-in">
                    <h1 class="info-small">Гибкая настройка ценовой политики</h1>
                </div>
            </div>


            <div class="info-blocks">
                <i class="icon-info-blocks fa fa-pie-chart"></i>
                <div class="info-blocks-in">
                    <h1 class="info-small">Подробные отчеты и статистика</h1>
                </div>
            </div>


            <div class="info-blocks">
                <i class="icon-info-blocks fa fa-slideshare"></i>
                <div class="info-blocks-in">
                    <h1 class="info-small">Интеграция сторонних рекламных скриптов</h1>
                </div>
            </div>



            <div class="info-blocks">
                <i class="icon-info-blocks fa fa-credit-card"></i>
                <div class="info-blocks-in">
                    <h1 class="info-small">Вывод средств удобным способом</h1>
                </div>
            </div>

            <div class="info-blocks">
                <i class="icon-info-blocks fa fa-thumbs-up"></i>
                <div class="info-blocks-in">
                    <h1 class="info-small">Простота использования сервиса</h1>
                </div>
            </div>

            <div class="info-blocks">
                <i class="icon-info-blocks fa fa-calculator"></i>
                <div class="info-blocks-in">
                    <h1 class="info-small">Бесплатное использование сервиса</h1>
                </div>
            </div>

            <div class="info-blocks">
                <i class="icon-info-blocks fa fa-university"></i>
                <div class="info-blocks-in">
                    <h1 class="info-small">Безопасность сделки</h1>
                </div>
            </div>

            <a rel="float-shadow" href="{{ path('core_cabinet_site_create') }}" class="btn-u btn-u-lg rounded-2x float-shadow" >Добавить сайт в каталог системы</a>

            <br><br>

        </div>
            </a>
        <a class="fromIndexBlock" href="{{ path('core_common_advertisers') }}"><div class="col-sm-6">


                    <h3><span class="color-green">Преимущества для рекламодателя</span></h3>

                <br>
            <div class="info-blocks">
                <i class="icon-info-blocks fa fa-binoculars"></i>
                <div class="info-blocks-in">
                    <h1 class="info-small">Быстрый поиск качественных рекламных площадок</h1>
                </div>
            </div>

            <div class="info-blocks">
                <i class="icon-info-blocks fa fa-comments-o"></i>
                <div class="info-blocks-in">
                    <h1 class="info-small">Прямой контакт с вебмастером</h1>
                </div>
            </div>

            <div class="info-blocks">
                <i class="icon-info-blocks fa fa-users"></i>
                <div class="info-blocks-in">
                    <h1 class="info-small">Эффективное проведение рекламных кампаний</h1>
                </div>
            </div>

            <div class="info-blocks">
                <i class="icon-info-blocks fa fa-crosshairs"></i>
                <div class="info-blocks-in">
                    <h1 class="info-small">Настройка целевой аудитории</h1>
                </div>
            </div>

            <div class="info-blocks">
                <i class="icon-info-blocks fa fa-bar-chart-o"></i>
                <div class="info-blocks-in">
                    <h1 class="info-small">Подробные отчеты и статистика</h1>
                </div>
            </div>

            <div class="info-blocks">
                <i class="icon-info-blocks fa fa-sliders"></i>
                <div class="info-blocks-in">
                    <h1 class="info-small">Гибкая рекламная модель</h1>
                </div>
            </div>


            <div class="info-blocks">
                <i class="icon-info-blocks fa fa-file-video-o "></i>
                <div class="info-blocks-in">
                    <h1 class="info-small">Удобные рекламные форматы</h1>
                </div>
            </div>

            <div class="info-blocks">
                <i class="icon-info-blocks fa fa-thumbs-up"></i>
                <div class="info-blocks-in">
                    <h1 class="info-small">Простота использования сервиса</h1>
                </div>
            </div>

            <div class="info-blocks">
                <i class="icon-info-blocks fa fa-calculator"></i>
                <div class="info-blocks-in">
                    <h1 class="info-small">Бесплатное использование сервиса</h1>
                </div>
            </div>

            <div class="info-blocks">
                <i class="icon-info-blocks fa fa-university"></i>
                <div class="info-blocks-in">
                    <h1 class="info-small">Безопасность сделки</h1>
                </div>
            </div>


                <a rel="float-shadow" href="{{ path('core_cabinet_adcompany_create') }}" class="btn-u btn-u-lg rounded-2x float-shadow" >
                    <i class="fa"></i>
                    Добавить рекламную компанию</a>
                <br><br>
        </div>
        </a>
    </div>






    <!-- End Content Part -->

{% endblock %}