{% extends "CoreCommonBundle::main_layout.html.twig" %}

{# SEO - заголовки #}
{% block title %}PromoMaster.net {% endblock %}
{% block meta_keywords %}{% endblock %}
{% block meta_description %}{% endblock %}

{% block css %}
    {{ parent() }}
    {% stylesheets
    'bundles/corecommon/css/cubeportfolio.min.css'
    output='css/compiled/cubeportfolio.min.css'
    filter='cssrewrite,yui_css' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}

{% endblock %}

{% block js_head %}
    {{ parent() }}

    {% javascripts
    'bundles/corecommon/js/jquery.cubeportfolio.min.js'
    'bundles/corecommon/js/cube-portfolio.js'
    output='js/compiled/cubeportfolio.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
{% block content %}
    <div class="breadcrumbs">
        <div class="container">
            <h1 class="pull-left">Каталог рекламных площадок</h1>
            <ul class="pull-right breadcrumb">
                <li>
                    <a href="{{ path('core_common_index') }}">На главную</a>
                </li>
                <li class="active">
                    Каталог площадок
                </li>
                {#{% if curCategory %}#}
                    {#{% if curCategory.parent and curCategory.parent.lvl %}#}
                    {#<li>#}
                        {#<a href="{{ path('core_common_catalog_first_page' , {slug : curCategory.parent.slug}) }}">#}
                        {#{{ curCategory.parent.captionRu }}#}
                        {#</a>#}
                    {#</li>#}
                    {#{% endif %}#}
                    {#<li class="active">{{ curCategory.captionRu }}</li>#}
                {#{% endif %}#}

            </ul>
        </div>
    </div>
    <div class="container">
        <div class="content">
            <div class="col-md-3">
                {#<ul class="list-group sidebar-nav-v1" id="sidebar-nav">#}
                    {#{% for category in categories[0]['__children'] %}#}
                        {#{% if (parentSlug and parentSlug == category.slug) or (curSlug and (curSlug == category.slug)) %}#}
                            {#{% set isActive = true %}#}
                            {#{% else %}#}
                                {#{% set isActive = false  %}#}
                        {#{% endif %}#}
                        {#<li class="list-group-item{% if isActive %} active{% endif %}">#}
                            {#<a href="{{ path('core_common_catalog', {slug : category.slug }) }}">{{ category.captionRu }}</a>#}
                            {#{% if (category['__children'] | length) and isActive %}#}
                                {#<ul class="collapse in">#}
                                    {#{% for child in category['__children'] %}#}
                                        {#<li {% if curSlug and (curSlug == child.slug) %}class="active"{% endif %}>#}
                                            {#<a href="{{ path('core_common_catalog', {slug : child.slug }) }}">{{ child.captionRu }}</a>#}
                                        {#</li>#}
                                    {#{% endfor %}#}
                                {#</ul>#}
                            {#{% endif  %}#}
                        {#</li>#}
                    {#{% endfor %}#}
                {#</ul>#}
            </div>
            <div class="col-md-9">

                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Площадка</th>
                        <th>Описание</th>
                        <th>Места</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for site in sites %}

                        <tr data-url="{{ path('core_site_details', {id: site.id}) }}">
                            <td>{{ loop.index }}</td>
                            <td><a href="{{ path('core_site_details', {id: site.id}) }}">{{ site.domain }}</a></td>
                            <td>{{ site.shortDescription }}</td>
                            <td></td>
                        </tr>

                    {% endfor %}
                    </tbody>
                </table>


                <div class="row margin-bottom-10">
                    <div class="text-center">
                        {{ knp_pagination_render(sites, 'CoreCommonBundle:Fragments:pagination.html.twig',{},
                        { routeFirsPage: 'core_common_catalog_first_page', routePage: 'core_common_catalog'}) }}
                    </div>
                </div>

                {#<div class="fusion-portfolio wrapper-portfolio-grid cbp-4-col">#}
                    {#<div id="grid-container" class="cbp-l-grid-gallery">#}
                        {#<ul>#}

                            {#{% for site in sites %}#}
                            {#<li class="cbp-item motion">#}
                                {#<a href="{{ path('core_create_site_show', {id: site.id}) }}" class="cbp-caption">#}
                                    {#<div class="cbp-caption-defaultWrap">#}
                                        {#{% set curImg = (site.webPath) ? site.webPath : '/assets/img/portfolio/01.jpg' %}#}
                                        {#<img src="{{ asset(curImg) }}" alt="" width="100%">#}
                                    {#</div>#}
                                    {#<div class="cbp-caption-activeWrap">#}
                                        {#<div class="cbp-l-caption-alignCenter">#}
                                            {#<div class="cbp-l-caption-body">#}
                                                {#<div class="cbp-l-caption-text">{{ site.name }}</div>#}
                                                {#{% if site.shortDescription %}#}
                                                {#<p class="cbp-l-caption-desc">{{ site.shortDescription }}</p>#}
                                                {#{% endif %}#}
                                            {#</div>#}
                                        {#</div>#}
                                    {#</div>#}
                                {#</a>#}
                            {#</li>#}
                            {#{% endfor %}#}
                        {#</ul>#}
                    {#</div>#}
                {#</div>#}

                <!--/End Wrapper Portfolio-->
                {#
                {% for site in sites %}
                    <div class="col-md-4 col-sm-6">
                        <div class="service-block service-block-default">
                            <i class="icon-custom icon-color-dark rounded-x fa fa-lightbulb-o"></i>
                            <h2 class="heading-md">{{ site.name }}</h2>
                            {% if site.description %}
                                <p class="cbp-l-caption-desc">{{ site.description }}</p>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
                #}
                {#<div class="row margin-bottom-10">#}
                    {#<div class="text-center">#}
                            {#{{ knp_pagination_render(sites, 'CoreCommonBundle:Fragments:pagination.html.twig',{},#}
                            {#{ routeFirsPage: 'core_common_catalog', routePage: 'core_common_catalog'}) }}#}
                    {#</div>#}
                {#</div>#}
            </div>
        </div>
    </div>

{% endblock %}