{% extends "CoreCommonBundle::main_layout.html.twig" %}

{# SEO - заголовки #}
{% block title %}PromoMaster.net{% endblock %}
{% block meta_keywords %}Контакты{% endblock %}
{% block meta_description %}Контакты{% endblock %}

{% block js_head %}
    {{ parent() }}

    <script type="text/javascript">
        jQuery(document).ready(function () {
            App.initSliders();
            ParallaxSlider.initParallaxSlider();
        });
    </script>

{% endblock %}

{% block content %}

    <div class="breadcrumbs">
        <div class="container">
            <h1 class="pull-left">Контакты</h1>
            <ul class="pull-right breadcrumb">
                <li><a href="{{ path('core_common_index') }}">Главная</a></li>
                <li class="active">Контакты</li>
            </ul>
        </div><!--/container-->
    </div>


    {#<div class="title-box-v2">#}
        {#<h2>О компании <span class="color-green">PromoMaster</span></h2>#}
        {#<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>#}
    {#</div>#}


    {#<div class="parallax-bg parallaxBg1" style="background-position: 50% 91px;">#}
        {#<div class="container content parallax-about">#}
            {#<div class="title-box-v2">#}
                {#<h2>Идея стартапа</h2>#}
                {#<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>#}
            {#</div>#}

            {#<div class="row">#}
                {#<div class="col-md-6">#}
                    {#<div class="banner-info light margin-bottom-10">#}
                        {#<i class="rounded-x icon-bell"></i>#}
                        {#<div class="overflow-h">#}
                            {#<h3>Our mission</h3>#}
                            {#<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus tincidunt sit amet dui auctor pellentesque. Nulla ut posuere purus.</p>#}
                        {#</div>#}
                    {#</div>#}
                    {#<div class="banner-info light margin-bottom-10">#}
                        {#<i class="rounded-x fa fa-magic"></i>#}
                        {#<div class="overflow-h">#}
                            {#<h3>Our vision</h3>#}
                            {#<p>Phasellus vitae rhoncus ipsum. Aliquam ultricies, velit sit amet scelerisque tincidunt, dolor neque consequat est, a dictum felis metus eget nulla.</p>#}
                        {#</div>#}
                    {#</div>#}
                    {#<div class="banner-info light margin-bottom-10">#}
                        {#<i class="rounded-x fa fa-thumbs-o-up"></i>#}
                        {#<div class="overflow-h">#}
                            {#<h3>We are good at ...</h3>#}
                            {#<p>Nunc ac ligula ut diam rutrum porttitor. Integer et neque at lacus placerat pretium eu ac dui. Class aptent taciti sociosqu ad litora torquent per conubia nostra.</p>#}
                        {#</div>#}
                    {#</div>#}
                    {#<div class="margin-bottom-20"></div>#}
                {#</div>#}
                {#<div class="col-md-6">#}
                    {#<img class="img-responsive" src="assets/img/mockup/1.png" alt="">#}
                {#</div>#}
            {#</div>#}
        {#</div><!--/container-->#}
    {#</div>#}
    <div class="container content">
        <div class="row">
            <div class="col-md-9 mb-margin-bottom-30">
                <div class="headline">
                    <h2>Задайте нам вопрос</h2>
                </div>
                <p>Мы постоянно работаем над качеством сайта, удобством его использования и повышением уровня наших услуг.
                    Если у вас есть какие-либо предложения, пожелания, комментарии, вопросы или проблемы при использовании
                    нашего сервиса, заполните, пожалуйста, форму, чтобы связаться с нами.</p>
                <p>Пожалуйста, для оформления и оплаты заказа ознакомьтесь с разделом <a href="{{path('core_faq_homepage')}}">Помощь</a>.</p>
                {% for flashMessage in app.session.flashbag.get('ticket_success') %}
                    <div class="alert alert-success fade in">
                        {{ flashMessage|trans({}) | raw}}
                    </div>
                {% endfor %}
                {% include 'CoreTroubleTicketBundle:TroubleTicket:form.html.twig' %}
            </div>
            <div class="col-md-3">
                <!-- Contacts -->
                <div class="headline"><h2>Контакты</h2></div>
                <ul class="list-unstyled who margin-bottom-30">
                    <li class="onlinechat"><a  href="#"><i class=" fa fa-comments-o"></i>Онлайн-поддержка</a></li>
                    <li>
                        <script type="text/javascript">
                            <!--
                            var title = "info"+"@"+"promomaster.net";
                            var email = "info";
                            var emailHost = "promomaster.net";
                            document.write("<a href=" + "mail" + "to:" + email + "@" + emailHost+ "><i class='fa fa-envelope'></i>" + title + "</a>");
                            //-->
                        </script>

                    </li>
                    {#<li><a href="#"><i class="fa fa-phone"></i>1(222) 5x86 x97x</a></li>#}
                    <li><a href="#"><i class="fa fa-skype"></i>promomaster.net</a></li>
                    <li><a href="#"><i class="fa fa-globe"></i>https://promomaster.net</a></li>

                </ul>
                <!-- End Contacts -->
                <!-- Business Hours -->
                <div class="headline"><h2>Часы работы</h2></div>
                <ul class="list-unstyled margin-bottom-30">
                    <li><strong>Пон.-пят.:</strong> 9.00-18.00</li>
                    <li><strong>Суббота:</strong> выходной</li>
                    <li><strong>Воскресенье:</strong> выходной</li>
                </ul>

                <img  src="/assets/img/master/contacts.png" alt="">
            </div>
        </div>
    </div>

{% endblock %}



{#
{% extends "CoreCommonBundle::main_layout.html.twig" %}
{% block title %}Контакты{% endblock %}
{% block meta_keywords %}Контакты{% endblock %}
{% block meta_description %}Контакты{% endblock %}

{% block content %}

<div class="breadcrumbs">
    <div class="container">
        <h1 class="pull-left">Контактная информация</h1>
        <ul class="pull-right breadcrumb">
            <li>
                <a href="{{path('core_common_index')}}">OliKids</a>
            </li>
            <li class="active">Контактная информация</li>
        </ul>
    </div>
</div>
<div class="container content">
    <div class="row margin-bottom-30">
        <div class="col-md-9 mb-margin-bottom-30">
            <div class="headline">
                <h2>Задайте нам вопрос</h2>
            </div>
            <p>Мы постоянно работаем над качеством сайта, удобством его использования и повышением уровня наших услуг.
                Если у вас есть какие-либо предложения, пожелания, комментарии, вопросы или проблемы при использовании
                нашего сервиса, заполните, пожалуйста, форму, чтобы связаться с нами.</p>
            <p>Пожалуйста, для оформления и оплаты заказа ознакомьтесь с разделом <a href="{{path('core_faq_homepage')}}">Помощь</a>.</p>
            {% for flashMessage in app.session.flashbag.get('ticket_success') %}
                <div class="alert alert-success fade in">
                    {{ flashMessage|trans({}) | raw}}
                </div>
            {% endfor %}
            {% include 'CoreTroubleTicketBundle:TroubleTicket:form.html.twig' %}
        </div>

        <div class="col-md-3">
            <!-- Contacts -->
            <div class="headline"><h2>Contacts</h2></div>
            <ul class="list-unstyled who margin-bottom-30">
                <li><a href="#"><i class="fa fa-home"></i>5B Streat, City 50987 New Town US</a></li>
                <li><a href="#"><i class="fa fa-envelope"></i>info@example.com</a></li>
                <li><a href="#"><i class="fa fa-phone"></i>1(222) 5x86 x97x</a></li>
                <li><a href="#"><i class="fa fa-globe"></i>http://www.example.com</a></li>
            </ul>

            <!-- Business Hours -->
            <div class="headline"><h2>Business Hours</h2></div>
            <ul class="list-unstyled margin-bottom-30">
                <li><strong>Monday-Friday:</strong> 10am to 8pm</li>
                <li><strong>Saturday:</strong> 11am to 3pm</li>
                <li><strong>Sunday:</strong> Closed</li>
            </ul>

            <!-- Why we are? -->
            <div class="headline"><h2>Why we are?</h2></div>
            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum.</p>
            <ul class="list-unstyled">
                <li><i class="fa fa-check color-green"></i> Odio dignissimos ducimus</li>
                <li><i class="fa fa-check color-green"></i> Blanditiis praesentium volup</li>
                <li><i class="fa fa-check color-green"></i> Eos et accusamus</li>
            </ul>
        </div>

    </div>
</div>
{% endblock %}
#}
