{% extends "ApplicationSonataUserBundle::cabinet_layout.html.twig" %}

{# SEO - заголовки #}
{% block title %}Обращение №{{ ticket.id }} от {{ ticket.createdDateTime|date('d.m.Y, H:i', default_timezone) }}{% endblock %}
{% block meta_keywords %}обращение, ответ{% endblock %}
{% block meta_description %}Обращение №{{ ticket.id }} от {{ ticket.createdDateTime|date('d.m.Y, H:i', default_timezone) }}. Как только представитель сервиса ответит Вам - Вы увидите ответ на этой странице.{% endblock %}

    {% block breadcrumbs %}
        <!--=== Breadcrumbs ===-->
        <div class="breadcrumbs">
            <div class="container">
                <h1 class="pull-left">Техподдержка</h1>
                <ul class="pull-right breadcrumb">
                    <li>
                        <a href="{{ path('core_common_index') }}">На главную</a>
                    </li>
                    <li>
                        <a href="{{ path('sonata_user_profile_show') }}">Кабинет</a>
                    </li>
                    <li>
                        <a href="{{app.user ? path('trouble_ticket_index_auth') : path('trouble_ticket_index',{'owner':ticket.owner})}}">Техподдержка</a>
                    </li>
                    <li class="active">{{ticket.title}}</li>
                </ul>
            </div>
        </div>
        <!--=== End Breadcrumbs ===-->
    {% endblock %}


{% block sub_content %}
    <div >
    <div class="panel panel-profile">
        <div class="headline">
            <h3>{{ticket.title}}</h3>
            <p class="pull-right" >
                <span class="label rounded label-default">&numero;{{ticket.id}} от {{ticket.createdDateTime | date('d.m.Y, H:i', default_timezone)}}</span>
                </p>
        </div>
        {% if ticket.body or (ticket.file | length) %}
            <div class="margin-bottom-50">
                {{ticket.body | nl2br}}
                {% if ticket.file | length %}
                    <div class="overflow-h">
                        <h3 class="panel-title heading-sm pull-left">Прикрепленные файлы:</h3>
                    </div>
                    <br>
                    <ul class="list-unstyled">

                        {% for file in ticket.file %}
                            <li>
                                <a href="{{ asset(file|getFileWebPath) }}"><i class="icon-doc"></i>&nbsp;{{file.name}}</a>
                            </li>
                        {% endfor %}

                    </ul>
                {% endif %}
            </div>
        {% endif %}

        {% set isHasAnswer=false %}
        {% if ticket.logs | length %}
            <div class="panel-heading overflow-h">
                <h2 class="panel-title heading-sm pull-left"><i class="fa fa-comments"></i>Обсуждение</h2>
                <div class="pull-right">
                    {#<a target="blank" href="{{ path('trouble_ticket_edit', {'hash':ticket.hash, 'print': 'true'})}}" class="print with_icon text_tgl">Напечатать</a>#}
                    <a href="javascript:void(0);" class="  {% if ticket.status.isEditable %}fa fa-unlock-alt close-ticket{% else %}fa fa-lock  {% endif %}" data-id="{{ticket.id}}">
                        {%  if  ticket.status.isEditable %}
                            &nbsp;Закрыть обращение
                            {% else %}
                             &nbsp;Обращение закрыто
                        {% endif %}
                    </a>
                </div>
            </div>


            {% for log in ticket.logs %}
                {% if log.message %}

                <div class="media media-v2">
                    <a href="#" class="pull-left">

                        <img alt="" {% if log.manager %}src="{{ asset('assets/img/avatar.png') }}"
                             class="media-object rounded"
                        {% else %}src="{{ asset('assets/img/user.jpg') }}"
                             class="media-object rounded-x"
                                {% endif %} >
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">

                            {% if log.manager %}
                                {% set isHasAnswer=true %}
                                <strong>{{(log.manager.fullName) ? log.manager.fullName : log.manager.userName}}</strong>
                            {% elseif ticket.authorName %}
                                <strong>{{ ticket.authorName }}</strong>
                            {% else %}
                                <strong>{{ ticket.authorEmail }}</strong>
                            {% endif %}


                            {#<strong><a href="#">Eva Nelson</a></strong> @EvaNelson#}
                            <small>{{log.date | date('d.m.Y, H:i', default_timezone)}}</small>
                        </h4>
                        {% if log.message %}
                            <p>{{log.message.body | nl2br}}</p>
                        {% endif %}

                    </div>
                </div>
                {% endif %}
            {% endfor %}



        {% endif %}


        {% if not isHasAnswer and ticket.status.isEditable %}
        <div class="media media-v2">
            <p><i>Спасибо за ваш вопрос! В ближайшее время наши специалисты дадут на него ответ.</i></p>
        </div>
        {% endif %}

        {% if ticket.status.isEditable %}
        <div class="panel-heading overflow-h">
            <form id="discuss-form" class="sky-form sky-form-other-style" action="{{ path('trouble_ticket_edit',{'hash':ticket.hash}) }}" {{ form_enctype(form) }} method="POST">
                <div class="row margin-bottom-20{% if form_errors(form.body)%} state-error{% endif %}">
                    {{ form_widget(form.body,{ 'attr': {'class': 'form-control'} }) }}
                    {{ form_errors(form.body) }}
                    {{form_rest(form)}}
                </div>
                <div class="text-right">
                    <button class="btn-u">
                        <span>Добавить</span>
                    </button>
                </div>
            </form>
        </div>
        {% endif %}
    </div>
    </div>
{% endblock %}
{% block js_head %}
    {{ parent() }}
    <script>
        'use strict';
        (function($){
            $(function(){
                var addHash = function() {
                    var contactForm = $('.contacts_form'),
                            errors = $('.form_field_error',contactForm);
                    if (errors.length) {
                        $('html, body').animate({
                            scrollTop: contactForm.offset().top
                        }, 10);
                    }
                }
                addHash();

                // ticket closing
                $('.close-ticket').click(function(){
                    var $this = $(this),
                        msgForm = $('#discuss-form');

                    $.ajax({
                        type: "POST",
                        url: "{{ path('trouble_ticket_close', {id:ticket.id}) }}",
                        success: function(data){
                            if (data.status) {
                                $this.removeClass('close-ticket').addClass('closed').html('<i class="icon icon-lock"></i>&nbsp;' + data.status);
                                msgForm.remove();
                            }
                        },
                        error: function(){
                            console.log('error');html()
                        }

                    });
                    return false;
                });
            })
        })(jQuery)

        var readTicket = function(route) {
            $.ajax({
                type: "POST",
                url: "{{ path('trouble_ticket_read', {hash:ticket.hash}) }}",
                success: function(data){
                    if (!data.status) {
                        console.log(data.status)
                    } else {
                        console.log(data)
                    }
                },
                error: function(){
                    console.log('error');
                }
            });
        }
    </script>

{% endblock %}