    <form id="contact-form" action="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}" {{ form_enctype(form) }} method="POST">
        {{form_label(form.authorName)}}
        <div class="row margin-bottom-20">
            <div class="col-md-7 col-md-offset-0">
                {{form_widget(form.authorName, { 'attr': { 'class': 'form-control'} })}}
            </div>
        </div>

        {{form_label(form.authorEmail)}}
        <div class="row margin-bottom-20">
            <div class="col-md-7 col-md-offset-0">
                {{form_widget(form.authorEmail, { 'attr': { 'class': 'form-control'} })}}
            </div>
        </div>

        {{form_label(form.category)}}
        <div class="row margin-bottom-20">
            <div class="col-md-7 col-md-offset-0">
                {{form_widget(form.category, { 'attr': { 'class': 'form-control'} })}}
            </div>
        </div>

        {{form_label(form.title)}}
        <div class="row margin-bottom-20">
            <div class="col-md-7 col-md-offset-0">
                {{form_widget(form.title, { 'attr': { 'class': 'form-control'} })}}
            </div>
        </div>

        {{form_label(form.body)}}
        <div class="row margin-bottom-20">
            <div class="col-md-7 col-md-offset-0">
                {{form_widget(form.body, { 'attr': { 'class': 'form-control'} })}}
            </div>
        </div>

        {{form_label(form.file)}}
        <div class="row margin-bottom-20">
            <div class="col-md-7 col-md-offset-0">
                {{form_widget(form.file, { 'attr': { 'class': 'btn-u'} })}}
            </div>
        </div>

        {% if form.captcha is defined %}
        {{form_label(form.captcha)}}
        <div class="row margin-bottom-20">
            <div class="col-md-7 col-md-offset-0">
                {{form_widget(form.captcha, { 'attr': { 'class': 'form-control'} })}}
            </div>
        </div>
        {% endif %}
        {{form_rest(form)}}
        <p>
            <button class="btn-u" type="submit">Отправить</button>
        </p>
    </form>