{% extends 'CoreTroubleTicketBundle::layout.html.twig' %}

{# SEO - заголовки #}
{% block title %}Обращения и жалобы | OliKids.ru{% endblock %}
{% block meta_keywords %}обращения, жалобы{% endblock %}
{% block meta_description %}Список Ваших обращений и жалоб интернет-магазину OliKids.{% endblock %}

{% block trouble_ticket_content %}
    <section class="cabinet_discussions">
        <div>
            <h3 class="pull_right marg_off">
                <a href="{{path('trouble_ticket_contact')}}#ask-a-question">{{'ticket.create' | trans()}}</a>
            </h3>
        {% if app.user %}
            <h2>Мои обращения</h2>
            {% else %}
            <h1>Мои обращения</h1>
        {% endif %}
        </div>
        {% for ticket in tickets %}
            <dl class="cabinet_discussions_list">
                <dt class="cabinet_discussion_item">
                    {% if ticket.adminAnswers %}
                    <span class="cabinet_discussion_item_status cabinet_discussion_status updated">
                        <span class="notice_indicator">{{ticket.adminAnswers}}</span> Обновлен
                    </span>
                    {% else %}
                        <span class="cabinet_discussion_item_status cabinet_discussion_status {{ticket.status.sysname}}">
                            {{ticket.status.captionRu}}
                        </span>
                    {% endif %}
                    <a href="{{path('trouble_ticket_edit',{'hash':ticket.hash})}}" class="cabinet_discussion_item_theme">{{ticket.title}}</a>
                    <span class="cabinet_discussion_item_info">{{ticket.createdDateTime | date('d.m.Y, H:i', default_timezone)}}</span>
                    <span class="cabinet_item_discussion_info">&numero;{{ticket.id}}</span>
                </dt>
                {% if ticket.body %}
                    <dd class="cabinet_discussion_item_preview">{{ ticket.body  | nl2br }}</dd>
                {% endif %}
            </dl>
            {% else %}
                <div class="attention_box">
                    <h6>{{'tickets not found' | trans}}</h6>
                </div>
        {% endfor %}
    </section>
{% endblock %}
