{% extends "ApplicationSonataUserBundle::cabinet_layout.html.twig" %}

{# SEO - заголовки #}
{# SEO - заголовки #}
{% block title %}Обращения и жалобы{% endblock %}
{% block meta_keywords %}обращения, жалобы{% endblock %}
{% block meta_description %}Список Ваших обращений и жалоб.{% endblock %}

    {% block breadcrumbs %}
        <!--=== Breadcrumbs ===-->
        <div class="breadcrumbs">
            <div class="container">
                <h1 class="pull-left">Техподдержка</h1>
                <ul class="pull-right breadcrumb">
                    <li>
                        <a href="{{ path('core_common_index') }}">На главную</a>
                    </li>
                    <li>
                        <a href="{{ path('sonata_user_profile_show') }}">Кабинет</a>
                    </li>
                    <li class="active">Техподдержка</li>
                </ul>
            </div>
        </div>
        <!--=== End Breadcrumbs ===-->
    {% endblock %}


{% block sub_content %}
    <div >
        <div class="headline">
            <h2>Мои обращения</h2>
            <a class="pull-right btn-u" style="display: inline-block;" href="{{path('trouble_ticket_contact')}}#ask-a-question">{{'ticket.create' | trans()}}</a>
        </div>
        <ul class="timeline-v2">
            {% for ticket in tickets %}
            <li>
                <time datetime="" class="cbp_tmtime">
                    <span>{{ticket.createdDateTime | date('d.m.Y H:i', default_timezone)}}</span>
                    {% if ticket.adminAnswers %}
                        <span>Обновлен</span>
                        {% else %}
                        {# Какой то глюк но рус заголовок статутса получить не удается #}
                        {% set statuses = {'novaia': 'Новая', 'zakryto': 'Закрыто', 'utochniaietsia': 'Уточняется', 'rieshieno': 'Решено', 'closed': 'Закрыт', 'vypolnien': 'Выполнен', }  %}
                        {% if statuses[ticket.status.sysname] is defined %}
                        <span>
                            {{ statuses[ticket.status.sysname]}}
                        </span>
                        {% endif %}
                    {% endif %}
                </time>
                <i class="cbp_tmicon rounded-x hidden-xs"></i>
                <div class="cbp_tmlabel rounded-3x" >
                    <h2>
                        <a href="{{path('trouble_ticket_edit',{'hash':ticket.hash})}}" class="cabinet_discussion_item_theme">{{ticket.title}}</a>
                    </h2>
                    {% if ticket.body %}
                        <p>{{ ticket.body  | nl2br }}</p>
                    {% endif %}
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
