{% if adcompany.id %}
    <h3>Редактирование рекламной компании</h3>
{% else %}
    <h3>Добавление новой рекламной компании</h3>
{% endif %}


<form style="clear: both" class="sky-form sky-form-other-style"
      action="{% if adcompany.id %}{{ path('core_cabinet_adcompany_edit', {id: adcompany.id}) }}{% else %}{{ path('core_cabinet_adcompany_create') }}{% endif %}" {{ form_enctype(form) }}
      method="POST">
    <fieldset class="sky-form-other-style">

        <div class="row margin-bottom-20">
            <div class="col-lg-6{% if form_errors(form.name) %} state-error{% endif %}">
                {{ form_label(form.name) }}
                {{ form_widget(form.name,{ 'attr': {'class': 'form-control'} }) }}
                <span class="note">Укажите произвольное название рекламной компании.</span>
                {{ form_errors(form.name) }}
            </div>
        </div>
        <div class=" margin-bottom-20">

            <div
                    class="placements-container{% if form_errors(form.placements) %} state-error{% endif %}"
                    {#{% if form.placements.vars.prototype is defined %}#}
                    {#data-prototype="#}
                    {#{% filter escape %}#}
                    {#{{ include(#}
                    {#'CoreAdCompanyBundle:Placement\\Cabinet\\Form:form_placement_inner.html.twig',#}
                    {#{ 'form': form.placements.vars.prototype, 'fieldGroupClass': 'col-sm-12'}#}
                    {#) }}#}
                    {#{% endfilter %}"#}
                    {#{% endif %}#}
                    >
                <div class="row">
                    <div class="col-sm-6">
                        {#{{ form_label(form.placements) }}#}
                        <div>
                            <a class="btn-u btn-u-xs add-placement" href="javascript:void(0);">
                                <i class="fa fa-plus-square"></i><span>&nbsp;Добавить размещение</span>
                            </a>
                        </div>
                    </div>
                </div>
                <br>

                <div class="placements-container-in">
                    {% set  placements=adcompany.placements%}
                            {% include "@CoreAdCompany/AdCompany/Cabinet/Form/placements.html.twig" %}
                    {% do form.placements.setRendered(true) %}
                </div>

                <span class="note">Добавьте рекламные материалы и настройте показы.</span>
            </div>
        </div>

        <hr>
        <div class="row margin-bottom-20">
            <div {% if not form.startDateTime.vars.value %}  style="display: none"  {% endif %}
                    class="col-sm-6  {% if form_errors(form.startDateTime) %}state-error{% endif %}">
                <label>Дата начала показов</label>
                <label class="input">
                    <i class="icon-append fa fa-calendar"></i>
                    {{ form_widget(form.startDateTime,{ 'attr': {'class': 'form-control date startDateTime'} }) }}
                </label>

                {{ form_errors(form.startDateTime) }}
            </div>


            <div class="col-sm-6">
                <label class="startDateTimeStartLabel">{% if not form.startDateTime.vars.value %}Дата начала показов{% endif %}</label>

                <div class="inline-group">
                    <label class="radio"><input {% if form.startDateTime.vars.value %}  checked=""  {% endif %}
                                class="startDateTimeStart" value="1" type="radio" name="dateSettingsStart"><i
                                class="rounded-x"></i>По
                        дате</label>
                    <label class="radio"><input {% if not form.startDateTime.vars.value %}  checked=""  {% endif %}
                                class="startDateTimeStart" value="0" type="radio" name="dateSettingsStart"><i
                                class="rounded-x"></i>Начать
                        показ сразу</label>
                </div>
            </div>
        </div>


        <div class="row margin-bottom-20">
            <div {% if not form.finishDateTime.vars.value %}  style="display: none"  {% endif %}
                    class="col-sm-6  {% if form_errors(form.finishDateTime) %}state-error{% endif %}">
                <label>Дата окончания показов</label>

                <label class="input">
                    <i class="icon-append fa fa-calendar"></i>
                    {{ form_widget(form.finishDateTime,{ 'attr': {'class': 'form-control date finishDateTime'} }) }}
                </label>

            </div>

            <div class="col-sm-6">
                <label class="finishDateTimeFinishLabel">{% if not form.finishDateTime.vars.value %}Дата окончания показов{% endif %}</label>

                <div class="inline-group">
                    <label class="radio"><input {% if form.finishDateTime.vars.value %}  checked=""  {% endif %}
                                class="finishDateTimeFinish" value="1" type="radio" name="dateSettingsFinish"><i
                                class="rounded-x"></i>По
                        дате</label>
                    <label class="radio"><input {% if not form.finishDateTime.vars.value %}  checked=""  {% endif %}
                                class="finishDateTimeFinish" value="0" type="radio" name="dateSettingsFinish"><i
                                class="rounded-x"></i>Показывать бесконечно</label>
                </div>
            </div>
        </div>

        <div id="def-countries"
             class="row margin-bottom-20 {% if form_errors(form.defaultCountries) %}state-error{% endif %}">
            <div class="col-sm-6">

                <label>Страны</label>

                <div class="pull-right">
                    <a class="btn-u btn-u-xs country-select" href="javascript:void(0);">
                        <i class="fa fa-plus-square"></i>
                        <span>&nbsp;Выбрать страны</span>
                    </a>
                </div>
                {{ form_widget(form.defaultCountries,{ 'attr': {'class': 'form-control'} }) }}
                <span class="note">Укажите для каких стран будет показана реклама.</span>
                {{ form_errors(form.defaultCountries) }}

            </div>
        </div>


        <div class="row margin-bottom-20 {% if form_errors(form.isEnabled) %}state-error{% endif %}">
            <div class="col-sm-6">
                <label class="checkbox">
                    {{ form_widget(form.isEnabled) }}<i></i> {{ form.isEnabled.vars.label }}</label>
                {{ form_errors(form.isEnabled) }}
                </label>
            </div>
        </div>

        <div class="margin-bottom-20">
        </div>

        {{ form_rest(form) }}

        <div class="text-right">
            <button class="btn-u" type="submit">{% if adcompany.id %}Сохранить{% else %}Добавить{% endif %}</button>
            &nbsp;&nbsp;
            <a href="{{ path('core_cabinet_adcompany_list_first_page') }}" class="btn-u btn-u-default">Отмена</a>
            {% if adcompany.id %}
                &nbsp;&nbsp; или &nbsp;&nbsp;
                <a href="javascript:void(0);" class="delete btn-u btn-u-red">Удалить</a>
            {% endif %}

        </div>
        <div id="modal-top-placement"></div>
        <div id="modal-inner-placement"></div>
        <div id="modal-inner-inner-placement"></div>
    </fieldset>
</form>

<div id="placement-modal-container">
    <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="placement-modal-content"
         class="modal fade"
         style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                    <h4 id="myModalLabel" class="modal-title">Добавление нового размещения в систему</h4>

                    <div class="modal-content-wr">
                        {#<form style="clear: both" class="sky-form sky-form-other-style" action="#" method="POST">#}
                        {#<div class="modal-body">#}
                        {#<div class="row">#}
                        {#</div>#}
                        {#</div>#}
                        {#<div class="modal-footer">#}
                        {#<button class="btn-u btn-u-primary" type="submit">Добавить</button>#}
                        {#&nbsp;&nbsp;#}
                        {#<button data-dismiss="modal" class="btn-u btn-u-default" type="button">Отмена</button>#}
                        {#</div>#}
                        {#</form>#}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% block js %}

    <script>
        $(function () {
            initCalendarFromTo('startDateTime', 'finishDateTime');

            {% if adcompany.id %}
            $('.delete').click(function () {
                var res = confirm('Вы действительно хотите удалить эту рекламную компанию из системы?');
                if (res) {
                    window.location.href = '{{ path('core_cabinet_adcompany_delete', {id:adcompany.id}) }}';
                }
            });
            {% endif %}


            // collection manipulation
            var $addTagLink = $('.add-placement'),
                    $collectionHolder = $('.placements-container');

            $collectionHolder.data('index', $collectionHolder.find('.collection-row').length);

            $addTagLink.on('click', function (e) {
                addTagForm($collectionHolder);

                return false;
            });


            function addTagForm($collectionHolder) {
                var
                //prototype = $collectionHolder.data('prototype'),
                        index = $collectionHolder.data('index'),
                        placement = $('#placement-modal-container .modal-body .row'),
                        modalContainer = $('#placement-modal-content');
                //  newForm = prototype.replace(/__name__/g, index + 1);

                $.ajax({
                    url: "{{ path('core_cabinet_placement_get_create_form') }}",
                    method: 'POST',
                    success: function (data) {

                        $collectionHolder.data('index', index + 1);
                        placement.attr('data-id', $collectionHolder.data('index'));
                        //placement.html(data);
                        $('.modal-content-wr').html(data);
                        $('#modal-top-placement, #modal-inner-placement').html('');
                        modalContainer.modal('show');
                    }
                });

            }

            // remove placement
            $('body').on('click', '.placement-remove', function () {

                var id = $(this).attr('data-id');
                res = confirm('Вы уверены, что хотите удалить размещение?');
                if (res) {
                    var $this = $(this),
                            curRow = $this.parents('.collection-row');
                    $.ajax({
                        url: "{{ path('core_cabinet_adplaces_placements_ajax_remove') }}",
                        data: 'id=' + $this.attr('data-id'),
                        method: 'POST',
                        success: function (data) {
                            if (data.result) {
                                reloadPlacements();
                            } else {
                                alert(data.msg);
                            }
                        }
                    });
                }

                return false;
            });

            //edit ajax href
            $('body').on('click', '.edit-placement', function () {
                var $this = $(this),
                        innerModal = $('#modal-inner-placement'),
                        placement = $('#modal-top-placement');
                $.ajax({
                    url: $this.attr('href'),
                    method: 'GET',
                    success: function (data) {
                        if (data.result) {
                            $('#placement-modal-content .row').html('');
                            placement.html('');
                            placement.html($(data.data));
                            innerModal.html('');
                            $('#placement-modal').modal('show');
                        } else {
                            alert(data.msg);
                        }
                    }
                });

                return false;
            });
            // fake placement submit
            $('#placement-modal-content').on('submit', 'form', function () {

                $.ajax({
                    type: 'POST',
                    url: '{{ path('core_cabinet_placement_create_ajax', {adcompany_id:adcompany.id}) }}',
                    data: $(this).serialize(),
                    success: function (data) {
                        if (typeof data.id !== 'undefined') {

                            reloadPlacements();
                            $('#placement-modal-content').modal('hide');
                        }
                        else {
                            $('.modal-content-wr').html(data);
                        }

                    },
                    error: function () {
                        //$('> .row', parentBlock).clone()
                        console.log('error');
                    }
                });

                return false;

            });


            function reloadPlacements() {
                $.ajax({
                            type: 'POST',
                            url: '{{ path('core_cabinet_placement_get_placements', {adcompany_id:adcompany.id}) }}',
                            success: function (data) {
                                    $('.placements-container-in').html(data);
                            }
                        });
            }


            $('body').on('change', //'#placement-modal-content .modal-body > .row:first select', function(){
                    '#placement-modal-content .modal-body > .row:first input[type="checkbox"], ' +
                    '#placement-modal-content .modal-body > .row:first input[type="radio"], ' +
                    '#placement-modal-content .modal-body > .row:first select', function () {
                        var $element = $(this),
                                curValue;
                        if ($element.is('select')) {
                            var curValue = $element.val();
                            $('option', $element).removeAttr('selected');
                            if (curValue) {
                                $('option[value="' + curValue + '"]', $element).attr('selected', 'selected');
                            }
                        }
                        else if ($element.is('input[type="radio"]')) {
                            $element.attr('checked', 'checked');
                            $('#placement-modal-content input[name="' + $element.attr('name') + '"]')
                                    .filter(':not([value=' + $element.val() + '])')
                                    .removeAttr('checked');
                        } else {
                            if ($element.prop('checked')) {
                                $element.attr('checked', 'checked');
                            } else {
                                $element.removeAttr('checked');
                            }
                        }
                    });

            // remove new placement
            $('.placements-container').on('click', '.placement-remove-new', function () {
                $(this).parents('.collection-row').remove();
            });

            //edit new placement
            $('.placements-container').on('click', '.edit-placement-new', function () {
                var modalPlacement = $('#placement-modal-container .modal-body .row'),
                        parentBlock = $(this).parents('.collection-row'),
                        modalContainer = $('#placement-modal-content'),
                        curId = parentBlock.attr('data-id');
                modalPlacement.replaceWith($('> .row', parentBlock).clone().show());
                modalContainer.modal('show');
                $('#modal-top-placement, #modal-inner-placement').html('');
            });

            //applySection();
        });

        function applySection() {
            var adPlacesContainer = $('#ad_company_type_adPlaces'),
                    curSite = $('#ad_company_type_site'),
                    adPlaceSelectors = ['option[value=""]'],
                    adPlacementContainer = $('.placements-container-in');
            if ($('#ad_company_type_adPlaces').val() && !$('.placements-container-in .edit-placement').length) {
                $.ajax({
                    url: "{{ path('core_cabinet_site_adplaces') }}",
                    method: 'POST',
                    data: 'siteId=' + curSite.val(),
                    success: function (data) {
                        for (var key in data) {
                            adPlaceSelectors.push('option[value="' + data[key].id + '"]');
                        }
                        $(':not(' + adPlaceSelectors.join(', ') + ')', adPlacesContainer).remove();
                        loadPlacements(adPlacesContainer);
                    }
                });
            }
        }

        function loadPlacements(adPlace) {
            var adPlacementContainer = $('.placements-container-in');
            $.ajax({
                url: "{{ path('core_cabinet_adplaces_placements') }}",
                method: 'POST',
                data: 'adPlaceId=' + adPlace.val(),
                success: function (data) {

                    for (var key in data) {
                        curHtml += '<div class="row collection-row">' +
                                '<div class="col-sm-4">' +
                                '<a class="edit-placement" style="margin: 8px 0; display: inline-block;" href="' + data[key].route + '">' +
                                'Размещение №' + data[key].id +
                                '</a>' +
                                '</div>' +
                                '<div class="col-sm-2">' +
                                '<div style="margin-top: 7px;">' +
                                '<a class="btn-u-xs btn-u btn-u-red placement-remove" href="javascript:void(0);" data-id="' + data[key].id + '">' +
                                '<i class="icon-close"></i>&nbsp;Удалить' +
                                '</a>' +
                                '</div>' +
                                '</div>' +
                                '</div>';
                    }

                    adPlacementContainer.html(curHtml);
                }
            });
        }

    </script>




{% endblock %}


