{% block sonata_nav %}         
    <style type="text/css" media="screen,print">
        table {font-family:San-Serif,Verdana,Arial;font-size:11px;border:1px solid #000;border-bottom:0;border-right:0;border-collapse: collapse;background-color: #fff;margin:20px 20px 60px 20px;width:1000px;}
        table td, table th {border: 1px solid #000; border-left: 0; border-top: 0; padding: 3px;}
        table td.num, table th.num {white-space:nowrap;text-align:right;font-weight: bold;background-color:#eee;}
        table thead th, table tfoot th,
        table thead td, table tfoot td {background-color:#eee;}
        table tbody td {background-color:#fff;}
        table tbo
    </style>
{%endblock%}
{% block sonata_admin_content %}
    <div style="margin-left:20px">
        <h2>Инвентаризация по складам
            {%if search.filter.only_free is defined and search.filter.only_free%}
                (только свободные позиции)
            {%else%}
                (всё, что лежит на складе)
            {%endif%}
        </h2>
        <p><strong>В данной статистике не отображаются товары, которых никогда не было на складе.
                Также не учитываются виртуальные позиции и позиции в пути.
            </strong></p>
    </div>
    <table style="width:{%if search.format=='pdf'%}100%{%else%}50%{%endif%}"  >
        <thead>
            <tr>
                <th style="width:5%">#</th>
                <th>Наименование</th>
                <th>Числится</th>
                <th>Списано</th>
            </tr>
        </thead>
        <tbody>
            {%if data.data is defined%}
                {%for d in data.data%}
                    <tr>
                        <td class="num">{{d.number}}</td>
                        <td>{{d.product.product_article}} {{d.product.product_captionRu}}</td>
                        <td>{{d.product.quantity}}</td>
                        <td>{{d.product.quantity_with_defect}}</td>
                    </tr>
                {%endfor%}

                <tr>
                    <td class="num"></td>
                    <td style="text-align: right"><b>Итого:</b></td>
                    <td><b>{{data.total_quantity}}</b></td>
                    <td><b>{{data.total_quantity_with_defect}}</b></td>
                </tr>
            {%endif%}
        </tbody>
    </table>

{%endblock%}

