{% extends "CoreCommonBundle::main_layout.html.twig" %}

{# SEO - заголовки #}
{% block title %}{% endblock %}
{% block meta_keywords %}{% endblock %}
{% block meta_description %}{% endblock %}

{% block content %}
    <!--=== Breadcrumbs ===-->
    <div class="breadcrumbs">
        <div class="container">
            <h1 class="pull-left">Регистрация</h1>
            <ul class="pull-right breadcrumb">
                <li><a href="{{ path('core_common_index') }}">На главную</a></li>
                <li class="active">Регистрация</li>
            </ul>
        </div>
        <!--/container-->
    </div><!--/breadcrumbs-->
    <!--=== End Breadcrumbs ===-->


    <!--=== Content Part ===-->
    <div class="container content">
        <div class="alert alert-success fade in margin-bottom-40">
            {% if user.userStatus==constant('Application\\Sonata\\UserBundle\\Entity\\User::USER_TYPE_WEBMASTER') %}
                <h4>Поздравляем {{ user.username }}, ваш аккаунт подтвержден!</h4>
                <a rel="float-shadow" href="{% if app.user %}{{ path('core_cabinet_site_create') }}{% else %}{{ path('fos_user_registration_register') }}{% endif %}"
                   class="btn-u btn-u-lg rounded-2x float-shadow">Добавить сайт в каталог системы</a>
            {% else %}
                <h4>Поздравляем {{ user.username }}, ваш аккаунт подтвержден!</h4>
                <a rel="float-shadow" href="{% if app.user %}{{ path('core_cabinet_adcompany_create') }}{% else %}{{ path('fos_user_registration_register') }}{% endif %}"
                   class="btn-u btn-u-lg rounded-2x float-shadow">Добавить рекламную кампанию</a>
            {% endif %}


            {#{% if app.session is not empty %}#}
            {#{% set targetUrl = app.session.get('_security.' ~ app.security.token.providerKey ~ '.target_path') %}#}
            {#{% if targetUrl is not empty %}<p><a href="{{ targetUrl }}">{{ 'registration.back'|trans({}, 'FOSUserBundle') }}</a></p>{% endif %}#}
            {#{% endif %}#}
        </div>
    </div><!--/container-->
    <!--=== End Content Part ===-->

{% endblock %}
