
{#**
 * Шаблон для вывода виджета загрузки файлов в бэкенде для картинок
 * При переопределении шаблона структура должна оставаться как есть, и обязательно должны быть все имеющиеся в шаблоне классы
 *
 * @author Sergeev A.M.
 * @copyright LLC "PromoMaster"
 *#}

{% use 'SonataAdminBundle:Form:form_admin_fields.html.twig' %}

{% block multiupload_image_widget %}

    <div id="field_container_{{ id }}" class="field-container">

<!-- clear -->

    {% if firstTable %}

        {% trans_default_domain 'CoreFileBundle' %}

        <link rel="stylesheet" href="{{ asset('bundles/corefile/tooltip/jquery.tooltip.css') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/corefile/jcrop/css/jquery.Jcrop.css') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/corefile/core_file.css') }}" />

        {% autoescape false %}

        <script>
            {% if app.session.get('core_file_image') [sonata_admin.admin.uniqid]['base64'] is defined %}
                var imageInBase64 = new Array();
                {% for imageName, base64 in app.session.get('core_file_image')[sonata_admin.admin.uniqid]['base64'] %}
                    imageInBase64['{{ imageName }}'] = '{{ base64 }}'
                {% endfor %}
            {% endif %}

            var imageMainInBase64;
            {% if app.session.get('core_file_image') [sonata_admin.admin.uniqid]['imageMainInBase64'] is defined %}
                imageMainInBase64 = '{{ app.session.get('core_file_image') [sonata_admin.admin.uniqid]['imageMainInBase64'] }}';
            {% endif %}


            var core_file_ajax_replace_image = '{{ path('core_file_ajax_replace_image') }}',
                core_file_ajax_upload_file = '{{ path('core_file_ajax_upload_file') }}',
                core_file_ajax_remove_file = '{{ path('core_file_ajax_remove_file') }}',
                core_file_ajax_google_api_add = '{{ path('core_file_ajax_google_api_add') }}',
                sonata_admin_append_form_element_image = [];
        </script>

        <script src="{{ asset('bundles/corefile/tooltip/jquery.tooltip.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/corefile/jcrop/js/jquery.Jcrop.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/corefile/core_file.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/corefile/core_file_image.js') }}" type="text/javascript"></script>

        <script src="{{ asset('bundles/corefile/google.api.search.images.js') }}" type="text/javascript"></script>

        {% endautoescape %}

        {# Окно-контейнер для кропа картинки #}
        <div id="jcrop-container" title="{{ 'form.multiupoad.crop_title'|trans }} ( )">
            <table class="table table-bordered" align="center" style="width:auto;">
                <tr>
                    <td><img id="jcrop-target" class="image-for-crop" data-background="{{ ServiceContainer.getParameter('core_file')['thumbnail_backgrond_color'] }}" src="" alt="Original"/></td>
                    <td class="text-center">
                        <div id="preview-pane">
                            <div class="preview-container">
                                <img class="jcrop-preview image-for-crop" src="" alt="Preview" />
                            </div>
                        </div>
                        <div class="clearfix"></div><br/>
                        <a id="crop-ok" class="btn btn-primary" title="{{ 'form.multiupoad.ok'|trans }}"><span class="icon-ok icon-white"></span> {{ 'form.multiupoad.ok'|trans }}</a>
                        &nbsp;&nbsp;&nbsp;
                        <a id="crop-cancel" class="btn btn-danger" title="{{ 'form.multiupoad.cancel'|trans }}"><span class="icon-remove icon-white"></span> {{ 'form.multiupoad.cancel'|trans }}</a>
                    </td>
                </tr>
            </table>
            <input class="coords-for-crop" type="hidden" id="coords-x1" name="coords[x1]">
            <input class="coords-for-crop" type="hidden" id="coords-y1" name="coords[y1]">
            <input class="coords-for-crop" type="hidden" id="coords-x2" name="coords[x2]">
            <input class="coords-for-crop" type="hidden" id="coords-y2" name="coords[y2]">
            <input class="coords-for-crop" type="hidden" id="coords-w" name="coords[w]">
            <input class="coords-for-crop" type="hidden" id="coords-h" name="coords[h]">
        </div>
        {#####################################}

        {# Окно-контейнер для картинок найденых через google #}
        <div id="google-api-search-images-container" title="Поиск картинок через интернет">
            <div id="gasi-controls">
                <input {% if google_api.search_field %}data-id-element-for-get-query="{{ uniqId }}_{{ google_api.search_field }}"{% endif %} class="gasi-query" type="text" id="gasi-query" name="gasi-query">
                <select id="gasi-imgsz">
                    <option value="medium">Очень маленькие</option>
                    <option value="large">Маленькие</option>
                    <option value="xlarge" selected="selected">Средние</option>
                    <option value="xxlarge">Большие</option>
                    <option value="huge">Очень большие</option>
                </select>
                <input type="submit" class="btn btn-primary" id="gasi-search" value="Поиск">
                <input type="submit" class="btn btn-success" id="gasi-add" value="Добавить выбранные">
            </div>
            <br>
            <br>
            <table class="table table-bordered" align="center" style="width: 100%;">
                <tr>
                    <td id="gasi-previews"></td>
                </tr>
            </table>
        </div>
        {#####################################}

    {% endif %}

    <script>
        {% autoescape false %}

            {# запоминаем ссылки для каждой коллекции на получение строки #}
            {% if app.request.get('subclass') %}
                {% set link_parameters = '&subclass=' ~ app.request.get('subclass') %}
            {% else %}
                {% set link_parameters = '' %}
            {% endif %}
            sonata_admin_append_form_element_image['{{ id }}'] = '{{ url('sonata_admin_append_form_element', {
                        'code':      sonata_admin.admin.root.code,
                        'elementId': id,
                        'objectId':  sonata_admin.admin.root.id(sonata_admin.admin.root.subject),
                        'uniqid':    sonata_admin.admin.root.uniqid,
                    }) ~ link_parameters }}';
        {% endautoescape %}
    </script>

    {# инпут для выбора файлов с нужними параметрами #}
    {% set loadNotFromCache = '?' ~ 'now'|date('U', default_timezone) %}
    <div class="pull-left">
        <a class="btn btn-large fake-input-file fake-input-file-main {% if is_main %}btn-to-upload-image-to-detect-color{% endif %}{% if form.vars.disabled %} disabled{% endif %}" title="{{ 'form.multiupoad.upload'|trans }}"><span class="icon-upload"></span> {% if (form.vars.attr.multiple is defined or form.children|length < 1) or not form.children|first.vars.value %}{{ 'form.multiupoad.upload'|trans }}{% else %}{{ 'form.multiupoad.upload_other'|trans }}{% endif %}</a>
        <input type="file" data-form_id_field="{{ id }}" {% if form.vars.disabled %}disabled="disabled"{% endif %} name="CoreFileBundleInput[{{ uniqId }}][filesToUpload][]" class="ajax-image-upload-main oneForOne{#hidden-always#} {{ form.vars.attr.class }}" {{ block('widget_attributes') }} accept="image/*" data-count_of_attached_files="{% if form.children|length and form.children|first.vars.value %}{{ form.children|length }}{% endif %}"/>

        {% if (google_api.use) %}

            <a class="btn btn-large google-api-search-images-btn{% if form.vars.disabled %} disabled{% endif %}" data-form_id_field="{{ id }}"><span class="icon-globe"></span> Поиск через интернет</a>

        {% endif %}

        <input type="hidden" class="ajax-form_id" name="CoreFileBundleInput[{{ uniqId }}][form_id]" value="{{ uniqId }}"/>
        <input type="hidden" class="ajax-id" name="CoreFileBundleInput[{{ uniqId }}][id]" value="{% if sonata_admin.admin.subject.id %}{{ sonata_admin.admin.subject.id }}{% else %}0{% endif %}"/>
        <input type="hidden" class="ajax-type" name="CoreFileBundleInput[{{ uniqId }}][type]" value="image"/>
        <input type="hidden" class="ajax-field" name="CoreFileBundleInput[{{ uniqId }}][fieldName]" value="{{ name }}"/>
        <input type="hidden" class="ajax-namespace_to_attach" name="CoreFileBundleInput[{{ uniqId }}][namespace_to_attach]" value="{{ namespace_to_attach }}"/>
        <input type="hidden" class="ajax-namespace_to_insert" name="CoreFileBundleInput[{{ uniqId }}][namespace_to_insert]" value="{{ namespace_to_insert }}"/>
        <input type="hidden" class="ajax-detect_dominant_color" value="{{ is_main }}"/>
        {#% if is_main %}
            <input type="hidden" class="detected-dominant-color" value="" />
        {% endif %#}

        <span class="counter-of-files">&nbsp;&nbsp;&nbsp;Отправлено файлов: <b class="count-of-sended">0</b> из <b class="count-all-to-send">0</b></span>
        &nbsp;&nbsp;&nbsp;
    </div>

    <div class="line10"></div>

    <div class="progress progress-info progress-file progress-striped active">
        <div class="bar" style="width: 0%;">
            <span>0%</span>
        </div>
    </div>

    <div class="clearfix"></div>
    <div class="alert alert-info ajax-info-main hidden hide-by-timer" data-hide-after="10">Вероятно цвет товара был изменен</div>
    <div class="alert alert-danger ajax-error-main hidden hide-by-timer" data-hide-after="25"></div>
    <div class="alert alert-success ajax-success-main hidden hide-by-timer" data-hide-after="10"></div>
    <div class="clearfix"></div>

<!-- /clear -->



    {# таблица с данными #}
    {% if not sonata_admin.field_description.hasassociationadmin %}
        {% for element in value %}
            {{ element|render_relation_element(sonata_admin.field_description) }}
        {% endfor %}
    {% else %}

    {% set index = 0 %}

    <span id="field_widget_{{ id }}"  class="field-container-tbl">
        {% if form.children|length > 0 and form.children|first.vars.value %}
            <table id="image-table_{{ id }}" class="table table-bordered image-table" style="width:{{ width }}">
                <thead>
                    <tr>
                        {% set keys = form.children|keys %}
                        {% for field_name, nested_field in form.children[keys|first].children %}
                            {% if (field_name not in hide_field and 'all' not in hide_field) or ('all' in hide_field and field_name in ['_delete', 'name', 'size', 'file', 'indexPosition']) %}
                                {% if field_name == '_delete' %}
                                    <th width="50" class="text-left nowrap" nowrap>
                                        {% if form.vars.attr.multiple is defined %}
                                            <input type="checkbox" class="select-all-for-delete" title="{{ 'form.multiupoad.select_all'|trans }}">&nbsp;
                                        {% endif %}
                                        {{ 'action_delete'|trans }}
                                    </th>
                                {% else %}
                                    {% set label = nested_field.vars['sonata_admin'].admin.trans(nested_field.vars.label|trans) %}
                                    <th {{ nested_field.vars['required']  ? 'class="required"' : '' }} {% if not label %}class="hidden"{% endif %}>
                                        {{ label }}
                                    </th>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </tr>
                </thead>
                <tbody class="sonata-ba-tbody">
                    {% for nested_group_field_name, nested_group_field in form.children %}
                        <tr class="main-row-collection">
                            {% for field_name, nested_field in nested_group_field.children %}
                                {% if (field_name not in hide_field and 'all' not in hide_field) or ('all' in hide_field and field_name in ['_delete', 'name', 'size', 'file', 'indexPosition']) %}
                                    <td class="sonata-ba-td-{{ id }}-{{ field_name }} control-group{% if nested_field.vars.errors|length > 0 %} error{% endif %} {% if (nested_field.vars.name == 'name' or nested_field.vars.name == 'indexPosition') and nested_field.vars.label == false %}hidden{% endif %}">
                                        {% if sonata_admin.field_description.associationadmin.formfielddescriptions[field_name] is defined %}
                                            {% if nested_field.vars.sonata_admin.admin.formFieldDescriptions[field_name].type == 'file' %}
                                                {# форма для редактирования картинок #}
                                                {% set i = nested_group_field.children[field_name].parent.vars.value %}
                                                {% set preview = configs['options'].preview %}
                                                <table id="form-{{ i.id }}">
                                                    <tr>
                                                        <td class="b-l-none">
                                                            <a class="open-original-image original-{{ configs['options'].original|keys|first }} {% if is_main %}image-to-detect-color{% endif %}" href="{{ asset(i|getFileWebPath('original', configs['options'].original|keys[0])) }}{{ loadNotFromCache }}" target="_blank" title="{{ 'form.multiupoad.view_original_image'|trans }}">
                                                                <img class="main-preview preview-{{ configs['prefix_preview_in_admin'] }}" width="{{ preview[configs['prefix_preview_in_admin']].size.w }}px" height="{{ configs['options'].preview[configs['prefix_preview_in_admin']].size.h }}px" src="{% if i|getFileWebPath('preview', configs['prefix_preview_in_admin']) and i.halfPath %}{{ asset(i|getFileWebPath('preview')) }}{{ loadNotFromCache }}{% endif %}"/>
                                                            </a>
                                                        </td>
                                                        <td>
                                                            {% for prefix, o in configs['options'].original %}
                                                                {#&nbsp;
                                                                <br>
                                                                <span class="btn-group">#}
                                                                    {#<a class="original-{{ prefix }} btn btn-small image-tooltip" href="{{ asset(i|getFileWebPath('original', prefix)) }}{{ loadNotFromCache }}" target="_blank" title="{{ 'form.multiupoad.view'|trans }}"><span class="icon-trash icon-eye-open"></span></a>#}
                                                                    {#<a class="original-{{ prefix }} btn btn-small fake-input-file" data-id="{{ i.id }}" title="{{ 'form.multiupoad.upload'|trans }}"><span class="icon-upload"></span></a>#}
                                                                    <span class="original-{{ prefix }} fake-input-file icon-upload {% if form.vars.disabled %} disabled icon-gray{% endif %}" data-id="{{ i.id }}" title="{{ 'form.multiupoad.upload'|trans }}"></span>
                                                                    <input type="file" {% if form.vars.disabled %}disabled="disabled"{% endif %} class="static original-file original-{{ prefix }} ajax-image-upload hidden-always" data-id="{{ i.id }}" data-width="0.1" data-height="0.1" data-replace="{{ asset(i|getFileWebPath('original', prefix)) }}" accept="{{ configs.mime_types|join(',') }}"/>
                                                                {#</span>#}
                                                                &nbsp;
                                                                <a class="original-{{ prefix }} image-tooltip main-image-tooltip" href="{{ asset(i|getFileWebPath('original', prefix)) }}{{ loadNotFromCache }}" target="_blank" title="{{ 'form.multiupoad.view'|trans }}"><span class="width-and-height">{{ asset(i|getFileWebPath('original', prefix))|getImageSize }}</span></a>
                                                                <span class="icon-star icon-gray" title="{{ 'form.multiupoad.original.image'|trans }}"></span>
                                                                <br>
                                                            {% endfor %}

                                                            {% if configs['options'].watermark is defined %}
                                                                {% for prefix, w in configs['options'].watermark %}
                                                                    {#&nbsp;
                                                                    <br>
                                                                    <span class="btn-group">#}
                                                                    {#<a class="watermark-{{ prefix }} btn btn-small image-tooltip" href="{{ asset(i|getFileWebPath('watermark', prefix)) }}{{ loadNotFromCache }}" target="_blank" title="{{ 'form.multiupoad.view'|trans }}"><span class="icon-trash icon-eye-open"></span></a>#}
                                                                    {#<a class="watermark-{{ prefix }} btn btn-small fake-input-file" data-id="{{ i.id }}" title="{{ 'form.multiupoad.upload'|trans }}"><span class="icon-upload"></span></a>#}
                                                                    <span class="icon-upload watermark-{{ prefix }} fake-input-file{% if form.vars.disabled %} disabled icon-gray{% endif %}" data-id="{{ i.id }}" title="{{ 'form.multiupoad.upload'|trans }}"></span>
                                                                    <input type="file" {% if form.vars.disabled %}disabled="disabled"{% endif %} class="static watermark-{{ prefix }} ajax-image-upload hidden-always" data-id="{{ i.id }}" data-width="{{ w.size.w }}" data-height="{{ w.size.h }}" data-replace="{{ asset(i|getFileWebPath('watermark', prefix)) }}" accept="{{ configs.mime_types|join(',') }}"/>
                                                                    {#</span>#}
                                                                    &nbsp;
                                                                    <span class="icon-edit preview-{{ prefix }} btn-crop-image" data-id="{{ i.id }}" data-width="{{ w.size.w }}" data-height="{{ w.size.h }}"  data-original="{{ asset(i|getFileWebPath('original', configs['options'].original|keys[0])) }}" data-replace="{{ asset(i|getFileWebPath('watermark', prefix)) }}" title="{{ 'form.multiupoad.crop'|trans }}" data-is-watermark="1"></span>
                                                                    &nbsp;
                                                                    <a class="watermark-{{ prefix }} image-tooltip" href="{{ asset(i|getFileWebPath('watermark', prefix)) }}{{ loadNotFromCache }}" target="_blank" title="{{ 'form.multiupoad.view'|trans }}">{{ (w.size.w ~ 'x' ~ w.size.h ~ 'px')|trans }}</a>

                                                                    <span class="icon-star-empty icon-gray" title="{{ 'form.multiupoad.watermark.with'|trans }}"></span>
                                                                {% endfor %}
                                                                <br>
                                                            {% endif %}

                                                            {#<br>
                                                            { 'form.multiupoad.watermark.without'|trans }#}
                                                            {% for prefix, p in preview %}
                                                                    {#<a class="preview-{{ prefix }} btn btn-small image-tooltip" href="{{ asset(i|getFileWebPath('preview', prefix)) }}{{ loadNotFromCache }}" target="_blank" title="{{ 'form.multiupoad.view'|trans }}"><span class="icon-trash icon-eye-open"></span></a>#}
                                                                    {# <a class="preview-{{ prefix }} btn btn-small fake-input-file" title="{{ 'form.multiupoad.upload'|trans }}"><span class="icon-upload"></span></a> #}
                                                                    <span class="icon-upload preview-{{ prefix }} fake-input-file{% if form.vars.disabled %} disabled icon-gray{% endif %}" title="{{ 'form.multiupoad.upload'|trans }}"></span>
                                                                    <input type="file" {% if form.vars.disabled %}disabled="disabled"{% endif %} class="static preview-{{ prefix }} ajax-image-upload hidden-always" data-id="{{ i.id }}" data-width="{{ p.size.w }}" data-height="{{ p.size.h }}" data-replace="{{ asset(i|getFileWebPath('preview', prefix)) }}" accept="{{ configs.mime_types|join(',') }}"/>
                                                                    &nbsp;
                                                                    {# <a class="preview-{{ prefix }} btn btn-small btn-crop-image" data-id="{{ i.id }}" data-width="{{ p.size.w }}" data-height="{{ p.size.h }}"  data-original="{{ asset(i|getFileWebPath('original', configs['options'].original|keys[0])) }}" data-replace="{{ asset(i|getFileWebPath('preview', prefix)) }}" title="{{ 'form.multiupoad.crop'|trans }}"><span class="icon-fullscreen"></span></a>or #}
                                                                    <span class="icon-edit preview-{{ prefix }} btn-crop-image" data-id="{{ i.id }}" data-width="{{ p.size.w }}" data-height="{{ p.size.h }}"  data-original="{{ asset(i|getFileWebPath('original', configs['options'].original|keys[0])) }}" data-replace="{{ asset(i|getFileWebPath('preview', prefix)) }}" title="{{ 'form.multiupoad.crop'|trans }}" data-is-watermark="0"></span>
                                                                &nbsp;
                                                                <a class="preview-{{ prefix }} image-tooltip" href="{{ asset(i|getFileWebPath('preview', prefix)) }}{{ loadNotFromCache }}" target="_blank" title="{{ 'form.multiupoad.view'|trans }}">{{ (p.size.w ~ 'x' ~ p.size.h ~ 'px')|trans }}</a>
                                                                <br>
                                                            {% endfor %}
                                                        </td>
                                                    </tr>
                                                </table>
                                                <div class="alert alert-danger ajax-error-{{ i.id }} hidden hide-by-timer" data-hide-after="10"></div>
                                                <div class="alert alert-success ajax-success-{{ i.id }} hidden hide-by-timer" data-hide-after="5"></div>
                                                {#####################################}
                                            {% else %}
                                                {% set aClass = nested_field.vars.attr.class %}
                                                {% if nested_field.vars.name == 'name' %}
                                                    {{ form_widget(nested_field, {attr: {class: 'hidden hidden-always file-name ' ~ aClass } }) }}
                                                {% elseif nested_field.vars.name == 'size' %}
                                                    <span class="human-size">{% if nested_field.vars.value is defined %}{{ nested_field.vars.value|getHumanFileSize }}{% endif %}</span>
                                                    {{ form_widget(nested_field, {attr: {class: 'hidden hidden-always file-size ' ~ aClass } }) }}
                                                {% elseif nested_field.vars.name == 'indexPosition' %}
                                                    {{ form_widget(nested_field, {attr: {class: 'file-indexPosition ' ~ aClass } }) }}
                                                {% else %}
                                                    {{ form_widget(nested_field) }}
                                                {% endif %}

                                            {% endif %}

                                            {% set dummy = nested_group_field.setrendered %}
                                        {% else %}
                                            {% if nested_field.vars.name == '_delete' %}
                                                {% set index = index + 1 %}
                                                {{ form_widget(nested_field, {attr:{class:'checkbox-delete'}}) }}
                                                &nbsp;
                                                <span class="remove-file icon-trash{% if form.vars.disabled %} disabled icon-gray{% endif %}" data-id="{% if nested_group_field.children[field_name].parent.vars.value.id is defined %}{{ nested_group_field.children[field_name].parent.vars.value.id }}{% endif %}"></span>
                                                {% if form.vars.attr.multiple is defined and form.vars.attr.multiple == true %}
                                                    <br>
                                                    <span class="muted"># <span class="position" title="Номер п/п">{{ index }}</span></span>
                                                {% endif %}
                                            {% else %}
                                                {{ form_widget(nested_field) }}
                                            {% endif %}
                                        {% endif %}
                                        {% if nested_field.vars.errors|length > 0 %}
                                            <div class="help-inline sonata-ba-field-error-messages">
                                                {{ form_errors(nested_field) }}
                                            </div>
                                        {% endif %}
                                    </td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </span>

<!-- clear -->
        {# add code for the sortable options #}

        {% if sonata_admin.field_description.options.sortable is defined %}
            <script type="text/javascript">
                jQuery('div#field_container_{{ id }} tbody.sonata-ba-tbody').sortable({
                    axis: 'y',
                    opacity: 0.6,
                    items: 'tr.main-row-collection',
                    stop: apply_position_value_{{ id }},
                    create: function (event, ui) {
                        {# если пришел пост запрос, то достаем из него заданную ранее сортировку #}
                        {% if app.request.get(sonata_admin.admin.uniqid)[name] is defined and sonata_admin.admin.subject.id %}
                            var core_file_sortable = [];
                            {% for i, pos in app.request.get(sonata_admin.admin.uniqid)[name]|keys %}
                                core_file_sortable.push('{{ pos }}');
                            {% endfor %}
                            // если задана сортировка, из пост запроса то строим таблицу в нужном порядке
                            var sortableList = $('div#field_container_{{ id }} tbody.sonata-ba-tbody'),
                            listitems = $('tr.main-row-collection', sortableList);

                            for (var i in core_file_sortable) {
                                sortableList.append(listitems[core_file_sortable[i]]);
                            }
                        {% endif %}
                    }
                });

                function apply_position_value_{{ id }}() {
                    // update the input value position
                    jQuery('div#field_container_{{ id }} tbody.sonata-ba-tbody td.sonata-ba-td-{{ id }}-{{ sonata_admin.field_description.options.sortable }}').each(function(index, element) {
                        // remove the sortable handler and put it back
                        jQuery('span.sonata-ba-sortable-handler', element).remove();
                        jQuery(element).append('<span class="sonata-ba-sortable-handler ui-icon ui-icon-grip-solid-horizontal"></span>');
                        jQuery('input', element).hide();
                    });

                    jQuery('div#field_container_{{ id }} tbody.sonata-ba-tbody td.sonata-ba-td-{{ id }}-{{ sonata_admin.field_description.options.sortable }} input').each(function(index, value) {
                        jQuery(value).val(index + 1);
                        $(this).closest('tr').find('span.position').text(index + 1);
                    });
                }

                // refresh the sortable option when a new element is added
                jQuery('#sonata-ba-field-container-{{ id }}').bind('sonata.add_element', function() {
                    apply_position_value_{{ id }}();
                    jQuery('div#field_container_{{ id }} tbody.sonata-ba-tbody').sortable('refresh');
                });

                apply_position_value_{{ id }}();

            </script>
        {% endif %}
<!-- /clear -->
    </div>
{% endif %}

{% endblock %}