{#Вывод статистики графиками для РК в ЛК#}
{% extends "CoreAdCompanyBundle:AdCompany\\Cabinet:tabs.html.twig" %}
 {#SEO - заголовки #}
{% block title %}Статистика рекламной кампании {{ adcompany.name }}{% endblock %}
{% block meta_keywords %}{% endblock %}
{% block meta_description %}{% endblock %}


    {% block breadcrumbs %}
        <!--=== Breadcrumbs ===-->`
        <div class="breadcrumbs">
            <div class="container">
                <h1 class="pull-left">Статистика рекламной кампании</h1>
                <ul class="pull-right breadcrumb">
                    <li><a href="{{ path('core_common_index') }}">На главную</a></li>
                    <li><a href="{{ path('sonata_user_profile_show') }}">Кабинет</a></li>
                    <li><a href="{{ path('core_cabinet_adcompany_list_first_page') }}">Список ваших рекламных
                            кампаний</a></li>
                    <li class="active">Статистика рекламной кампании</li>
                </ul>
            </div>
        </div>
        <!--=== End Breadcrumbs ===-->
    {% endblock %}

    {% block tab_content4 %}

    <div class="alert alert-success fade in">
        <strong>Ссылка на статистику.</strong> Передайте ссылку на статистику вашему рекламодателю, чтобы он мог
        отслеживать динамику показов:
       <a target="_blank" href="http://{{ domain_ru }}{{ path('core_statistics_ad_company_chart_statistics_by_token', {token:adcompany.token}) }}">
               http://{{ domain_ru }}{{ path('core_statistics_ad_company_chart_statistics_by_token', {token:adcompany.token}) }}</a>
    </div>



        {{ include ('CoreStatisticsBundle:AdCompany\\Cabinet:charts.html.twig') }}
    {% endblock %}