{# Вкладка Нет в наличии#}
<div class="tab-pane " id="{{ uniqid }}_{{ ind+2 }}">
    <fieldset>
        <div class="sonata-ba-collapsed-fields">
            <p>Показаны товары, которых нет в нашей базе, но есть в прайсе и наоборот.</p>
            <p>
                <input type="button" class="btn disabledProductButton2" value="Отключить от публикации выбранные товары">&nbsp;

            </p>
            <h3>Фильтры</h3>
            <label style="float: left" ><input checked type="radio" name="phFilter2" value="noInBase" >&nbsp;Есть в прайсе, но нет в базе <span id="noInBaseQuantity"></span></label>
            <label >&nbsp;&nbsp;&nbsp;&nbsp;<input name="phFilter2" value="noInPrice" type="radio" >&nbsp;Есть в базе, но нет в прайсе <span id="noInPriceQuantity"></span></label>


            <br>
            <table class="table table-bordered table-hover outOfStock" style="width:100%">
                <thead>
                    <tr>
                        <th style="width: 50px">№</th>
                        <th >Продукт</th>
                        <th style="width: 100px">Цена</th>
                        <th style="width:15px"><input title="Выбрать все" name="disableAllProducts2"
                                                      type="checkbox" value="1"></th>
                    </tr>
                </thead>
                <tbody>
                    {%set index=1%}
                    {% for d in extra.outOfStock %}
                        <tr class="priceHikeTr2 {{ d.extra.flag }}" {%  if d.extra.flag!='noInBase' %}style="display:none"{% endif %}>
                            <td>{%  if d.extra.flag=='noInBase' %}{{index}}{%set index=index+1%}{% endif %}</td>
                            <td nowrap>
                                {% if d.product is defined %}
                                    <a href="{{ path('admin_core_product_commonproduct_edit',{id:d.product.id}) }}">{{ d.product.article }} {{ d.product.sku }} {{ d.product.captionRu }}</a>
                                    {% if d.product.isDiscontinued %} <span class="label label-default">снят  производства</span>{%endif%}
                                {% else %}
                                    {{ d.priceData.sku }} {{ d.priceData.captionRu }}
                                {% endif %}
                            </td>
                            <td>
                                {% if d.product is defined %}
                                    <span class="money">{{ moneyFormat(d.product.price) }} {{ currencyFormat() }}</span>
                                {% else %}
                                    <span class="money">{{ moneyFormat(d.priceData.orderOnlyPriceBuying) }} {{admin.subject.supplier.paCurrency.symbol}}</span>
                                {% endif %}
                            </td>
                            <td>
                                {% if d.product is defined %}
                                    <input class="disableProduct2"
                                           data-product-id="{{ d.product.id }}"
                                           type="checkbox" value="1">
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </fieldset>
</div>
<script>
    $(function () {
        
        $('#noInBaseQuantity').html('('+$('.priceHikeTr2.noInBase').length+')');
        $('#noInPriceQuantity').html('('+$('.priceHikeTr2.noInPrice').length+')');
        $('#disabledInBaseandHasInPriceQuantity').html('('+$('.priceHikeTr2.disabledInBaseandHasInPrice').length+')');
        
        //обработчики фильтров
        $('input[name="phFilter2"]').change(function () {
            //сбрасываем все галочки
            $('.disableProduct2').removeAttr('checked', 'checked');
            $('input[name="disableAllProducts2"]').removeAttr('checked', 'checked');
            
            if ($(this).val() == 'noInPrice') {
                $('.priceHikeTr2').hide();
                $('.priceHikeTr2.noInPrice').show();
            }
            else if ($(this).val() == 'noInBase') {
                $('.priceHikeTr2').hide();
                $('.priceHikeTr2.noInBase').show();
            }

            //динамическая нумерация строк
            var ind = 1;
            $('.priceHikeTr2:visible').each(function () {
                $(this).find('td').first().html(ind);
                ind++;
            });
        });




        //отключить от публикации товары, которых нет в прайсе
        $('.disabledProductButton2').click(function () {
            var ids = [];
            if ($('input[name="phFilter2"]:checked').val() == 'noInPrice') {
                $('.disableProduct2:checked').each(function (obj) {
                    var item = {
                        id: $(this).attr('data-product-id')
                    }
                    ids.push(item);
                });
            }

            if (ids.length > 0) {
                $.post("{{ admin.generateObjectUrl('disableProduct', admin.subject) }}", {ids: ids})
                        .done(function (data) {
                            alert("Выбранные товары были отключены от публикации! Обновите страницу.");
                        });
            }
            else {
                alert('Отметьте продукты, которые нужно отключить от публикации.');
            }

        });

        //выбрать все
        $('input[name="disableAllProducts2"]').change(function () {
            if ($(this).is(':checked')) {
                $('.disableProduct2').each(function () {
                    if ($(this).parents('tr').is(':visible')) {
                        $(this).attr('checked', 'checked');
                    }
                });
            }
            else {
                $('.disableProduct2').removeAttr('checked', 'checked');
            }
        });
    });
</script>