
{#**
 * Шаблон для вывода страницы об успешном создании заказа
 *
 * @author Sergeev A.M.
 * @copyright LLC "PromoMaster"
 *#}

{% extends 'CoreCommonBundle::main_layout.html.twig' %}

{% block title %}Спасибо за покупку! | OliKids.ru{% endblock %}
{% block meta_keywords %}заказ, оформление, покупка, спасибо{% endblock %}
{% block meta_description %}Благодарим за покупку в интернет-магазине детских товаров OliKids! Станьте нашим постоянным клиентом и получите беспрецендентную скидку на любые товары!{% endblock %}

{% block menu %} {% endblock %}
{% block js_head %}

    {{ parent() }}

    {% javascripts
        'bundles/coreorder/js/frontend.order.js'
        'bundles/coreorder/js/steps.js'

        output='js/compiled/order.js'
        filter='yui_js' %}
    <script src="{{ asset_url}}"></script>
    {% endjavascripts %}

{% endblock %}

{% block content %}

    <div id="content" class="order_page" role="main">

        {% if order %}

            <h2 class="order_thankyou">Спасибо<br>за&nbsp;ваш заказ!</h2>

        {% endif %}

        <!-- main content col -->
        <div class="main_col">
            <div class="main_col_pad">

                {% if order %}

                    <div class="order_resume brown_gradient_box">
                        <div class="order_resume_words">
                            <h2><span>Ваш заказ оформлен</span></h2>
                            <p>На указанный адрес <strong>{{ order.recipientEmail }}</strong> отправлено письмо с информацией о вашем заказе.</p>
                            <p>Спасибо за то что воспользовались нашими услугами!</p>
                        </div>
                        <div class="order_resume_info">
                            <h3>Заказ №{{ order.id|idFormat }}

                                {%- if order.extraStatus -%}

                                    <span class="order_status" style="color: #{{ order.extraStatus.hex }}"> {{ attribute(order.extraStatus, 'caption' ~ app.request.locale) }}</span>

                                {%- else -%}

                                    <span class="order_status done">В обработке{%- if order.isPaidStatus %} (оплачен){%- endif -%}</span>

                                {%- endif -%}

                            </h3>
                            <ul class="list_simple">
                                <li>Оформлен: {{ order.createdDateTime|date('d.m.Y, H:i', default_timezone) }}</li>
                                <li>Сумма заказа: {{ moneyFormat(orderCostInfo.total_cost_all) }} {{ currencyFormat() }}</li>

                                {% if order.deliveryMethod %}

                                    <li>Доставка: {{ attribute(order.deliveryMethod, 'caption' ~ app.request.locale) }}</li>

                                {% endif %}

                                {% if payment %}

                                    {% set paymentSystemCaption = attribute(payment.system, 'caption' ~ app.request.locale) %}
                                    {% if payment.system.system == 'Robokassa' and app.request.query.get('shpsubsystem') %}
                                        {% set temp = payment.system.subsystems.get(app.request.query.get('shpsubsystem')) %}
                                        {% if payment.system.system == 'Robokassa' and app.request.query.get('shpsubsystem') %}
                                            {% set paymentSystemCaption = attribute(temp, 'caption' ~ app.request.locale) %}
                                        {% endif %}
                                    {% endif %}

                                    <li>Оплата: {{ paymentSystemCaption }}</li>

                                {% elseif paymentSystem == 'Balance' %}

                                    <li>Оплата: С баланса<br>(остаток: {{ moneyFormat(getBalance(order.contragent.id)) }} {{ currencyFormat() }})</li>

                                {% elseif paymentSystem == 'PaymentOnDelivery' %}

                                    <li>Оплата: При получении (наложенный платеж)</li>

                                {% endif %}

                            </ul>

                            {% if app.user %}

                                <a class="more_info" href="{{ path('application_sonata_user_profile_order', {id: order.id}) }}">Информация о заказе</a>

                                <br>

                                {% if paymentSystem != 'BankTransfer' %}

                                    <span>Через <span class="more_info_timer">10</span> сек. Вы будете автоматически переадресованы на страницу с информацией о заказе.</span>

                                {% endif %}

                            {% endif %}

                        </div>
                    </div>

                {% endif %}

                {% if messages.error is defined or messages.success is defined or paymentSystem == 'BankTransfer' %}

                    <div class="order_resume_instruction">
                        <div class="order_payment_instruction">

                            {% if messages.error is defined %}

                                {% if not order and not payment %}

                                    <div class="attention_box">

                                        Платежка и заказ не были найдены

                                    </div>

                                {% else %}

                                    <div class="attention_box">

                                        {{ messages.error|join('<br>')|raw|nl2br }}

                                    </div>

                                {% endif %}

                            {% elseif messages.success is defined %}

                                <div class="info_box">

                                    {{ messages.success|join('<br>')|raw|nl2br }}

                                </div>

                            {% endif %}

                            {% if paymentSystem == 'BankTransfer' %}

                                <h3>Реквизиты для оплаты заказа</h3>
                                {% set seller = order.seller %}
                                Получатель: {{ seller.legalForm.captionRu }} "{{ seller.caption }}"<br />
                                Банк: {{ seller.bank.captionFull }}, {{ seller.bank.address }}<br />
                                ИНН/КПП: {{ seller.inn }}/{{ seller.kpp }}<br />
                                ОГРН: {{ seller.ogrn }}<br />
                                БИК: {{ seller.bank.bic }}<br />
                                К/счет: {{ seller.corrAccount }}<br />
                                Р/счет: {{ seller.paymentAccount }}<br />
                                Сумма: {{ payment.amount }} руб.<br />
                                Примечание: Оплата заказа №{{ order.id|idFormat }} (платеж №{{ payment.id|idFormat }}). НДС нет.<br />
                                <br />
                                <a href="{{ path('core_payment_bank_transfer_print_invoice', {'id': payment.id, 'type': 'invoice'}) }}" target="_blank">Платежка</a>
                                &nbsp;&nbsp;&nbsp;
                                <a href="{{ path('core_payment_bank_transfer_print_invoice', {'id': payment.id, 'type': 'savings_bank'}) }}" target="_blank">Сбербанк</a>
                                <br /><br />

                            {% endif %}
                        </div>
                    </div>
                {% endif %}
                {#
                <div class="order_resume_instruction">
                    <div class="order_payment_instruction">
                        <h3>Как оплатить</h3>
                        <ul class="list_instruction">
                            <li><span class="num">1</span>Убедиться в наличии на балансе не менее 2408 руб. (с учетом комиссии Билайн и неснижаемого остатка - 10 руб.) Будет списано ровно 2398 руб.</li>
                            <li><span class="num">2</span>Открыть поступившее СМС-сообщение с информацией о выставленном счете</li>
                            <li><span class="num">3</span>Внимательно прочитать инструкции, чтобы завершить платеж. Выставленный МС-счет нужно оплатить в течении 30 минут</li>
                            <li><span class="num">4</span>Дождаться обновления данной страницы после отправления СМС-сообщения</li>
                        </ul>
                        <div class="info_box">
                            После успешной оплаты информация с вашим серийным номером будет отправлена вам на e-mail.
                        </div>
                    </div>
                </div>
                #}
            </div>
        </div>
        <!-- /main content col -->

        <!-- side content col -->
        <aside class="side_col">
            <div class="call_us_sidebox">
                <h2>Есть вопросы? Звоните!</h2>

                {% set phones = ServiceContainer.get('core_config_logic').get('phones') %}
                {% set phonesCaptions = {'rostov':'в Ростове-на-Дону','msk':'в Москве','spb': 'в Санкт-Петербурге'}  %}

                <strong class="text-phone-selected">{{ phones['rostov'] }}</strong>
                <br>
                <span class="text_tgl text-city-selected">{{ phonesCaptions['rostov'] }}</span>
                <div class="header_contacts_dropdown dropdown">
                    <ul>
                        {% for key, phone in phones %}
                            {% if phonesCaptions[key] is defined %}

                                <li id="{{ key }}" {% if key == 'rostov' %}class="selected"{% endif %}><strong class="text-phone">{{ phone }}</strong><br><span class="text-city">{{ phonesCaptions[key] }}</span></li>

                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="work_time_sidebox">
                <h2>Время работы:</h2>
                <strong>Пн. —&nbsp;Пт. с&nbsp;09:00 до&nbsp;18:00&nbsp;МСК</strong><br>
            </div>

        </aside>
        <!-- /side content col -->

    </div>

{% endblock %}

{% block footer %}


    {%- if app.environment == 'prod' -%}
        {% set mixMarketList = ServiceContainer.get('core_config_logic').get('mix-market') %}
        {{ mixMarketList['finish'] | raw }}
        <script type="text/javascript">
            var yaParams = {
                order_id: "{{ order.id }}",
                order_price: {{ orderCostInfo.composition_total_cost }},
                currency: "{{ ServiceContainer.getParameter('default_currency') }}",
                exchange_rate: 1,
                goods:
                   [
                    {%- set i = 0 -%}
                    {%- for c in order.compositions -%}
                        {
                            id: "{{ c.product.id }}",
                            name: "{{ attribute(c.product, 'caption' ~ app.request.locale) }}",
                            price: {{ c.price }},
                            quantity: {{ c.quantity }}
                        }
                        {%- set i = i + 1 -%}
                        {%- if i != order.compositions.count -%}
                            ,
                        {%- endif -%}
                    {%- endfor -%}
                    ]
            };
        </script>

    {%- endif -%}

    {{ parent() }}

{% endblock %}