{#**
 * Корзина - Способ доставки
 *
 * @author Kaluzhny. N.
 * @copyright LLC "PromoMaster"
 *#}

{% extends 'CoreCommonBundle::main_layout.html.twig' %}

{% use 'CoreOrderBundle:Order/Block:summary_info.html.twig' %}
{% use 'CoreOrderBundle:Order/Block:breadcrumbs.html.twig' %}

{% block title %}Оформление заказа - способ доставки | OliKids.ru{% endblock %}
{% block meta_keywords %}заказ, оформление, доставка{% endblock %}
{% block meta_description %}Страница оформления заказа на сайте OliKids - выбор способа доставки. Выберите наиболее подходящий Вам способ получения товара. Проверьте введенные Вами данные.{% endblock %}

{% block menu %} {% endblock %}
{% block js_head %}
    {{ parent() }}
    {% javascripts
        'bundles/coreorder/js/frontend.order.js'
        'bundles/coreorder/js/steps.js'

        output='js/compiled/order.js'
        filter='yui_js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script src="http://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
    <script>
        settingsJS.routes['ajax_contact_cart'] = '{{path('core_order_contact')}}';
        settingsJS.routes['ajax_delivery_calculate'] = '{{path('delivery_calculate')}}';
        settingsJS.trans['order_label_delivery_time'] = "{{'order.label.deleryTime' | trans}}";
        settingsJS.trans['order_label_delivery_error'] = "{{'order.label.deliveryError' | trans}}";
        settingsJS.trans['order_label_delivery_re_calc'] = "{{'order.label.delivetyReCalc' | trans}}";
        settingsJS.trans['order_label_rub'] = "{{'order.label.rub' | trans}}";
        settingsJS.trans['order_label_delivery_error_full'] = "{{'order.label.deliveryErrorFull' | trans}}";
        settingsJS.trans['form_error'] = "{{'order.form.errors' | trans}}";
        settingsJS.trans['order_delivery_in_proccess'] = "{{'order.label.inProcess' | trans}}";
    </script>
{% endblock %}

{% block content %}
    {{ block('order_breadcrumbs_block') }}
<div id="content" class="order_page" role="main">
    <div class="main_col">
        <div class="main_col_pad">
            {% if isCartEmpty %}
                <div class="info_box">{{'order.label.cartIsEmpty' | trans}}</div>
                {% else %}
                <div id="from_form"></div>
                {% form_theme form 'CoreOrderBundle:Form:row.html.twig' %}
                <form id="delivery_form" action="{{ path('core_order_cart_step3')}}" {{ form_enctype(form) }} method="POST">
                    <div id="in_form">
                        <h2>{{'order.form.delivery.method' | trans}}</h2>
                        {# значения для определения активных типов компаниий и самих компаний #}
                        {% set selectedValue  = false %}
                        {% set curId = false %}
                        {% set curCompanyId  = false %}
                        {% set selectedValue = form.deliveryMethod.vars.value %}
                        {% if (deliveryMethodId and not selectedValue) %}
                            {% set selectedValue = deliveryMethodId %}
                        {% endif %}
                        {# end  значения для определения активных типов компаниий и самих компаний #}
                        <ul class="order_delivery_group group_switcher clearfix">
                            {% if selectedValue %}
                                {% set serviceTypeId = serviceList[selectedValue].serviceType.position %}
                                {% set curCompanyId = serviceTypeList[serviceTypeId]['company'][serviceList[selectedValue].company.position].position %}
                            {% endif %}
                            {% if selectedValue %}
                                {% set firstInCityId = 0 %}
                                {% set firstWithAddress = null %}
                                {% set firstWithAddresId = 0 %}
                                {% for serv in serviceList[selectedValue].company.services %}
                                    {% if serv.city is defined and not firstInCityId %}
                                        {% set firstInCityId = serv.id %}
                                    {% endif %}
                                    {% if serv.addresses is defined and not firstWithAddress %}
                                        {% set firstWithAddress = serv %}
                                        {% set firstWithAddressId = serv.id %}
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                            {% for key, val in serviceTypeList %}

                                <li class="group_switch delivery_group_{{val['serviceType'].name}}
                                {% if (firstWithAddress is defined and firstWithAddress and serviceTypeId is defined and serviceTypeId == key and firstWithAddress.id == selectedValue and deliveryPoint and firstWithAddress.addresses.first().id == deliveryPoint) or (serviceTypeId is defined and serviceTypeId == key and firstInCityId is defined and firstInCityId == selectedValue) %}selected{% endif%}
                                {% if selectedValue and serviceTypeId == key %} active{% elseif not selectedValue and loop.first %}active{% endif %}">
                                    <span class="group_switch_icon">&nbsp;</span>
                                    <span class="group_switch_text">{{val['serviceType'].captionRu}}</span>
                                </li>
                            {% endfor %}
                        </ul>
                        <div class="order_delivery_type type_switcher{% if selectedValue and (serviceList[selectedValue].addresses is defined or serviceList[selectedValue].city is defined )%} {{serviceList[selectedValue].serviceType.name}} {% else %} brown_gradient_box{% endif %}">
                            {% for key, val in serviceTypeList %}
                                {% set firstService = val['service'] | first %}
                                {% if not (firstService.addresses is defined or firstService.city is defined) %}
                                    <ul class="type_switches delivery_group_{{val['serviceType'].name}} {% if selectedValue and serviceTypeId == key %} active{% elseif not selectedValue and loop.first %} active{% endif %}">
                                        {% for key, company in val['company'] %}
                                            <li class="{% if selectedValue and  company.services.first().id == selectedValue %}selected {% endif %}type_switch {% if (curCompanyId and curCompanyId == key) or (not curCompanyId and loop.first) %} active{% endif %}">
                                                <span class="delivery_{{company.name}} delivery_icon type_switch_icon">{{company.captionRu}}</span>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            {% endfor %}
                        </div>
                        
                        <div class="order_delivery_options
                            {% if selectedValue and serviceList[selectedValue].addresses is defined %} {{serviceList[selectedValue].serviceType.name}}
                            {% elseif selectedValue and serviceList[selectedValue].city is defined %} delivery_group_{{serviceList[selectedValue].serviceType.name}}
                            {% endif %}
                            {% if not selectedValue %}
                            {% set serviceTypeListFirst = (serviceTypeList | first ) %}
                                {% set serviceTypeListFirstService = serviceTypeListFirst['service'] | first %}
                                {% if serviceTypeListFirstService.addresses is defined %} {{serviceTypeListFirst['serviceType'].name}}
                                {% elseif serviceTypeListFirstService.city is defined %} delivery_group_{{serviceTypeListFirst['serviceType'].name}}{% endif %}
                            {% endif %}"
                        >
                            <table class="delivery_methods order_delivery_options_list">
                                {% for serviceTypeId, val in serviceTypeList %}
                                    {% for company in val['company'] %}
                                        {# так как бесплатная доставка и самоввоз относятся к обной компании то их необюходимо разделить #}
                                        {% set firstInCity = 0 %}
                                        {% set curIndex = 0 %}
                                        {% for key, deliveryMethod in company.services %}
                                            {% if  deliveryMethod.city is defined and not firstInCity %}
                                                {% set firstInCity = 1 %}
                                                {% set curIndex = loop.index %}
                                            {%  endif %}
                                            {% if deliveryMethod.serviceType.position ==  serviceTypeId %}
                                                {% if deliveryMethod.addresses is defined %}
                                                    {% for address in deliveryMethod.addresses %}
                                                        {% if address.status %}
                                                            <tr data-company="delivery_{{deliveryMethod.company.name}}" data-group="delivery_group_{{deliveryMethod.serviceType.name}}" class="{% if loop.first %}first {% endif %} {% if (form.deliveryPoint.vars.value and address.id == form.deliveryPoint.vars.value) or  (address.id == deliveryPoint) %}selected {% endif %}{% if loop.last %}last {% endif %}order_delivery_option delivery_group_{{deliveryMethod.serviceType.name}} delivery_{{deliveryMethod.company.name}} {% if ((activeServices | length) and (activeServices[deliveryMethod.id] is defined)) or (deliveryPoint) %} active{% endif %}">
                                                                <td class="order_delivery_option_select">
                                                                    <input data-delivery-method="{{deliveryMethod.id}}" class="delivery_point" type="radio" value="{{address.id}}" name="delivery_point[]" required="required" {% if (form.deliveryPoint.vars.value and address.id == form.deliveryPoint.vars.value) or  (address.id == deliveryPoint) %} checked="checked"{% endif %}/>
                                                                </td>
                                                                <td class="order_delivery_option_name" colspan="2">
                                                                    <strong>{{address.fullCaptionRu}}</strong>
                                                                    {% if address.description %}
                                                                        <br />
                                                                        <span>{{address.description | nl2br}}</span>
                                                                    {% endif %}
                                                                    {% if data.orderDeliveryDays %}
                                                                        <br />
                                                                        <br />
                                                                        {{'order.label.availableDays' | transchoice(data.orderDeliveryDays, {'%days%': data.orderDeliveryDays})}}
                                                                    {% endif %}    
                                                                    {% if address.isSupplyPlacticCard %}
                                                                        <br />
                                                                        <br />
                                                                        <span>{{'isSupplyPlacticCard' | trans }}</span>
                                                                    {% endif %}
                                                                </td>
                                                                <td class="order_delivery_option_map">
                                                                    <a data-latitude="{{address.latitude}}" data-longitude="{{address.longitude}}" href="javascript:void(0);" class="order_delivery_option_map_tgl text_tgl">
                                                                        <span class="num">{{loop.index}}</span>{{'order.label.onMap' | trans}}
                                                                    </a>
                                                                </td>
                                                            </tr>
                                                        {% endif %}
                                                    {% endfor %}
                                                {% elseif  deliveryMethod.city is defined %}
                                                    {% spaceless %}
                                                        <tr
                                                                data-company="delivery_{{deliveryMethod.company.name}}"
                                                                data-group="delivery_group_{{deliveryMethod.serviceType.name}}"
                                                                class="order_delivery_option
                                                            {% if firstInCity and curIndex == loop.index %}first {% endif %}
                                                            {% if selectedValue and selectedValue == deliveryMethod.id %}selected {% endif %}
                                                            {% if loop.last %}last {% endif %}
                                                            delivery_group_{{deliveryMethod.serviceType.name}}
                                                            delivery_{{deliveryMethod.company.name}}
                                                            {% if (activeServices | length) and (activeServices[deliveryMethod.id] is defined) %} active{% endif %}">
                                                            <td class="order_delivery_option_select">
                                                                <input class="delivery_method" type="radio" value="{{deliveryMethod.id}}" name="delivery_method[]" required="required" {% if selectedValue and deliveryMethod.id == selectedValue %} checked="checked"{% endif %}/>
                                                            </td>
                                                            <td class="order_delivery_option_name free_delivery" colspan="3">
                                                                    <strong>{{ deliveryMethod.captionRu }}</strong><br />
                                                                    {% if data.orderDeliveryDays %}
                                                                        {{'order.label.availableDays' | transchoice(data.orderDeliveryDays, {'%days%': data.orderDeliveryDays})}}
                                                                        <br />
                                                                        <br />
                                                                    {% endif %}
                                                                    {{deliveryMethod.description | nl2br}}
                                                                    
                                                            </td>
                                                        </tr>
                                                    {% endspaceless %}
                                                {% else %}
                                                    {% spaceless %}
                                                    <tr
                                                        data-company="delivery_{{deliveryMethod.company.name}}"
                                                        data-group="delivery_group_{{deliveryMethod.serviceType.name}}"
                                                        class="order_delivery_option calculate
                                                            {% if loop.first %}first {% endif %}
                                                            {% if selectedValue and selectedValue == deliveryMethod.id %}selected {% endif %}
                                                            {% if loop.last %}last {% endif %}
                                                            delivery_group_{{deliveryMethod.serviceType.name}}
                                                            delivery_{{deliveryMethod.company.name}}
                                                            {% if (activeServices | length) and (activeServices[deliveryMethod.id] is defined) %} active{% endif %}">
                                                        <td class="order_delivery_option_select">
                                                            <input class="delivery_method" type="radio" value="{{deliveryMethod.id}}" name="delivery_method[]" required="required" {% if selectedValue and deliveryMethod.id == selectedValue %} checked="checked"{% endif %}/>
                                                        </td>
                                                        <td class="order_delivery_option_name">
                                                            {{deliveryMethod.captionRu}}{#<br>
                                                            <span class="text_tgl">{{'order.label.more' | trans }}</span>#}
                                                        </td>
                                                        <td class="order_delivery_option_terms">
                                                            {{'order.label.inProcess' | trans}}
                                                        </td>
                                                        <td class="order_delivery_option_price">
                                                            <span class="text_tgl in-proccess">{{'order.label.process' | trans}}</span>
                                                        </td>
                                                    </tr>
                                                    {% endspaceless %}
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                    {% endfor %}
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                    {% if form_errors(form) or not form.vars.valid %}
                        <div class="attention_box">
                            {% if form.vars.errors | length %}
                                {{ form_errors(form) }}
                                {% else %}
                                    {{ 'order.form.errors'| trans}}
                            {% endif %}
                        </div>
                    {% endif %}
                    <div class="order_delivery_recipient brown_gradient_box">
                        <div class="recipient_info">
                            <span class="contact_info {% if not contact %}hidden {% endif %}order_delivery_recipient_edit_tgl text_tgl">{{'order.label.change' | trans}}</span>
                            <h3>{{'order.form.buyerRecipient.recipient' | trans}}</h3>
                            <p id="contact_info" class="{% if not contact %}hidden{% endif %} contact_info">
                                    {% if contact %}
                                        {{contact.name}}<br />тел. {{contact.phone}}<br />г. {{contact.city.name}}, {{contact.address}}
                                    {% endif %}
                            </p>
                        </div>
                        <div id="inner_recipient" class="inner{% if contact %} hidden{% endif%}">
                            {% if app.user %}
                                <fieldset class="form_fieldset order_recipient_saved_addresses">
                                    {{form_row(form.contactList)}}
                                </fieldset>
                            {% endif %}
                            {% if form.contact.firstName is defined and form.contact.lastName is defined %}
                            <fieldset class="form_fieldset">
                                {{form_row(form.contact.firstName)}}
                                {{form_row(form.contact.lastName)}}
                            </fieldset>
                            {% endif %}
                            {% if form.contact.passport is defined %}
                            <fieldset class="form_fieldset passport_field{% if not contact.passport %} hidden{% endif %}">
                                {{form_row(form.contact.passport)}}
                            </fieldset>
                            {% endif %}
                            {% if form.contact.contactEmail is defined and form.contact.phone %}
                            <fieldset class="form_fieldset">
                                {{form_row(form.contact.phone)}}
                                {{form_row(form.contact.contactEmail)}}
                            </fieldset>
                            {% endif %}
                            <fieldset class="form_fieldset">
                                {{form_row(form.contact.city)}}
                                {{form_row(form.contact.address)}}
                                {#
                                <div class="form_row ">
                                    {{form_label(form.contact.postIndex, null, {'label_attr': {'class': 'form_label'} })}}
                                    <div class="form_row_field{% if form_errors(form.contact.postIndex) %} form_field_error{% endif %}">
                                        {{form_widget(form.contact.postIndex)}}
                                        <a target="blank" href="http://ruspostindex.ru">{{'order.label.indexLabel' | trans()}}</a>
                                    </div>
                                    {{ form_errors(form.contact.postIndex) }}
                                </div>
                                #}
                            </fieldset>
                            <fieldset class="form_fieldset">
                                {{form_row(form.contact.mark)}}
                            </fieldset>
                            <div class="form_padding_group">
                                <button class="common_button submit_form">
                                    <span>{{'order.label.update' | trans}}</span>
                                </button>&nbsp;<span class="{% if not contact %}hidden  {% endif %}text_tgl recipient_close">{{'order.label.cancel' | trans}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="order_proceed">
                        {{ form_rest(form) }}
                        <a href="{{path('core_order_cart_step2')}}" class="order_proceed_goprev">{{'order.form.buyerRecipient.buyer' | trans}}</a>
                        <span class="order_proceed_next">{{'Next Step: «Payment»' | trans}}</span>
                        <button  {% if not contact %} disabled="disabled"{% endif %} type="submit" class="{% if not contact %}disabled {% endif %}common_button big with_arrow delivery_btn"><span>{{'order.label.forward' | trans}}</span></button>
                    </div>
                </form>
            {% endif %}
        </div>
    </div>
        <!-- side content col -->
        {{ block('order_summary_block') }}
        <!-- /side content col -->
</div>
<div class="modal_window delivery_map_popup">
    <div class="delivery_map_block">
        <div id="map" style="width: 100%; height: 400px"></div>
    </div>
    <span title="Закрыть" class="modal_window_close">Закрыть</span>
</div>
{% endblock %}
{% block footer %}
    {% set mixMarketList = ServiceContainer.get('core_config_logic').get('mix-market') %}
    {%- if app.environment == 'prod' -%}
        {% set mixMarketList = ServiceContainer.get('core_config_logic').get('mix-market') %}
        {{ mixMarketList['cart'] | raw }}
    {%- endif -%}
    {{ parent() }}
{% endblock %}