{#построение левого меню в ЛК#}
{% block left_menu %}

    {%  if app.user %}
    <ul class="list-group sidebar-nav-v1 margin-bottom-40" id="sidebar-nav-1">
        <li class="list-group-item{% if app.request.attributes.get('_route') == 'sonata_user_profile_show' %} active{% endif %} ">
            <a href="{{ path('sonata_user_profile_show') }}"><i class="fa fa-user"></i> &nbsp;Профиль</a>
        </li>

        <li class="list-group-item
 {% if app.request.attributes.get('_route') == 'core_cabinet_adcompany_list_first_page'
        or app.request.attributes.get('_route') == 'core_cabinet_adcompany_list'
        or app.request.attributes.get('_route') == 'core_cabinet_adcompany_edit'
        or app.request.attributes.get('_route') == 'core_cabinet_adcompany_create'
        or app.request.attributes.get('_route') == 'core_statistics_ad_company_chart_statistics'

        %} active{% endif %}
        ">
            <a href="{{ path('core_cabinet_adcompany_list_first_page') }}"><i class="fa fa-bullhorn"></i> &nbsp;Рекламные компании</a>
        </li>


        <li class="list-group-item
        {% if app.request.attributes.get('_route') == 'core_cabinet_site_list_first_page'
        or app.request.attributes.get('_route') == 'core_cabinet_site_list'
        or app.request.attributes.get('_route') == 'core_cabinet_site_edit'
        or app.request.attributes.get('_route') == 'core_cabinet_site_create'
        or app.request.attributes.get('_route') == 'core_cabinet_site_verified_form'

        %} active{% endif %}
        ">
            <a href="{{ path('core_cabinet_site_list_first_page') }}"><i class="fa  fa-globe"></i> &nbsp;Площадки</a>
        </li>

        <li class="list-group-item
        {% if app.request.attributes.get('_route') == 'core_cabinet_adplace_list_first_page'
        or app.request.attributes.get('_route') == 'core_cabinet_adplace_list'
        or app.request.attributes.get('_route') == 'core_cabinet_adplace_edit'
        or app.request.attributes.get('_route') == 'core_cabinet_adplace_create'

        or app.request.attributes.get('_route') == 'core_cabinet_adplace_section_edit'
        or app.request.attributes.get('_route') == 'core_cabinet_ad_place_price_first_page'
        or app.request.attributes.get('_route') == 'core_cabinet_adplace_getcode'
        or app.request.attributes.get('_route') == 'core_cabinet_ad_place_price_create'
        or app.request.attributes.get('_route') == 'core_cabinet_ad_place_price_edit'

        %} active{% endif %}
        ">
            <a href="{{ path('core_cabinet_adplace_list_first_page') }}"><i class="fa  fa-desktop   "></i> &nbsp;Рекламные места</a>
        </li>

        <li  class="list-group-item {% if app.request.attributes.get('_route') == 'core_cabinet_gag_list_first_page'
        or app.request.attributes.get('_route') == 'core_cabinet_gag_list'
        or app.request.attributes.get('_route') == 'core_cabinet_gag_edit'
        or app.request.attributes.get('_route') == 'core_cabinet_gag_create'



        %} active{% endif %}">
            <a href="{{ path('core_cabinet_gag_list_first_page') }}"><i class="fa fa-file-image-o"></i> &nbsp;Заглушки</a>
        </li>


        {#<li class="list-group-item#}
 {#{% if app.request.attributes.get('_route') == 'core_cabinet_placement_list_first_page'#}
        {#or app.request.attributes.get('_route') == 'core_cabinet_placement_list'#}
        {#or app.request.attributes.get('_route') == 'core_cabinet_placement_edit'#}
        {#or app.request.attributes.get('_route') == 'core_cabinet_placement_create'#}
        {#%} active{% endif %}#}
        {#">#}
            {#<a href="{{ path('core_cabinet_placement_list_first_page') }}"><i class="fa fa-crosshairs"></i> &nbsp;Размещения</a>#}
        {#</li>#}




        {#<li class="list-group-item">#}
            {#<a href="#"><i class="fa  fa-comments-o"></i> &nbsp;Сообщения</a>#}
        {#</li>#}

        {%  if app.user or ticket.owner is defined %}
        <li class="list-group-item
        {% if app.request.attributes.get('_route') == 'trouble_ticket_edit'
        or app.request.attributes.get('_route') == 'trouble_ticket_index_auth'
        or app.request.attributes.get('_route') == 'trouble_ticket_index'
        %} active{% endif %}
        ">

            <a href="{{app.user ? path('trouble_ticket_index_auth') : path('trouble_ticket_index',{'owner':ticket.owner})}}"><i class="fa fa-twitch"></i> &nbsp;Техподдержка</a>
        </li>
            {% endif %}

        {#<li class="list-group-item">#}
            {#<a href="#"><i class="fa fa-bar-chart-o"></i> &nbsp;Статистика</a>#}
        {#</li>#}

        <li class="list-group-item">
            <a href="{{ path('_logout') }}"><i class="fa fa-sign-out"></i> &nbsp;Выйти</a>
        </li>
    </ul>
    {% endif %}
{% endblock %}