{#редактирование рекламной компании в ЛК#}
{% extends "ApplicationSonataUserBundle::cabinet_layout.html.twig" %}

{# SEO - заголовки #}
{% block title %}{% if adcompany.id %}Редактирование рекламной компании {{ adcompany.name }}{% else %}Добавление рекламной компании в систему{% endif %}{% endblock %}
{% block meta_keywords %}{% endblock %}
{% block meta_description %}{% endblock %}


    {% block breadcrumbs %}
        <!--=== Breadcrumbs ===-->`
        <div class="breadcrumbs">
            <div class="container">
                <h1 class="pull-left">Рекламная компания</h1>
                <ul class="pull-right breadcrumb">
                    <li><a href="{{ path('core_common_index') }}">На главную</a></li>
                    <li><a href="{{ path('sonata_user_profile_show') }}">Кабинет</a></li>
                    <li><a href="{{ path('core_cabinet_adcompany_list_first_page') }}">Список ваших рекламных компаний</a></li>
                    <li class="active">Редактирование рекламной компании</li>
                </ul>
            </div>
        </div>
        <!--=== End Breadcrumbs ===-->
    {% endblock %}


{% block sub_content %}

    {% if adcompany.id %}
        <h3>Редактирование рекламной компании</h3>
    {% else %}
        <h3>Добавление новой рекламной компании</h3>
    {% endif %}


    {#форма редактирования профиля ЛК#}
    {% for flashMessage in app.session.flashbag.get('edit_success') %}
        <br/>
        <div class="alert alert-success fade in">
            {{ flashMessage | raw }}

            &nbsp;&nbsp;&nbsp;<a class='btn-u btn-u-xs ' href='{{ path('core_cabinet_adcompany_create') }}'><i
                        class='fa fa-plus-square'></i> &nbsp;Добавить еще рекламную компанию</a>
            &nbsp;&nbsp;&nbsp;
            <a class='btn-u btn-u-xs btn-u-default' href='{{ path('core_cabinet_adcompany_list_first_page') }}'><i
                        class='fa fa-reply'></i> &nbsp;Вернуться к списку рекламных компаний</a>

        </div>
    {% endfor %}


    {% for flashMessage in app.session.flashbag.get('edit_errors') %}
        <br/>
        <div class="alert alert-danger fade in">
            {{ flashMessage | raw }}
        </div>
    {% endfor %}


    {% if form.vars.errors | length %}
        <br/>
        <div class="alert alert-danger fade in">
            {{ form_errors(form) }}
        </div>
    {% endif %}

    <form style="clear: both" class="sky-form sky-form-other-style"
          action="{% if adcompany.id %}{{ path('core_cabinet_adcompany_edit', {id:adcompany.id}) }}{% else %}{{ path('core_cabinet_adcompany_create') }}{% endif %}" {{ form_enctype(form) }}
          method="POST">
        <fieldset class="sky-form-other-style">


            <div class="row margin-bottom-20">
                <div class="col-sm-6  {% if form_errors(form.name) %}state-error{% endif %}">
                    <label>Название*</label>
                    {{ form_widget(form.name,{ 'attr': {'class': 'form-control'} }) }}
                    {{ form_errors(form.name) }}
                </div>
            </div>
            <div class="row margin-bottom-20">
                <div class="col-lg-6  {% if form_errors(form.placements) %}state-error{% endif %}">
                    <label>Размещения</label>
                    {{ form_widget(form.placements,{ 'attr': {'class': 'form-control'} }) }}
                    {{ form_errors(form.placements) }}
                </div>
            </div>

            <div class="margin-bottom-20 {% if form_errors(form.isEnabled) %}state-error{% endif %}">
                <label class="checkbox">
                    {{ form_widget(form.isEnabled) }}<i></i> Рекламная компания активна</label>
                {{ form_errors(form.isEnabled) }}
                </label>

            </div>


            <div class="margin-bottom-20">
            </div>

            {{ form_rest(form) }}

            <div class="text-right">
                <button class="btn-u" type="submit">{% if adcompany.id %}Сохранить{% else %}Добавить{% endif %}</button>
                &nbsp;&nbsp;
                <a href="{{ path('core_cabinet_adcompany_list_first_page') }}" class="btn-u btn-u-default">Отмена</a>
                {% if adcompany.id %}
                    &nbsp;&nbsp; или &nbsp;&nbsp;
                    <a href="javascript:void(0);" class="delete btn-u btn-u-red">Удалить</a>
                {% endif %}

            </div>

        </fieldset>

    </form>



    {% block js_head %}
        {{ parent() }}
        <script>
            $(function () {

                {% if adcompany.id %}
                $('.delete').click(function () {
                    var res = confirm('Вы действительно хотите удалить эту рекламную компанию из системы?');
                    if (res) {
                        window.location.href = '{{ path('core_cabinet_adcompany_delete', {id:adcompany.id}) }}';
                    }
                });
                {% endif %}
            })
        </script>
    {% endblock %}

{% endblock %}
