<form style="clear: both" class="sky-form sky-form-other-style"
      action="{% if adcompany.id %}{{ path('core_cabinet_adcompany_edit', {id:adcompany.id}) }}{% else %}{{ path('core_cabinet_adcompany_create') }}{% endif %}" {{ form_enctype(form) }}
      method="POST">
    <fieldset class="sky-form-other-style">

        <div class="row margin-bottom-20">
            <div class="col-sm-6  {% if form_errors(form.name) %}state-error{% endif %}">
                {{ form_label(form.name) }}
                {{ form_widget(form.name,{ 'attr': {'class': 'form-control'} }) }}
                {{ form_errors(form.name) }}
            </div>
        </div>
        <div class="row margin-bottom-20">
            <div class="col-lg-6  {% if form_errors(form.placements) %}state-error{% endif %}">
                {{ form_label(form.placements) }}
                {{ form_widget(form.placements,{ 'attr': {'class': 'form-control'} }) }}
                {{ form_errors(form.placements) }}
            </div>
        </div>

        <div class="row margin-bottom-20">
            <div class="col-sm-6  {% if form_errors(form.startDateTime) %}state-error{% endif %}">
                <label>Дата начала показов</label>
                <label class="input">
                    <i class="icon-append fa fa-calendar"></i>
                    {{ form_widget(form.startDateTime,{ 'attr': {'class': 'form-control date'} }) }}
                </label>

                {{ form_errors(form.startDateTime) }}
            </div>
        </div>


        <div class="row margin-bottom-20">
            <div class="col-sm-6  {% if form_errors(form.finishDateTime) %}state-error{% endif %}">
                <label>Дата окончания показов</label>

                <label class="input">
                    <i class="icon-append fa fa-calendar"></i>
                    {{ form_widget(form.finishDateTime,{ 'attr': {'class': 'form-control date'} }) }}
                </label>

            </div>
        </div>

        <div class="margin-bottom-20 {% if form_errors(form.defaultCountries) %}state-error{% endif %}">

            <label>Страны</label>

            {{ form_widget(form.defaultCountries,{ 'attr': {'class': 'form-control'} }) }}
            {{ form_errors(form.defaultCountries) }}
        </div>


        <div class="margin-bottom-20 {% if form_errors(form.isEnabled) %}state-error{% endif %}">
            <label class="checkbox">
                {{ form_widget(form.isEnabled) }}<i></i> {{ form.isEnabled.vars.label }}</label>
            {{ form_errors(form.isEnabled) }}
            </label>

        </div>

        <div class="margin-bottom-20">
        </div>

        {{ form_rest(form) }}

        <div class="text-right">
            <button class="btn-u" type="submit">{% if adcompany.id %}Сохранить{% else %}Добавить{% endif %}</button>
            &nbsp;&nbsp;
            <a href="{{ path('core_cabinet_adcompany_list_first_page') }}" class="btn-u btn-u-default">Отмена</a>
            {% if adcompany.id %}
                &nbsp;&nbsp; или &nbsp;&nbsp;
                <a href="javascript:void(0);" class="delete btn-u btn-u-red">Удалить</a>
            {% endif %}

        </div>

    </fieldset>
</form>
