{#вкладки для рекламной кампании в ЛК#}
{% extends "ApplicationSonataUserBundle::cabinet_layout.html.twig" %}

{% block sub_content %}

    {#форма редактирования профиля ЛК#}
    {% for flashMessage in app.session.flashbag.get('edit_success') %}

        <div class="alert alert-success fade in">
            {{ flashMessage | raw }}

            &nbsp;&nbsp;&nbsp;<a class='btn-u btn-u-xs ' href='{{ path('core_cabinet_adcompany_create') }}'><i
                        class='fa fa-plus-square'></i> &nbsp;Добавить еще рекламную кампанию</a>
            &nbsp;&nbsp;&nbsp;
            <a class='btn-u btn-u-xs btn-u-default' href='{{ path('core_cabinet_adcompany_list_first_page') }}'><i
                        class='fa fa-reply'></i> &nbsp;Вернуться к списку рекламных кампаний</a>

        </div>
    {% endfor %}


    {% for flashMessage in app.session.flashbag.get('edit_errors') %}

        <div class="alert alert-danger fade in">
            {{ flashMessage | raw }}
        </div>
    {% endfor %}



    {% if adcompany.id %}
        <h3>Редактирование рекламной кампании #{{ adcompany.id }} &nbsp;&nbsp;
            <span class="text-right" style="white-space: nowrap"><a  class="video-show"    data-url="{{path('core_faq_show_video')}}" href="javascript:void(0)"><i class="fa fa-info-circle"></i>Видеоурок</a></span></h3>
    {% else %}
        <h3>Добавление новой рекламной кампании</h3>
    {% endif %}






<br>




    {% if form is defined and form.vars.errors | length %}

        <div class="alert alert-danger fade in">
            {{ form_errors(form) }}
        </div>
    {% endif %}


    <div class="tab-v2">
        <ul class="nav nav-tabs">
            <li {% if app.request.attributes.get('_route')=='core_cabinet_adcompany_edit'
            or
            app.request.attributes.get('_route')=='core_cabinet_adcompany_create'
             %} class="active"  {% endif %}><a href="   {% if adcompany.id %}{{ path('core_cabinet_adcompany_edit', {id:adcompany.id}) }}{% else %}#{% endif %}" >Настройки</a></li>
            {#<li><a href="#profile-1" data-toggle="tab2">Размещения</a></li>#}
            {#<li><a href="#messages-1" >Таргетинг</a></li>#}
            {% if adcompany.id %}
            <li {% if app.request.attributes.get('_route')=='core_statistics_ad_company_chart_statistics' %} class="active"  {% endif %}><a href="{{ path('core_statistics_ad_company_chart_statistics', {id:adcompany.id}) }}" >Статистика</a></li>
            {% endif %}
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade in {% if app.request.attributes.get('_route')=='core_cabinet_adcompany_edit' or
            app.request.attributes.get('_route')=='core_cabinet_adcompany_create'

            %} active {% endif %}" id="tab1">
                {% block tab_content1 %}
                {% endblock %}
            </div>
            {#<div class="tab-pane fade in" id="tab2">#}
                {#{% block tab_content2 %}#}
                {#{% endblock %}#}
            {#</div>#}
            {#<div class="tab-pane fade in" id="tab3">#}
                {#{% block tab_content3 %}#}
                {#{% endblock %}#}
            {#</div>#}

            {% if adcompany.id %}
            <div class="tab-pane fade in  {% if app.request.attributes.get('_route')=='core_statistics_ad_company_chart_statistics' %} active {% endif %}" id="tab4">
                {% block tab_content4 %}
                {% endblock %}
            </div>
            {% endif %}
        </div>
    </div>


{% endblock %}
