{% block category_main_widget %}
   {{ block ('choice_widget') }}
    <script>
        $(document).ready(function() {
            var categoryMainId ={% if sonata_admin.admin.subject.categoryMain%}{{sonata_admin.admin.subject.categoryMain.id}}{%else%} false{%endif%},
                    isChanged = false;
            function setCategoryMain() {
                var categoryMain = $("#{{sonata_admin.admin.uniqid}}_categoryMain"),
                        categoriesContent = $("#jsTreeContent_{{sonata_admin.admin.uniqid}}_categories");

                //очищаем и подсвечиваем новю категорию
                categoryMain.empty()
                        .append($('<option></option>')
                                .val('').attr('selected', 'selected').html('Ничего не выбрано...'));
                categoryMain.select2("val", '')

                //берём отмеченные категории
                $('#jsTreeContent_{{sonata_admin.admin.uniqid}}_categories').find('.jstree-checked').each(function(index) {
                    var id_str = $(this).attr('id'),
                            id = parseInt(id_str.split('_')[1]),
                            lvl = parseInt($(this).find('a').attr('data-lvl'));

                    var text = $(this).find('a').first().text();
                    text = text.replace(/^\s+/, "");

                    var lvl_text = '';
                    for (var i = 0; i < lvl; i++) {
                        lvl_text = lvl_text + '&nbsp;&nbsp;&nbsp;&nbsp;';
                    }
                    text = lvl_text + text;

                    if (isChanged) {
                        if (isChanged === id) {
                            categoryMain.append($('<option></option>').val(id).html(text));
                            categoryMain.select2("val", id)
                        }
                        else {
                            categoryMain.append($('<option></option>').val(id).html(text));
                        }
                    }
                    else if (categoryMainId === id) {
                        categoryMain.append($('<option></option>').val(id).html(text));
                        categoryMain.select2("val", id)
                    }
                    else {
                        categoryMain.append($('<option></option>').val(id).html(text));
                    }
                });
            }


            $("#{{sonata_admin.admin.uniqid}}_categoryMain").on('change', function() {
                categoryMainId = false;
                isChanged = parseInt($(this).val());
            })

            $("#jsTreeContent_{{sonata_admin.admin.uniqid}}_categories").bind("check_node.jstree", function(event, data) {
                setCategoryMain()
            });

            $("#jsTreeContent_{{sonata_admin.admin.uniqid}}_categories").bind("uncheck_node.jstree", function(event, data) {
                setCategoryMain()
            });
            //очищаем
            $("#{{sonata_admin.admin.uniqid}}_categoryMain").empty().append($('<option></option>')
                    .val('').attr('selected', 'selected').html('Ничего не выбрано...'))
                    .select2("val", '');

        });
    </script>

{%endblock%}