{% block property_widget %}
<script>
    var propertyOptions = {
    filebrowserBrowseUrl : "{% if app.debug%}/app_dev.php/{%else%}/{%endif%}{{ServiceContainer.getParameter("filebrowserBrowseRoute")}}",
    property:{
        {%for p in properties%}
    _{{p.id}}:{productDataProperty: {

{%if pdp_match[p.id]  is defined%}

{%for key,p2 in pdp_match[p.id]%}
    {{key}}:{
        _{%if p2.id %}{{p2.id}}{%else%}0{%endif%}:{%if p2.data.property.editType=='input'%}{{p2.valueNumeric+0}}{%else%}{%if p2.data.property.editType in ['input_text','textarea','editor']%}"{{p2.value|e('js')}}"{%else%}{{p2.data.id}}{%endif%}{%endif%}
    },
    {%endfor%}

{%else%}0:{_0:""}{%endif%}
}
,description:"{{p.descriptionRu|e('js')}}", isUsedInFilter:"{{p.isUsedInFilter}}", isEnabled:"{{p.isEnabled}}", isEnabledInYml:"{{p.isEnabledInYml}}", id:"{{p.id}}", defaultValue:"{{p.generalSettingsCategory.defaultValue|e('js')}}", required:"{{p.generalSettingsCategory.isRequired}}", mask:"{{p.generalSettingsCategory.mask}}", caption:"{{p.captionRu|e('js')}}{%if p.editType=='input' and p.generalSettingsCategory.defaultUnit and  p.generalSettingsCategory.defaultUnit.captionRu%} ({{p.generalSettingsCategory.defaultUnit.shortCaptionRu}}){%endif%}{%if p.generalSettingsCategory.isRequired%} *{%endif%}",editType:"{{p.editType}}",dataList: { {%for d in p.dataList %}_{{d.id}}:"{{d.value|e('js')}}",{%endfor%} }},{%endfor%} },
            category: { {%for key,cat in categories%}{{key}}:[{%for c in cat%}{{c}},{% endfor%}],{%endfor%}}
    ,
            unigid:"{{sonata_admin.admin.uniqid}}",
    id:"{{sonata_admin.admin.subject.id}}",
    postUniqid:"{{app.request.get('uniqid')}}" //признак того, что есть пост данные и не нужно использовать дефолтные
    };

    </script>
    <script type="text/javascript" src="{{ asset('/bundles/coreproperty/js/dynamicFields.js') }}"></script>    
{% spaceless %}
<div id="propertyFieldContent"></div>
    {% endspaceless %}
{% endblock %}