{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field%}
    {%for comp in object.compositions%}
        <div>
            {%if object.cannotRemove is defined%}<span style="display:none" class="cannotRemove"></span>{%endif%}
            <a href="{{path('admin_core_product_commonproduct_edit', {id:comp.product.id})}}">
                {% if comp.product.images %}
                    <img class="img-thumbnail" src="{{ asset(comp.product.images|getFileWebPath('preview', '64x64_')) }}"/>
                {%else%}
                    <img title="Нет фото" width="64px" src="{{asset('/bundles/coreproduct/Admin/img/no_image.png')}}"/>
                {%endif%}</a>&nbsp;<a href="{{path('admin_core_product_commonproduct_edit', {id:comp.product.id})}}">{{comp.product.captionRu}} {{comp.product.article}}
            </a>
        </div>
    {%endfor%}
{% endblock %}