
{#**
 * Шаблон для вывода товара подробной карточки товара
 *
 * @author Sergeev A.M.
 * @copyright LLC "PromoMaster"
 *#}

{% extends 'CoreCommonBundle::main_layout.html.twig' %}

{% use 'CoreProductBundle:Catalog:product_cell.html.twig' %}
{% use 'CoreReviewBundle:Review:reviews_layout.html.twig' %}

{% set currentProductCaption = attribute(currentProduct, 'caption'~ app.request.locale) %}
{% set captionCaseGenitive = getCaseByKey(attribute(currentProduct, 'captionCase' ~ app.request.locale), 'genitive') %}
{% set captionCaseGenitive = (captionCaseGenitive | length) ? captionCaseGenitive : currentProductCaption %}
{% set captionCaseAccusative  = getCaseByKey(attribute(currentProduct, 'captionCase' ~ app.request.locale), 'accusative') %}
{% set captionCaseAccusative = (captionCaseAccusative | length) ? captionCaseAccusative : currentProductCaption %}
{% set captionCasePrepositional  = getCaseByKey(attribute(currentProduct, 'captionCase' ~ app.request.locale), 'prepositional') %}
{% set captionCasePrepositional = (captionCasePrepositional | length) ? captionCasePrepositional : currentProductCaption %}
{%- block title -%}
    {% spaceless %}
        {%- if attribute(currentProduct, 'title'~ app.request.locale) -%}
            {{ attribute(currentProduct, 'title'~ app.request.locale)|escape('html') }}
        {%- else -%}
            Купить {{captionCaseAccusative}}, с доставкой по России.
        {%- endif -%}
    {% endspaceless %}
{%- endblock -%}

{%- block meta_keywords -%}
    {% spaceless %}
        {%- if attribute(currentProduct, 'metakeywords'~ app.request.locale) -%}
            {{ attribute(currentProduct, 'metakeywords'~ app.request.locale)|escape('html') }}
        {%- else -%}
            {{ attribute(currentProduct, 'caption'~ app.request.locale) }}, купить, отзывы, описание, фотографии
        {%- endif -%}
    {% endspaceless %}
{%- endblock -%}

{%- block meta_description -%}
    {% spaceless %}
        {%- if attribute(currentProduct, 'metadescription'~ app.request.locale) -%}
            {{ attribute(currentProduct, 'metadescription'~ app.request.locale)|escape('html') }}
        {%- else -%}
            Купить {{captionCaseAccusative}} в интернет-магазине с доставкой по России. Отзывы о {{captionCasePrepositional}}. {{currentProductCaption}} {% if currentProduct.orderOnly %}под заказ {% else %}в наличии{% endif %}.
        {%- endif -%}
    {% endspaceless %}
{%- endblock -%}

{% block seo %}

    {{ parent() }}

    {#  Канноническая ссылка на основной продукт  #}
    {#{% if currentProduct.modificationUnion.general and ((currentProduct.modificationUnion and currentProduct.modificationUnion.general and currentProduct.modificationUnion.general.id != currentProduct.id) or app.request.query.all|length > 0) %}

        <link rel="canonical" href="{{ path('core_product', {slug: currentProduct.modificationUnion.general.slug}) }}" />

    {% endif %}#}

{% endblock %}

{% block css %}
    {% stylesheets
        'bundles/corecommon/fancybox/jquery.fancybox.css'
        'bundles/corereview/star-rating/jquery.rating.css'
        output='css/compiled/product_details.css'
        filter='cssrewrite,yui_css'  %}
    <link rel="stylesheet" href="{{ asset_url}}" />
    {% endstylesheets %}
    {#<link rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/corecommon/fancybox/jquery.fancybox.css') }}">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/corereview/star-rating/jquery.rating.css') }}">#}

    {{ parent() }}

{% endblock %}

{% block js_head %}

    {{ parent() }}
    {% if userCity and (deliveryCompanies | length) %}
        <script>
            settingsJS.routes['delivery_calculate'] = "{{path('delivery_product_calculate')}}";
            settingsJS.trans['delivery_calculate'] = "{{'delivery.brokenConnect' | trans({}, 'CoreDeliveryBundle')}}";
            settingsJS.trans['delivery_calculate_hide'] = "{{'delivery.hide' | trans({}, 'CoreDeliveryBundle')}}";
            settingsJS.trans['delivery_calculate_show'] = "{{'delivery.show' | trans({}, 'CoreDeliveryBundle')}}";
        </script>
    {% javascripts  'bundles/coreproduct/js/frontend.delivery.js' output='js/compiled/frontend.delivery.js' filter='yui_js' %}
    <script src="{{ asset_url}}"></script>
    {% endjavascripts %}
    {% endif %}
    <script>
        var google_tag_params = {
            ecomm_prodid: {{currentProduct.id}},
            ecomm_pagetype: 'product',
        };
        settingsJS.routes['core_pre_order_cost'] = "{{path('core_pre_order_cost')}}";
         {#
        settingsJS.extra['pageType'] = 'product';
        settingsJS.extra['prodId'] = '{{currentProduct.id}}';
         #}
    </script>
    {% javascripts
'bundles/coreproduct/js/jquery.elevateZoom-3.0.8.min.js'
'bundles/corecommon/fancybox/jquery.fancybox.pack.js'
'bundles/corereview/star-rating/jquery.rating.pack.js'
'bundles/coreproduct/js/frontend.product.js'
'bundles/corereview/js/frontend.review.js'
output='js/compiled/product_details.js'
 filter='yui_js' %}
    <script src="{{ asset_url}}"></script>
    {% endjavascripts %}

    {#<script src="{{ asset('bundles/coreproduct/js/jquery.elevateZoom-3.0.8.min.js') }}"></script>#}
        {#        <script src="{{ asset('bundles/corecommon/fancybox/jquery.fancybox.pack.js') }}"></script>#}
        {#        <script src="{{ asset('bundles/corereview/star-rating/jquery.rating.pack.js') }}"></script>#}
        {#        <script src="{{ asset('bundles/coreproduct/js/frontend.product.js') }}"></script>#}
{#    <script src="{{ asset('bundles/coreproduct/js/frontend.catalog.js') }}"></script>#}
        {#        <script src="{{ asset('bundles/corereview/js/frontend.review.js') }}"></script>#}

{% endblock %}

{% block content %}
    {% set imgSize = '140x140_' %} {# размеры для картинок блоков Входит в серию Недавно просмотренные #}
    {% spaceless %}
        <!-- breadcrumbs -->
        {% if breadcrumbs is defined %}

            <div id="page_path">
                <ul class="page_path_links">

                    {% for breadcrumb in breadcrumbs %}

                        <li class="page_path_link"><a href="{{ breadcrumb.href }}">{{ breadcrumb.caption }}</a></li>

                    {% endfor %}

                    <li class="page_path_link"><strong>{{ attribute(currentProduct, 'caption' ~ app.request.locale) }}</strong></li>

                </ul>
            </div>

        {% endif %}
        <!-- /breadcrumbs -->

        <div id="content" class="product_page" role="main">

            <section itemscope itemtype="http://schema.org/Product">

                {%- if currentProduct.brand  -%}

                    <meta itemprop="brand" content="{{ attribute(currentProduct.brand, 'caption' ~ app.request.locale) }}" />

                {%- endif -%}

                <meta itemprop="sku" content="{{ currentProduct.sku }}" />
                <div class="product_header">
                    <hgroup>
                        <h1 itemprop="name">{{ attribute(currentProduct, 'caption' ~ app.request.locale) }}</h1>
                        <h2>

                            {%- if currentProduct.brand  -%}

                                Производитель: <a href="{{ path('core_shop_product_brand_first_page', {slug: currentProduct.brand.slug}) }}">{{ attribute(currentProduct.brand, 'caption' ~ app.request.locale) }}</a>
                                {%- if currentProduct.serie -%}
                                    , Серия: <a href="{{ path('core_shop_product_brand_series_first_page', {slug: currentProduct.brand.slug, slugSeries: currentProduct.serie.slug}) }}">{{ attribute(currentProduct.serie, 'caption' ~ app.request.locale) }}</a>
                                {%- endif -%}

                                {#, {{ attribute(currentProduct.brand.manufacturer.country, 'getCaption' ~ app.request.locale|capitalize) }}#}

                            {%- endif -%}

                        </h2>
                    </hgroup>

                    {% if currentProduct.reviewsCount > 0 %}

                        <div class="product_rating" itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
                            <meta itemprop="reviewCount" content="{{ reviewsTotal }}" />
                            <meta itemprop="ratingValue" content="{{ currentProduct.reviewsRating|number_format(1,'.','') }}" />
                            {#<meta itemprop="worstRating" content="{{ reviewsStars['worst'] }}" />
                            <meta itemprop="bestRating" content="{{ reviewsStars['best'] }}" />#}
                            {{ drawStarsByRating(currentProduct.reviewsRating, 'big')|raw }}

                            <span class="product_rating_count">{{ currentProduct.reviewsRating|number_format(1,'.','') }} ({{ currentProduct.reviewsCount }} {{ declOfNum(currentProduct.reviewsCount, ['оценка','оценки','оценок']) }})</span>
                            <span class="product_goto_review"><span onclick="location.href = '#review-anchor-add'" class="text_tgl">Оставить отзыв</span></span>
                        </div>

                    {% endif %}

                </div>


                <!-- product overview & buy -->
                {% set order = app.session.get('core_order') %}
                <script>var orderJsonString = '{{ order|json_encode()|raw }}'</script>
                {% set isInCart = false %}

                <div class="product_overview" {{fastEdit(currentProduct)}}>
                    <div class="product_page_pad cols_container product_gallery_wrap">
                        <!-- product photos -->
                        <section class="product_photos main_col">
                            {% set mainImg = (currentProduct.images | length ) ? currentProduct.images | first : null %}
                            {% if currentProduct.images | length %}
                                {% if attribute(currentProduct.images|first, 'alt' ~ app.request.locale) %}
                                    {% set alt = attribute(currentProduct.images|first, 'alt' ~ app.request.locale) %}
                                    {% else %}
                                        {% set alt = 'Фотография ' ~ attribute(currentProduct, 'caption' ~ app.request.locale ) %}
                                {% endif %}
                                {% else %}
                                     {% set alt = 'msg.image_not_found' | trans([],'frontend') %}
                            {% endif %}

                            {% set filesTotalCount = currentProduct.images.count + (currentProduct.remoteVideos | length) %}

                            <div class="main_col_pad">
                                <div class="product_photo_view">

                                    <ins class="loupe{% if mainImg and not ((mainImg.width >= 1000 or mainImg.height >= 1000) and mainImg.height >= 410 and mainImg.width >= 650) %} hidden{% endif %}">&nbsp;</ins>

                                    <span class="img-loader"></span>

                                    {% if not filesTotalCount and (mainImg and mainImg.height >= 500 and mainImg.width >= 500) %}

                                        <a class="fancybox-button" rel="fancybox-button" href="{{ asset(currentProduct.images|getFileWebPath('original', 'uploaded_file_', true)) }}">

                                    {% endif %}

                                    <img itemprop="image" src="{{ asset(currentProduct.images|getFileWebPath('preview', '400x400_', true)) }}" alt="{{ alt }}"
                                         {% if not currentProduct.images|getFileWebPath('preview', '100x100_') -%}
                                             style="cursor: default;"
                                         {%- endif -%}
                                         {% if  mainImg and ((mainImg.width >= 1000 or mainImg.height >= 1000) and mainImg.height >= 410 and mainImg.width >= 650) %}data-zoom-image="{{ asset(currentProduct.images|getFileWebPath()) }}"{% endif %}
                                         >

                                    {% if not filesTotalCount and mainImg and (mainImg.height >= 500 and mainImg.width >= 500) %}

                                        </a>

                                    {% endif %}

                                </div>

                                {#<div class="zoom-photo"><span class="text_tgl">Увеличить фото</span></div>#}

                                {% if filesTotalCount > 1 %}

                                    <div class="product_gallery">

                                        {% if (filesTotalCount > 4 ) %}

                                            <span class="product_gallery_nav prev disabled"><span class="product_gallery_nav_btn">{{ 'Next\'s'|trans({}, 'frontend') }}</span></span>
                                            <span class="product_gallery_nav next disabled"><span class="product_gallery_nav_btn">{{ 'Prev\'s'|trans({}, 'frontend') }}</span></span>

                                        {% endif %}

                                        <div class="product_gallery_list">
                                            <ul class="product_gallery_scroll">

                                                {% for i, image in currentProduct.images %}

                                                    {% if image|getFileWebPath('preview', '100x100_') %}

                                                        {% if attribute(image, 'alt' ~ app.request.locale) %}
                                                            {% set alt = attribute(image, 'alt' ~ app.request.locale) %}
                                                        {% else %}
                                                            {% set alt = 'Фотография №' ~ (i + 1) ~ ' ' ~ attribute(currentProduct, 'caption' ~ app.request.locale ) %}
                                                        {% endif %}

                                                        <li class="product_gallery_item" data-src="{{ asset(image|getFileWebPath('preview', '400x400_', true)) }}">

                                                            {% if (image.height >= 500 and image.width >= 500) %}
                                                                <a class="fancybox-button" rel="fancybox-button" href="{{ asset(image|getFileWebPath('original', 'uploaded_file_', true)) }}">
                                                            {% endif %}

                                                                <img {% if (image.width >= 1000 or image.height >= 1000) and image.height >= 410 and image.width >= 650 %}data-zoom-image="{{ asset(image|getFileWebPath()) }}"{% endif %} src="{{ asset(image|getFileWebPath('preview', '100x100_', true)) }}" alt="{{ alt }}" />

                                                            {% if (image.height >= 500 and image.width >= 500) %}
                                                                </a>
                                                            {% endif %}

                                                        </li>

                                                    {% endif %}

                                                {% endfor %}

                                                {% for remoteVideo in currentProduct.remoteVideos %}
                                                    <li class="product_gallery_item small_video"  data-src="{{asset('images/icon-video.png')}}">
                                                        <a class="fancybox-button" data-fancybox-type="iframe" rel="fancybox-button" href="{{remoteVideo.videoHosting.playerUri}}{{remoteVideo.code}}">
                                                            <i class="icon_no_video" title="{{attribute(remoteVideo, 'caption' ~ app.request.locale )}}"></i>
                                                        </a>
                                                    </li>
                                                {% endfor %}

                                            </ul>
                                        </div>

                                    </div>

                                {% endif %}

                            </div>
                        </section>
                        <!-- /product photos -->

                        <!-- product specs & buy -->
                        <div class="side_col">
                            <div class="side_col_pad">
                                <section class="product_specs">

                                    {% if attribute(currentProduct, 'slogan' ~ app.request.locale) %}

                                        <p class="product_spec_catchword">{{ attribute(currentProduct, 'slogan' ~ app.request.locale) }}</p>

                                    {% endif %}

                                    {% if extraProperties is not empty %}

                                        <ul class="product_specs_list">

                                            {% if extraProperties['age'] is defined %}
                                                {% set age = extraProperties['age'][0].value %}

                                                {% if age|slice(-1) == 1 %}
                                                    {% set ageString = ['год','года','лет'] %}
                                                {% else %}
                                                    {% set ageString = ['года','года','лет'] %}
                                                {% endif %}

                                                <li class="product_spec" title="Рекомендуемый производителем возраст ребенка {{ age }} {{ declOfNum(age|slice(-1), ageString) }}">

                                                    {% for data in extraProperties['age'] %}

                                                        <span class="product_spec_age">{{ data.value }}</span>

                                                    {% endfor %}

                                                    <span class="product_spec_label">{{ 'Age'|trans({}, 'frontend') }}</span>
                                                </li>

                                            {% endif %}

                                            {% if extraProperties['skills'] is defined %}

                                                <li class="product_spec product_spec_skills">

                                                    {% for data in extraProperties['skills'] %}

                                                        <span class="product_spec_skill skill_{{ data.name }}" title="{{ data.value }}"><span class="skill_icon">&nbsp;</span></span>

                                                    {% endfor %}

                                                    <span class="product_spec_label">{{ 'Developing skills'|trans({}, 'frontend') }}</span>
                                                </li>

                                            {% endif %}

                                            {% if extraProperties['number_components'] is defined and extraProperties['number_components'] > 0 %}

                                                <li class="product_spec">
                                                    <span class="product_spec_details">{{ extraProperties['number_components'] }}</span>
                                                    <span class="product_spec_label">{{ 'Number of components'|trans({}, 'frontend') }}</span>
                                                </li>

                                            {% endif %}

                                        </ul>

                                    {% endif %}

                                </section>
                                <section class="product_buy">
                                    <!--  Standart -->

                                    {% if modsData is not empty and currentProduct.AvailabilityQuantity > 0 %}

                                        <div class="product_buy_options">

                                            {% if modsData.colors is defined and modsData.colors %}

                                                <div class="product_buy_option">
                                                    <label>{{ 'Color'|trans({}, 'frontend') }}</label>
                                                    <select id="color">

                                                        {% for value, color in modsData.colors %}

                                                            <option value="{{ value }}" {% if color.isCurrent %}selected="selected"{% endif %} {% if color.links is defined %}data-links-json="{{ color.links|json_encode() }}"{% endif %}>{{ color.caption }}</option>

                                                        {% endfor %}

                                                    </select>
                                                </div>

                                            {% endif %}

                                            {% if modsData.sizes is defined and modsData.sizes %}

                                                <div class="product_buy_option">
                                                    <label>{{ 'Size'|trans({}, 'frontend') }}</label>
                                                    <select id="size" class="load">

                                                        {% for value, size in modsData.sizes %}

                                                            <option value="{{ value }}" {% if size.isCurrent %}selected="selected" data-current="this"{% endif %}>{{ size.caprion }}</option>

                                                        {% endfor %}

                                                    </select>
                                                    {#&nbsp;
                                                    &nbsp;
                                                    &nbsp;
                                                    <span class="text_tgl">{{ 'Table sizes'|trans({}, 'frontend') }}</span>#}
                                                </div>

                                                <div id="sizeMsgTpl">{{ 'msg.not_have_size'|trans({}, 'frontend')|raw }}</div>

                                            {% endif %}


                                            {% set isEnableSelectQA = false %}
                                            {% for qa in quantityAlternative if qa.targetObject.quantityOfPieces %}
                                                {% set isEnableSelectQA = true %}
                                            {% endfor %}

                                            {% if quantityAlternative and isEnableSelectQA %}

                                                <div class="product_buy_option">
                                                    <label>{#{{ attribute(currentProduct.unitOfMeasure, 'caption' ~ app.request.locale) }}#}</label>
                                                    <select id="quantity-alternative" class="">

                                                        {%- if not currentProduct.quantityOfPieces -%}
                                                        <option value="{{ currentProduct.id }}" selected="selected">Целый товар ({{ moneyFormat(computeDiscountForProductAndGetCurrentPrice(currentProduct, 'current')) ~ ' ' ~ currencyFormat() }})</option>
                                                        {%- else -%}

                                                        {% for qa in quantityAlternative if not qa.targetObject.quantityOfPieces %}
                                                            {%- set qa = qa.targetObject -%}
                                                            {#{%- if order.products is defined and order.products[qa.id] is defined and not isInCart -%}
                                                                {% set isInCart = true %}
                                                            {%- endif -%}#}
                                                            <option value="{{ qa.id }}" {% if currentProduct.id == qa.id %}selected="selected"{% endif %}>Целый товар{% if currentProduct.id != qa.id %} ({{ moneyFormat(computeDiscountForProductAndGetCurrentPrice(qa, 'current')) ~ ' ' ~ currencyFormat() }}){% endif %}</option>

                                                        {% endfor %}

                                                        <option value="{{ currentProduct.id }}" selected="selected">{{ currentProduct.quantityOfPieces }} {{ attribute(currentProduct.unitOfMeasure, 'shortCaption' ~ app.request.locale) }} ({{ moneyFormat(computeDiscountForProductAndGetCurrentPrice(currentProduct, 'current')) ~ ' ' ~ currencyFormat() }})</option>

                                                        {%- endif -%}

                                                        {% for qa in quantityAlternative if qa.targetObject.quantityOfPieces %}
                                                            {%- set qa = qa.targetObject -%}
                                                            {#{%- if order.products is defined and order.products[qa.id] is defined and not isInCart -%}
                                                                {% set isInCart = true %}
                                                            {%- endif -%}#}
                                                            <option value="{{ qa.id }}" {% if currentProduct.id == qa.id %}selected="selected"{% endif %}>
                                                                {{- qa.quantityOfPieces }} {{ attribute(currentProduct.unitOfMeasure, 'shortCaption' ~ app.request.locale) }} {% if currentProduct.id != qa.id %} ({{ moneyFormat(computeDiscountForProductAndGetCurrentPrice(qa, 'current')) ~ ' ' ~ currencyFormat() }}){% endif %}
                                                            </option>
                                                        {% endfor %}

                                                    </select>
                                                </div>

                                            {% endif %}

                                        </div>

                                    {% endif %}

                                    <div class="product_buy_action" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                                        <div class="product_buy_price">
                                            <meta itemprop="price" content="{{ currentProduct.price }}" />
                                            <meta itemprop="priceCurrency" content="RUB" />
                                            <h4 class="h4price">Цена:</h4>

                                            {% if computeDiscountForProductAndGetCurrentPrice(currentProduct, 'old') %}

                                                <div class="product_price old">{{ moneyFormat(computeDiscountForProductAndGetCurrentPrice(currentProduct, 'old')) }} {{ currencyFormat() }}</div>

                                            {% endif %}

                                            <div class="product_price">{{ moneyFormat(computeDiscountForProductAndGetCurrentPrice(currentProduct, 'current')) }} <span>{{ currencyFormat() }}</span></div>
                                        </div>
                                        {% if not currentProduct.isDiscontinued %}

                                            {% if currentProduct.orderOnly and not currentProduct.OOPBQuantity %}
                                                {% elseif currentProduct.AvailabilityQuantity > 0 %}
                                                <button id="update-cart" class="common_button big button_cart button_green"
                                                        data-id="{{ currentProduct.id }}"
                                                        data-url="{{ path('core_product_update_cart') }}"
                                                        {% if (order.products is defined and order.products[currentProduct.id] is defined) -%}
                                                            {% set isInCart = true %}
                                                            data-is-in-cart="1"
                                                        {% endif -%}
                                                        data-is-in-cart-text="{{ 'Product add in cart'|trans({'%URL%': path('core_order_cart')}, 'frontend') }}"
                                                        ><span><i class="button_icon"></i><b class="in-cart-text">{{ 'Add in cart'|trans({}, 'frontend') }}</b></span></button>    
                                            {% endif %}    
                                        {% endif %} 
                                        
                                        {% if not currentProduct.isDiscontinued %}

                                            {% if currentProduct.orderOnly and not currentProduct.OOPBQuantity %}
                                                {% if preOrderForm %}
                                                <div class="clear"></div>
                                                <br>
                                                <form class="product-in-order" id="pre_order_form">
                                                    Вы можете купить товар <strong>Под заказ</strong>.
                                                    Для оформление заказа укажите ваши данные.
                                                    <br>
                                                    <br>
                                                    {% form_theme preOrderForm 'CoreOrderBundle:Form:row.html.twig' %}
                                                    {% if preOrderForm.contactList is defined %}
                                                        <div class="like_text_input_rounded_wr">
                                                            {{form_label(preOrderForm.contactList)}}
                                                            <div class="rounded_select">
                                                                <div class="rounded_select_in">
                                                                {{form_widget(preOrderForm.contactList)}}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    {% endif %}
                                                    <div class="like_text_input_rounded_wr">
                                                        {{form_label(preOrderForm.preOrder.email)}}
                                                        {{form_widget(preOrderForm.preOrder.email)}}
                                                    </div>
                                                    <div class="like_text_input_rounded_wr">
                                                        {{form_label(preOrderForm.preOrder.phone)}}
                                                        {{form_widget(preOrderForm.preOrder.phone)}}
                                                    </div>
                                                    <div class="like_text_input_rounded_wr">
                                                        {{form_label(preOrderForm.preOrder.fio)}}
                                                        {{form_widget(preOrderForm.preOrder.fio)}}
                                                    </div>
                                                    <div class="like_text_input_rounded_wr">
                                                        {{form_label(preOrderForm.preOrder.city)}}
                                                        <div class="like_text_input_rounded select2">
                                                            {{form_widget(preOrderForm.preOrder.city)}}
                                                        </div>
                                                    </div>
                                                    <div class="like_text_input_rounded_wr">
                                                        {{form_label(preOrderForm.preOrder.address)}}
                                                        {{form_widget(preOrderForm.preOrder.address)}}
                                                    </div>
                                                    <div class="like_text_input_rounded_wr">
                                                        {% for preOrderComposition in preOrderForm.preOrder.compositions %}
                                                            {{form_label(preOrderComposition.quantity)}}
                                                            {{form_widget(preOrderComposition.quantity)}}
                                                            {{form_widget(preOrderComposition.product)}}
                                                        {% endfor %}
                                                        {{form_rest(preOrderForm)}}
                                                    </div>
                                                    <div class="like_text_input_rounded_wr">
                                                        <label class="control-label "><strong>Итого</strong></label>
                                                        <span id="pre_order_total_cost">{{ moneyFormat(computeDiscountForProductAndGetCurrentPrice(currentProduct, 'current')) }} <span>{{ currencyFormat() }}</span></span>
                                                    </div>
                                                    <button id="buy-in-order"
                                                            class="common_button big button_cart button_green"
                                                            {% if app.environment == 'prod' %} onclick="yaCounter23357440.reachGoal('preorder'); return true;" {% endif %}
                                                            data-id="{{ currentProduct.id }}"
                                                            data-url="{{ path('core_product_update_cart') }}"
                                                            >
                                                        <span>
                                                            <i class="button_icon"></i>
                                                            <b class="in-cart-text">Заказать</b>
                                                        </span>
                                                    </button>
                                                </form>

                                                {#<form class="product-in-order">
                                                Вы можете купить товар <strong>Под заказ</strong>. Срок поставки от 1 до 5 дней.
                                                Для оформление заказа укажите email и телефон.
                                                    <br>
                                                    <br>
                                                    <label for="email">email*</label><input value="{%if app.security.token.user.email is defined %}{{app.security.token.user.email}}{%endif%}" class="text_input_rounded" type="email" required="required" name="email">
                                                    <br>
                                                    <label for="phone">телефон</label><input value="{%if app.security.token.user.phone is defined %}{{app.security.token.user.phone}}{%endif%}" class="text_input_rounded" type="text" name="phone">
                                                    <input type="hidden" name="id" value="{{ currentProduct.id }}">

                                                    <button id="buy-in-order" onclick="yaCounter23357440.reachGoal('preorder'); return true;" class="common_button big button_cart"
                                                        data-id="{{ currentProduct.id }}"
                                                        data-url="{{ path('core_product_update_cart') }}"
                                                        ><span><i class="button_icon"></i><b class="in-cart-text">Заказать</b></span></button>

                                                </form>#}
                                                <div id="byOrderMessage"></div>
                                                {% endif %}
                                            {% elseif currentProduct.AvailabilityQuantity > 0 %}
                                                {% if currentProduct.orderOnly %}

                                                    <div class="clearfix"></div>

                                                    <!--noindex-->

                                                    <span class="confines_min_sum">

                                                        {%- if not confines.canCreateOrder -%}

                                                            {{ confines.msg|raw }}

                                                        {%- endif -%}

                                                    </span>

                                                    <!--/noindex-->

                                                {% endif %}
                                                {#
                                                <button id="update-cart" class="common_button big button_cart button_green"
                                                        data-id="{{ currentProduct.id }}"
                                                        data-url="{{ path('core_product_update_cart') }}"
                                                        {% if (order.products is defined and order.products[currentProduct.id] is defined) -%}
                                                            {% set isInCart = true %}
                                                            data-is-in-cart="1"
                                                        {% endif -%}
                                                        data-is-in-cart-text="{{ 'Product add in cart'|trans({'%URL%': path('core_order_cart')}, 'frontend') }}"
                                                        ><span><i class="button_icon"></i><b class="in-cart-text">{{ 'Add in cart'|trans({}, 'frontend') }}</b></span></button>
                                                #}
                                                <div class="clear"></div>
                                                <div class="ajax-result-cart">
                                                    <div class="ajax-success"{% if isInCart %} style="display:block">{{ 'Product add in cart'|trans({'%URL%': path('core_order_cart')}, 'frontend')|raw }}{% else %}>{% endif %}</div>
                                                    <div class="ajax-error"></div>
                                                </div>

                                            {% endif %}

                                        {% endif %}

                                        <div class="product_availability with_icon {% if currentProduct.AvailabilityQuantity == 0 %}not_instock{% else %}instock{% endif %}">
                                            Артикул: {{ currentProduct.id }}. {% if currentProduct.sku %} SKU ({{ currentProduct.sku }}){% endif %}
                                            <br>

                                            {% if currentProduct.isDiscontinued %}

                                                <span><link itemprop="availability" href="http://schema.org/Discontinued" />Снят с производства</span>

                                            {% elseif currentProduct.orderOnly %}
                                                {% if currentProduct.OOPBQuantity %}
                                                <span>
                                                    <link itemprop="availability" href="http://schema.org/InStock" />На складе {{currentProduct.OOPBQuantity}}{% if currentProduct.unitOfMeasure %}&nbsp;{{ attribute(currentProduct.unitOfMeasure, 'shortCaption' ~ app.request.locale) }}{% endif %}
                                                </span>
                                                <br />
                                                {% endif %}
                                                <span><link itemprop="availability" href="http://schema.org/PreOrder" />Под заказ{% if currentProduct.deliveryDays %}. Время обработки {{ currentProduct.deliveryDays }} {{ declOfNum(currentProduct.deliveryDays, ['день','дня','дней']) }}.{%  endif %}</span>
                                            {% else %}
                                            <span class="instock-text">{% if currentProduct.AvailabilityQuantity != 0 %}<link itemprop="availability" href="http://schema.org/InStock" />{% endif %}{{ 'In stock'|trans({}, 'frontend') }}</span>
                                            <span class="not-instock-text">{% if currentProduct.AvailabilityQuantity == 0 %}<link itemprop="availability" href="http://schema.org/OutOfStock" />{% endif %}{{ 'Not in stock'|trans({}, 'frontend') }}</span><span class="count-instock">{% if currentProduct.AvailabilityQuantity > 0 %}: {{ currentProduct.AvailabilityQuantity }}{% if currentProduct.unitOfMeasure %}&nbsp;{{ attribute(currentProduct.unitOfMeasure, 'shortCaption' ~ app.request.locale) }}{% endif %}{% endif %}</span>
                                            {% endif %}

                                        </div>

                                    </div>

                                    {% if (currentProduct.AvailabilityQuantity == 0 or currentProduct.isDiscontinued) and similars|length %}

                                        <section class="showcase_compact_box products_grid row_three">
                                            <h2>{{ 'Alternative product'|trans({}, 'frontend') }}</h2>
                                            <div class="products_grid_line grid_container">

                                                {# устанавливаем класс для продукта #}
                                                {% set productItemContainerClass = 'product_min' %}
                                                {% for i, product in similars %}
                                                    {% set product = product.targetObject %}
                                                    {{ block('product') }}

                                                {% endfor %}

                                            </div>

                                            {% if similars|length > 3 %}

                                                <span class="showcase_compact_nav prev disabled">{{ 'Next\'s'|trans({}, 'frontend') }}</span>
                                                <span class="showcase_compact_nav next disabled">{{ 'Prev\'s'|trans({}, 'frontend') }}</span>

                                            {% endif %}

                                        </section>

                                    {% endif %}

                                    {% if (currentProduct.AvailabilityQuantity > 0 or currentProduct.orderOnly) and deliveryArticle %}

                                        <div class="product_buy_delivery" data-product-price="{{computeDiscountForProductAndGetCurrentPrice(currentProduct, 'current')}}" data-product-id="{{currentProduct.id}}">
                                            <p>{{ 'deliveryText'|trans({}, 'frontend') }} <a rel="nofollow" href="{{path('core_faq_article', {'articleSlug': deliveryArticle.slug, 'categorySlug': deliveryArticle.category.slug })}}">{{ 'MoreDelivery'|trans({}, 'frontend') }}</a></p>
                                            {#
                                            {% if userCity and (deliveryCompanies | length) %}
                                                {% if isSelfPickUp %}
                                                    <p class="self_pickup_block">
                                                        <b>{{'delivery.selfPickup.can' | trans({}, 'CoreDeliveryBundle')}}</b>
                                                        <span>{{'delivery.selfPickup.today' | trans({}, 'CoreDeliveryBundle')}}</span>
                                                    </p>
                                                {% endif %}
                                                <p>
                                                    <strong>Доставка</strong>:
                                                    <span>в ваш город ({{userCity.name}})</span>
                                                </p>
                                                <dl class="delivery_companies clear">
                                                    {% for company in deliveryCompanies %}
                                                        {% set delMethod = company.services | first %}
                                                        <dt class="hidden">
                                                            Компанией &quot;<span class="delivery_company" data-user-city="{{userCity.id}}" data-delivery="{{delMethod.id}}">{{attribute(company, 'caption' ~ app.request.locale)}}&quot;</span>
                                                        </dt>
                                                    {% endfor %}
                                                </dl>
                                                <br>
                                                {% if deliveryCompanies and ((deliveryCompanies | length) > 1)%}
                                                    <span class="text_tgl delivery_all hidden">{{'delivery.show' | trans({}, 'CoreDeliveryBundle')}}</span>
                                                {% endif %}

                                                {% else %}
                                                    <p>{{ 'deliveryText'|trans({}, 'frontend') }} <a href="{{path('core_faq_article', {'articleSlug': article.slug, 'categorySlug': article.category.slug })}}">{{ 'More'|trans({}, 'frontend') }}</a></p>
                                            {% endif %}
                                            #}
                                        </div>


                                        {#<!-- Reserve -->
                                        <!--			<div class="product_buy_action reserve"><div class="product_buy_action_pad">
                                                        <div class="product_buy_price">
                                                            Ожидаемая цена
                                                            <div class="product_price">1299 <span>руб.</span></div>
                                                        </div>
                                                        <button class="common_button big button_cart button_cart_reserve" type="submit"><span><i class="button_icon"></i>Зарезервировать</span></button>
                                                    </div></div>
                                                    <div class="product_buy_delivery reserve">
                                                        <p><strong>Срок поступления товара и доставки</strong> может составить от 76 рабочих дней. Приблизительная стоимость доставки
                                                        300 рублей, срок достваки 4-6 рабочих дней.</p>
                                                        <p>Оставте свой e-mail, и вам будет выслано уведомление, как только на наш склад поступит данный товар.</p>
                                                        <form>
                                                            <input class="text_input_rounded" type="text" name="delivery_subscribe">&nbsp;<button class="common_button"><span>Оставить заявку</span></button>
                                                        </form>
                                                    </div>-->

                                        <!-- Order -->
                                        <!--			<div class="product_buy_action order">
                                                        <div class="product_buy_price">
                                                            <div class="product_price">Цена по запросу</div>
                                                            <div class="product_availability with_icon not_instock">Нет на складе</div>
                                                        </div>
                                                        <button class="common_button big button_cart" type="submit"><span><i class="button_icon"></i>Заказать</span></button>
                                                    </div>
                                                    <div class="product_buy_delivery reserve">
                                                        <p><strong>Срок поступления товара и доставки:</strong> от 76 рабочих дней. Оставте свой e-mail, и вам будет выслано уведомление,
                                                        как только на наш склад поступит данный товар.</p>
                                                        <form>
                                                            <input class="text_input_rounded" type="text" name="delivery_subscribe">&nbsp;<button class="common_button"><span>Оставить заявку</span></button>
                                                        </form>
                                                    </div>
                                        -->#}
                                    {% endif %}
                                </section>
                                <ul class="product_toolbox">
                                    <li class="product_tool">
                                        <span id="update-favorite" class="product_favor with_icon text_tgl"
                                              data-add-url="{{ path('core_product_update_favorites', {action:'add', id: currentProduct.id, _format:'json'}) }}"
                                              data-remove-url="{{ path('core_product_update_favorites', {action:'remove', id: currentProduct.id, _format:'json'}) }}"
                                              data-add-text="{{ 'In favorites'|trans({}, 'frontend') }}"
                                              data-remove-text="{{ 'From favorites'|trans({}, 'frontend') }}"
                                                {% if currentProduct.id in favoriteProductsIds -%}
                                                    data-is-in-favorite="1"
                                                {% else -%}
                                                    data-is-in-favorite="0"
                                                {% endif -%}
                                                {% if app.security.token.user.id is defined -%}
                                                    data-is-logged="1"
                                                {% else -%}
                                                    data-is-logged="0"
                                                    data-login-url="{{ path('fos_user_security_login') }}"
                                                {% endif -%}
                                                >{{ 'In favorites'|trans({}, 'frontend') }}</span>
                                    </li>
                                    <!--noindex-->
                                    <li class="product_tool">
                                        <a rel="nofollow" class="product_ask with_icon text_tgl" href="{{ path('trouble_ticket_contact_with_product_id', { product_id: currentProduct.id }) }}#ask-a-question">{{ 'Ask a question'|trans({}, 'frontend') }}</a>
                                    </li>
                                    <!--/noindex-->
                                    {#
                                    <li class="product_tool last">
                                        <a class="social_btn social_facebook" href="">&nbsp;</a>
                                        <a class="social_btn social_vkontakte" href="">&nbsp;</a>
                                        <a class="social_btn social_twitter" href="">&nbsp;</a>
                                        <span class="dropdown_more with_icon with_icon_right text_tgl">{{ 'More'|trans({}, 'frontend') }}</span>
                                    </li>
                                    #}
                                </ul>
                                <div class="clear"></div>
                                <div class="ajax-result-favorites">
                                    <div class="ajax-success"></div>
                                    <div class="ajax-error"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /product overview & buy -->

                {% if currentProduct.modificationUnion.general and ((currentProduct.modificationUnion and currentProduct.modificationUnion.general and currentProduct.modificationUnion.general.id != currentProduct.id)) %}

                    <!--noindex-->

                {% endif %}

                <!-- product details and products promo -->
                <div class="product_info">
                    <div class="product_page_pad cols_container">
                        <!-- products details col -->
                        <section class="product_details main_col">
                            <div class="main_col_pad">
                                <article itemprop="description" class="def_style">
                                    {{ attribute(currentProduct, 'description' ~ app.request.locale)|raw }}
                                </article>
                            </div>
                        </section>
                        <!-- /products details -->

                        <!-- products promo col -->
                        <div class="side_col">
                            <div class="side_col_pad">

                                {% if accessories|length %}

                                    <section class="showcase_compact_box products_grid row_three">
                                        <h2>Аксессуары для {{captionCaseGenitive}}</h2>
                                        <div class="products_grid_line grid_container">

                                            {# устанавливаем класс для продукта #}
                                            {% set productItemContainerClass = 'product_min' %}
                                            {% for i, product in accessories %}

                                                {% set product = product.targetObject %}
                                                {{ block('product') }}

                                            {% endfor %}

                                        </div>

                                            {% if accessories|length > 3 %}

                                            <span class="showcase_compact_nav prev disabled">{{ 'Next\'s'|trans({}, 'frontend') }}</span>
                                            <span class="showcase_compact_nav next disabled">{{ 'Prev\'s'|trans({}, 'frontend') }}</span>

                                        {% endif %}

                                    </section>

                                {% endif %}

                                {% if series|length %}

                                    <section class="showcase_compact_box products_grid row_three">
                                        <h2>{{ 'From the series'|trans({}, 'frontend') }} {{ attribute(currentProduct.serie, 'caption' ~ app.request.locale) }}</h2>
                                        <div class="products_grid_line grid_container">

                                            {# устанавливаем класс для продукта #}
                                            {% set productItemContainerClass = 'product_min' %}
                                            {% for i, product in series %}

                                                {{ block('product') }}

                                            {% endfor %}

                                        </div>

                                        {% if series|length > 3 %}

                                            <span class="showcase_compact_nav prev disabled">{{ 'Next\'s'|trans({}, 'frontend') }}</span>
                                            <span class="showcase_compact_nav next disabled">{{ 'Prev\'s'|trans({}, 'frontend') }}</span>

                                        {% endif %}

                                    </section>


                                {% endif %}

                                <!-- /similar products -->

                                <!-- similar products -->
                                {% if alternative|length %}

                                    <section class="showcase_compact_box products_grid row_three">
                                        <h2>{{ 'Similar toys'|trans({}, 'frontend') }}</h2>
                                        <div class="products_grid_line grid_container">

                                            {# устанавливаем класс для продукта #}
                                            {% set productItemContainerClass = 'product_min' %}
                                            {% for i, product in alternative %}

                                                {% set product = product.targetObject %}
                                                {{ block('product') }}

                                            {% endfor %}

                                        </div>

                                        {% if alternative|length > 3 %}

                                            <span class="showcase_compact_nav prev disabled">{{ 'Next\'s'|trans({}, 'frontend') }}</span>
                                            <span class="showcase_compact_nav next disabled">{{ 'Prev\'s'|trans({}, 'frontend') }}</span>

                                        {% endif %}

                                    </section>

                                {% endif %}
                                <!-- /similar products -->

                            </div>
                        </div>
                        <!-- /products promo col -->

                    </div>
                </div>
                <!-- /product details and products promo -->
                {% if currentProduct.remoteVideos | length %}
                    <div class="product_info">
                        <div class="product_page_pad cols_container">
                            <div class="main_col_pad">
                                <h3>Видео обзор {{captionCaseGenitive}}</h3>
                                {% set remoteVideoCounter = 1 %}
                                {% for remoteVideo in currentProduct.remoteVideos %}
                                    {% if remoteVideoCounter <= 3 %}
                                    {% set remoteVideoCaption = attribute(remoteVideo, 'caption'~ app.request.locale) %}
                                        <div class="product_video_wr" {% if remoteVideoCaption %}title="{{remoteVideoCaption}}"{% endif %}>
                                            <iframe width="300" height="210" src="{{remoteVideo.videoHosting.playerUri}}{{remoteVideo.code}}" frameborder="0"></iframe>
                                        </div>
                                    {% endif %}
                                    {% set remoteVideoCounter = remoteVideoCounter + 1 %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endif %}
                <div class="product_spec_info product_info">
                    <div class="padding_content">
                        <div class="cols_container">

                            {% if extraProperties['skills'] is defined %}
                                {#
                                {% set skillsDescription = {
                                    'thinking': 'Чтобы ваш малыш вырос умным и сообразительным',
                                    'world': 'Вдохновляют ребенка на исследование всего, что его окружает',
                                    'imagination': 'Дадут ребенку возможность мыслить образно, а это, в свою очередь, способствует более быстрому умственному развитию',
                                    'activity': 'Привьют ребенку любовь к подвижным играм и физическим нагрузкам',
                                    'fine_motor': 'Развивают более точные и скоординированные движения ручек и пальчиков малыша',
                                    'senses': 'Научат вашего ребенка выражать свои чувства и эмоции',
                                    'creativity': 'Развивают фантазию и креативное мышление ребенка',
                                    'communication': 'Развивают у вашего ребенка навыки общения со сверстниками и взрослыми',
                                    'first_words': 'Помогают малышу в адаптации к родной речи',
                                    'gross_motor': 'Развивают двигательную активность корпуса, рук и ног ребенка',
                                    'hand_to_eye_coordination': 'Развивают согласованность действий глаз и рук (зрительно-моторная интеграция)',
                                    'instils_confidence': 'Помогают ребенку обрести чувство уверенности в себе для гармоничного взаимодействия с другими людьми',
                                    'learning_to_read': 'Помогают ребенку без труда научиться читать и считать',
                                    'learning_to_talk': 'Помогают в развитии разговорных навыков с нуля и последующее их совершенствование',
                                    'learning_to_write': 'Развивают не только скорость письма, но и грамотность',
                                    'physical_development': 'Способствуют развитию координации, силы и ловкости у детей',
                                    'problemsolving': 'Научат ребенка самостоятельно решать все возникающие проблемы',
                                    'social_skills': 'Помогают завести новых друзей и наслаждаться общением в компании',
                                    'stimulates_senses': 'Побуждают ребенка использовать все органы чувств'
                                } %}

                                #}

                                <div class="product_skills grid_item">
                                    <h3>{{ 'This toy will help your child to develop skills'|trans({}, 'frontend') }}</h3>
                                    <ul class="product_skills_list">

                                        {% for data in extraProperties['skills'] %}
                                            <li class="product_skill skill_{{ data.name }}">
                                                {% if data.articleKey and articles[data.articleKey] is defined and articles[data.articleKey] %}
                                                    {% set curArticle = articles[data.articleKey] %}
                                                    <h4>
                                                        <!--noindex-->
                                                            <a rel="nofollow" href="{{path('core_faq_article', {'articleSlug': curArticle.slug, 'categorySlug': curArticle.category.slug })}}">{{ data.value }}</a>
                                                        <!--/noindex-->
                                                    </h4>
                                                    {% else %}
                                                        <h4>{{ data.value }}</h4>
                                                {% endif %}

                                                {% if data.shortDescription %}

                                                    <p>{{ data.shortDescription }}</p>

                                                {% endif %}

                                                <span class="skill_icon">&nbsp;</span>
                                            </li>

                                        {% endfor %}

                                    </ul>
                                </div>


                            {% endif %}

                            <div class="product_techinfo grid_item">

                                {% if properties or currentProduct.countryOfOrigin or currentProduct.warrantyMonths or currentProduct.netWeight or currentProduct.grossWeight or (currentProduct.heightOfProduct and currentProduct.widthOfProduct and currentProduct.lengthOfProduct)%}

                                    <h3>{{ 'Characteristics'|trans({}, 'frontend') }}</h3>
                                    <ul class="list_simple">
                                        {% if properties%}
                                            {% for name, property in properties %}
                                                {% if property.values or property.value %}

                                                    <li><strong>{{ property.caption }}: </strong>

                                                        {% if name and name == 'brand' and currentProduct.brand %}

                                                            <a href="{{ path('core_shop_product_brand_first_page', {slug: currentProduct.brand.slug}) }}">{{ property.values|join(', ') }}</a>

                                                        {% else %}
                                                            {% if property.values|length > 0 %}
                                                                {{ property.values|join(', ') }}
                                                            {% else %}
                                                                {% if property.type == 'input' %}
                                                                    {{ numberFormat(property.value, true, 2, ',', '') }}
                                                                {% else %}
                                                                    {{ property.value|raw }}
                                                                {% endif %}
                                                            {% endif %}
                                                            {{ property.unit }}

                                                        {% endif %}

                                                    </li>

                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}

                                        {% if (currentProduct.heightOfProduct or currentProduct.widthOfProduct or currentProduct.lengthOfProduct) %}

                                            <li><strong>{{ 'Size'|trans({}, 'frontend') }}: </strong>{{ dimensionsFormat(currentProduct.heightOfProduct, currentProduct.widthOfProduct, currentProduct.lengthOfProduct) }}</li>

                                        {% endif %}

                                        {% if (currentProduct.netWeight) %}

                                            <li><strong>{{ 'Net weight'|trans({}, 'frontend') }}: </strong>{{ weightFormat(currentProduct.netWeight, currentProduct.isNetWeightInGm) }}</li>

                                        {% endif %}

                                        {% if (currentProduct.grossWeight) %}

                                            <li><strong>{{ 'Gross weight'|trans({}, 'frontend') }}: </strong>{{ weightFormat(currentProduct.grossWeight, currentProduct.isNetWeightInGm) }}</li>

                                        {% endif %}

                                        {% if currentProduct.warrantyMonths %}

                                            <li><strong>{{ 'Гарантия'|trans({}, 'frontend') }}: </strong>{{ currentProduct.warrantyMonths }} {{ declOfNum(currentProduct.warrantyMonths, ['месяц', 'месяца', 'месяцев']) }}</li>

                                        {% endif %}
                                        {% if currentProduct.countryOfOrigin %}
                                            <li><strong>{{ 'Страна происхождения'|trans({}, 'frontend') }}: </strong> {{currentProduct.countryOfOrigin.getCaption('ru')}}</li>
                                        {% endif %}
                                        {% if currentProduct.instruction.count %}
                                            {% for file in currentProduct.instruction %}
                                                <li>
                                                    <a href="{{ asset(file|getFileWebPath) }}" target="_blank">{{ attribute(file, 'caption' ~ app.request.locale) }}</a>
                                                </li>
                                            {% endfor %}
                                        {% endif %}

                                    </ul>

                                {% endif %}
                                {#
                                {% if currentProduct.instruction.count %}

                                    <h3>{{ 'Helpful information'|trans({}, 'frontend') }}</h3>
                                    <ul class="list_simple">

                                        {% for file in currentProduct.instruction %}

                                            <li><a href="{{ asset(file|getFileWebPath) }}" target="_blank">{{ attribute(file, 'caption' ~ app.request.locale) }}, {{ file.size|getHumanFileSize }}</a></li>

                                        {% endfor %}

                                    </ul>

                                {% endif %}
                                #}

                            </div>

                            {% if attribute(currentProduct, 'complectation' ~ app.request.locale) %}

                                <div class="product_techinfo grid_item list_simple_format">
                                    <h3>Комплектация {{getCaseByKey(attribute(currentProduct, 'captionCase' ~ app.request.locale), 'genitive')}}</h3>
                                    {{ attribute(currentProduct, 'complectation' ~ app.request.locale)|raw }}
                                </div>

                            {% endif %}

                        </div>
                    </div>
                </div>
                {# iso - sings #} 
                {% if extraProperties['iso-sings'] is defined and (extraProperties['iso-sings'] | length) %}
                <div class="product_info">
                    <div class="padding_content">
			<div class="main_col_pad">
                            <h2>Свойства товара</h2>
                            <ul class="insignia_list">
                                {% for data in extraProperties['iso-sings'] %}
                                    {% if data.extraKey3 %}
                                    <div class="recycling_icon">
                                        <ins class="insignia-icon-recycling-codes">&nbsp;</ins>
                                        <div class="recycling_icon_num">
                                            <span class="recycling_icon_num_text">{{data.extraKey3}}</span>
                                        </div>
                                        {% if data.value and ('no-title' not in data.name) %}
                                        <div class="recycling_icon_desc">{{data.value}}</div>
                                        {% endif %}
                                    </div>
                                    {% else %}
                                        <li class="insignia_item">
                                            <ins class="{{data.name}}">&nbsp;</ins>
                                            {% if data.value and ('no-title' not in data.name) %}
                                                <div class="insignia_item_text">{{data.value}}</div>
                                            {% endif %}
                                        </li>
                                    {% endif %}
                                    
                                {% endfor %}
                            </ul>
			</div>
                    </div>
                </div>
                {% endif %}            
                {# iso - sings #}
                {% if currentProduct.modificationUnion.general and ((currentProduct.modificationUnion and currentProduct.modificationUnion.general and currentProduct.modificationUnion.general.id != currentProduct.id)) %}

                    <!--/noindex-->

                {% endif %}

            </section>
            <!-- product opinions & discussions -->
            {{ block('reviews_layout') }}
            <!-- /product reviews & discussions -->


            <!-- last viewed showcase -->
            {% if recentlyViewed %}

                <div class="showcase_lastviewed showcase_horizontal showcase_box">
                    <div class="product_page_pad products_grid row_five">
                        <h2>{{ 'Recently viewed'|trans({}, 'frontend') }}</h2>
                        <div class="showcase_container">

                            {% if recentlyViewed|length > 7 %}

                                <span class="showcase_nav prev disabled"><span class="showcase_nav_btn">{{ 'Next\'s'|trans({}, 'frontend') }}</span></span>
                                <span class="showcase_nav next disabled"><span class="showcase_nav_btn">{{ 'Prev\'s'|trans({}, 'frontend') }}</span></span>

                            {% endif %}

                            <div class="products_wrapper">
                                <div class="products_grid_line grid_container">

                                    {# устанавливаем класс для продукта #}
                                    {% set productItemContainerClass = 'product_min' %}
                                    {% for i, product in recentlyViewed %}

                                        {{ block('product') }}

                                    {% endfor %}

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            {% endif %}
            <!-- /last viewed showcase -->

        </div>

    {% endspaceless %}
{% endblock %}