{% extends 'ApplicationSonataAdminBundle:CRUD:base_edit.html.twig' %}
{% block javascripts %}
    {{ parent() }}
    <script>
        var product_dublicate_create = "{{path('product_dublicate_create')}}";
    </script>    
    <script src="{{ asset('bundles/coreproduct/Admin/js/edit.js')}}" type="text/javascript"></script>    
    <script src="{{ asset('bundles/coreproduct/Admin/js/dublicate.js')}}" type="text/javascript"></script>
{% endblock %}

{#Добавляем кнопку Показать на сайте#}
{% block actions %}
    {%if object.slug is defined and object.slug%}

        <div class="sonata-actions btn-group">
            <span class="btn-group sonata-action-element">
                <a  target="_blank" class="btn sonata-action-element" href="{{path('core_product', {slug:object.slug})}}"><i class="icon-zoom-in"></i> Показать на сайте</a>
            </span>            
        </div>
    {%endif%}
    {{parent()}}
    {% if nextObject is defined or prevObject is defined %}
        <div class="row-fluid pull-right" id="prev-next">
            <div class="pull-right">
                {% if prevObject is defined and prevObject %}
                    <span class="btn btn-link">
                        <a title="Предыдущий (ctrl + &larr;)" id="btn-prev" class="prev-next" href="{{path('admin_core_product_commonproduct_edit', {id:prevObject.id})}}"><i class="icon-step-backward"></i>{{attribute(prevObject, 'caption' ~ app.request.locale)}}</a>
                    </span>
                {% endif %}
                {% if nextObject is defined and nextObject %}
                    <span class="btn btn-link">
                        <a title="Следующий (ctrl + &rarr;)" id="btn-next" class="prev-next" href="{{path('admin_core_product_commonproduct_edit', {id:nextObject.id})}}">{{attribute(nextObject, 'caption' ~ app.request.locale)}}<i class="icon-step-forward"></i></a>
                    </span>
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block formactions_buttons %}
    {{parent()}}
    <span class="btn-group sonata-action-element">
        <a href="javascript:void(0);" data-id="{{object.id}}" data-article="{{object.article}}" class="dublicateProduct btn">
            Дублировать
        </a>
    </span>
{% endblock %}

{% block form %}
  {{languageSwitcher()|raw}}
    {{ parent()}}
{% endblock %}
