
{% if adplace.id %}
    <h3>Редактирование настроек вашего рекламного места</h3>
{% else %}
    <h3>Добавление нового рекламного места в систему</h3>
{% endif %}


    {#форма редактирования профиля ЛК#}
    {% for flashMessage in app.session.flashbag.get('edit_success') %}
        <br/>
        <div class="alert alert-success fade in">
            {{ flashMessage | raw }}

            &nbsp;&nbsp;&nbsp;<a class='btn-u btn-u-xs ' href='{{ path('core_cabinet_adplace_create') }}'><i
                        class='fa fa-plus-square'></i> &nbsp;Добавить еще рекламное место</a>
            &nbsp;&nbsp;&nbsp;
            <a class='btn-u btn-u-xs btn-u-default' href='{{ path('core_cabinet_adplace_list_first_page') }}'><i
                        class='fa fa-reply'></i> &nbsp;Вернуться к списку рекламных мест</a>

        </div>
    {% endfor %}


    {% for flashMessage in app.session.flashbag.get('edit_errors') %}
        <br/>
        <div class="alert alert-danger fade in">
            {{ flashMessage | raw }}
        </div>
    {% endfor %}


    {% if form.vars.errors | length %}
        <br/>
        <div class="alert alert-danger fade in">
            {{ form_errors(form) }}
        </div>
    {% endif %}

{% form_theme form.sections 'CoreSiteBundle:AdPlace/Cabinet/Form:fields_section.html.twig' %}
{% form_theme form.countryList 'CoreDirectoryBundle:Form/Type:country_form_frontend_widget.html.twig' %}
<form style="clear: both" class="sky-form sky-form-other-style"
      action="{% if adplace.id %}{{ path('core_cabinet_adplace_edit', {id:adplace.id}) }}{% else %}{{ path('core_cabinet_adplace_create') }}{% endif %}" {{ form_enctype(form) }}
      method="POST">
    <fieldset class="sky-form-other-style">

        <div class="row margin-bottom-20">
            <div class="col-lg-6  {% if form_errors(form.site) %}state-error{% endif %}">
                <label>Сайт*</label>
                {{ form_widget(form.site,{ 'attr': {'class': 'form-control'} }) }}
                {{ form_errors(form.site) }}
                <span class="note">Выберите сайт на котором распологается рекламное место.</span>
            </div>
        </div>

        <div class="row margin-bottom-20">
            <div class="col-sm-6  {% if form_errors(form.name) %}state-error{% endif %}">
                <label>Название*</label>
                {{ form_widget(form.name,{ 'attr': {'class': 'form-control'} }) }}

                {{ form_errors(form.name) }}
            </div>
        </div>


        <div class="row margin-bottom-20">
            <div class="col-sm-6  {% if form_errors(form.size) %}state-error{% endif %}">
                <label>Размер*</label>
                {{ form_widget(form.size,{ 'attr': {'class': 'form-control'} }) }}
                {{ form_errors(form.size) }}
            </div>
        </div>

        <div class="row margin-bottom-20 extraSize" style="display: none">
            <div class="col-sm-6  {% if form_errors(form.height) %}state-error{% endif %}">
                <label>Высота*</label>
                {{ form_widget(form.height,{ 'attr': {'class': 'form-control'} }) }}
                {{ form_errors(form.height) }}
                <span class="note">Введите высоту рекламного места в пикселях.</span>
            </div>
        </div>

        <div class="row margin-bottom-20 extraSize" style="display: none">
            <div class="col-sm-6  {% if form_errors(form.width) %}state-error{% endif %}">
                <label>Ширина*</label>
                {{ form_widget(form.width,{ 'attr': {'class': 'form-control'} }) }}
                {{ form_errors(form.width) }}
                <span class="note">Введите ширину рекламного места в пикселях.</span>
            </div>
        </div>


        <div class="margin-bottom-20 {% if form_errors(form.isShowInCatalog) %}state-error{% endif %}">
            <label class="checkbox">
                {{ form_widget(form.isShowInCatalog) }}<i></i> Выводить в каталог</label>
                {{ form_errors(form.isShowInCatalog) }}
            </label>
        </div>

        <div class="row margin-bottom-20">
            <div class="col-sm-6  {% if form_errors(form.gag) %}state-error{% endif %}">
                <label>Заглушка</label>
                <div class="pull-right">
                    <a class="btn-u btn-u-xs gag-create" href="{{ path('core_cabinet_banner_create_ajax') }}">
                        <i class="fa fa-plus-square"></i>
                        <span>&nbsp;Добавить Заглушку</span>
                    </a>
                </div>
                {{ form_widget(form.gag,{ 'attr': {'class': 'form-control'} }) }}
                {{ form_errors(form.gag) }}
            </div>
            <div id="gag-placement"></div>
        </div>

        <div class="row margin-bottom-20">
            <div class="col-sm-6  {% if form_errors(form.sections) %}state-error{% endif %}">
                <label>Разделы</label>
                <div class="pull-right">
                    <a href="{{ path('core_cabinet_section_create_ajax') }}" class="btn-u btn-u-xs section-create">
                        <i class="fa fa-plus-square"></i>
                        <span>&nbsp;Добавить раздел</span>
                    </a>
                </div>
                {{ form_widget(form.sections) }}
                {{ form_errors(form.sections) }}
            </div>
        </div>
        {% if form.prices is defined %}
        <div class="row margin-bottom-20">
            <div class="prices collection-wrapper {% if form_errors(form.prices) %}state-error{% endif %}">
                <label>Цены</label>
                <div class="pull-right">
                    <a href="javascript:void(0);" class="btn-u btn-u-xs collection-add" data-prototype="{% filter escape %}{{ include('CoreSiteBundle:AdPlacePrice/Cabinet/Form:price.html.twig', { 'form': form.prices.vars.prototype }) }}{% endfilter %}">
                        <i class="fa fa-plus-square"></i>
                        <span>&nbsp;Добавить цену</span>
                    </a>
                </div>
                {% for price in form.prices %}
                    <div class="row margin-bottom-20">
                        <div class="col-sm-6  {% if form_errors(price.cost) %}state-error{% endif %}">
                            <label>{{ price.cost.vars.label }}</label>
                            {{ form_widget(price.cost,{ 'attr': {'class': 'form-control'} }) }}
                            {{ form_errors(price.cost) }}
                        </div>
                        <div class="col-sm-6  {% if form_errors(price.priceModel) %}state-error{% endif %}">
                            <label>{{ price.priceModel.vars.label }}</label>
                            {{ form_widget(price.priceModel,{ 'attr': {'class': 'form-control'} }) }}
                            {{ form_errors(price.priceModel) }}
                        </div>
                        {# discounts #}
                        <div class="col-sm-12 margin-top-20">
                            <div class="discounts collection-wrapper {% if form_errors(price.discounts) %}state-error{% endif %}">
                                <label>Скидки</label>
                                <div class="pull-right">
                                    <a href="javascript:void(0);" class="btn-u btn-u-xs collection-add" data-prototype="{% filter escape %}{{ include('CoreSiteBundle:AdPlacePrice/Cabinet/Form:discount.html.twig', { 'form': price.discounts.vars.prototype }) }}{% endfilter %}">
                                        <i class="fa fa-plus-square"></i>
                                        <span>&nbsp;Добавить скидку</span>
                                    </a>
                                </div>
                                {% for discount in price.discounts %}
                                    <div class="row margin-bottom-20">
                                        <div class="col-sm-6  {% if form_errors(discount.amount) %}state-error{% endif %}">
                                            <label>{{ discount.amount.vars.label }}</label>
                                            {{ form_widget(discount.amount,{ 'attr': {'class': 'form-control'} }) }}
                                            {{ form_errors(discount.amount) }}
                                        </div>
                                        <div class="col-sm-6  {% if form_errors(discount.rate) %}state-error{% endif %}">
                                            <label>{{ discount.rate.vars.label }}</label>
                                            {{ form_widget(discount.rate,{ 'attr': {'class': 'form-control'} }) }}
                                            {{ form_errors(discount.rate) }}
                                        </div>
                                    </div>
                                {% endfor  %}
                            </div>
                        </div>
                        {# End discounts #}
                    </div>
                {% endfor  %}
            </div>
        </div>
        {% endif %}

        <div class="row margin-bottom-20">
            <div class="col-sm-6  {% if form_errors(form.countryList) %}state-error{% endif %}">
                <label>Страны</label>
                <div class="pull-right">
                    <a href="javascript:void(0);" class="btn-u btn-u-xs country-select">
                        <i class="fa fa-plus-square"></i>
                        <span>&nbsp;Выбрать страны</span>
                    </a>
                </div>
                {{ form_widget(form.countryList) }}
                {{ form_errors(form.countryList) }}
            </div>
        </div>


        <div class="margin-bottom-20">
        </div>

        {{ form_rest(form) }}

        <div class="text-right">
            <button class="btn-u" type="submit">{% if adplace.id %}Сохранить{% else %}Добавить{% endif %}</button>
            &nbsp;&nbsp;
            <a href="{{ path('core_cabinet_site_list_first_page') }}" class="btn-u btn-u-default">Отмена</a>
            {% if adplace.id %}
                &nbsp;&nbsp; или &nbsp;&nbsp;
                <a href="javascript:void(0);" class="delete btn-u btn-u-red">Удалить</a>
            {% endif %}
        </div>
    </fieldset>
</form>



<script>

    /**
     * Объект для хранения кол-ва колекций
     */
    {#
    var collectionCount = {
        prices : '{{ form.prices|length }}',
        discounts : 0
    };
    #}
    $(function () {

        $('#form_size').change(function () {
            if ($(this).find('option:selected').attr('data-name') == 'specialnoe') {
                $('.extraSize').show();
                $('#form_height').attr('required', 'required');
                $('#form_width').attr('required', 'required');
            }
            else {
                $('.extraSize').hide();
                $('#form_height').removeAttr('required');
                $('#form_width').removeAttr('required');
            }
        });

        $('#form_size').change();

        {% if adplace.id %}
        $('.delete').click(function () {
            var res = confirm('Вы действительно хотите удалить это рекламное место из системы?');
            if (res) {
                window.location.href = '{{ path('core_cabinet_adplace_delete', {id:adplace.id}) }}';
            }
        });
        {% endif %}


        // форма добавления загушки
        $('.gag-create').click(function(e) {
            var $this = $(this),
                    modalPlacement = $('#gag-placement');
            modalPlacement.find('#banner-modal').remove();
            modalPlacement.html('');
            $.ajax({
                type: 'POST',
                url:$this.attr('href')+'?isGag=1',
                success: function(data) {
                    if (data.result) {
                        modalPlacement.html(data.data);
                        $('#banner-modal').modal('show');
                    }
                },
                error: function () {
                    console.log('error');
                }
            });

            return false;
        });

        // видимость форм загушки
        $('body').on('change', '.banner_type', function(){
            var $this = $(this),
                    formId = 'form_' + $this.val(),
                    curForm = $('#'+formId),
                    same = $('.banner_type'),
                    forms = $('.trigger');
            same.each(function(index, element){
                $(element).val($this.val());
            });
            forms.each(function(index, element){
                var $this = $(element);
                $this.addClass('hidden');
                curForm.hide();
            });

            if (curForm.hasClass('hidden')) {
                curForm.removeClass('hidden');
                curForm.show();
            }
        });

        // сохранение загулшки
        $('#gag-placement').on('submit', 'form.trigger', function() {
            var $this = $(this),
                    collectionWrapper = $('.collection-wrapper'),
                    postUrl,
                    formData = $this.serialize(),
                    modalBlock = $('#banner-modal');
            $.ajax({
                type: 'POST',
                url: "{{ path('core_cabinet_banner_create_ajax', {'isGag': 1}) }}",
                data: formData,
                success: function(data) {
                    if (data.result) {
                        modalBlock.modal('hide');
                        $('#form_gag').append('<option value="' + data.data.id +'">' + data.data.name +'</option>')
                        $('#form_gag').val(data.data.id);
                    } else {
                        $('.modal-content-wr', modalBlock).remove();
                        $('#myModalLabel', modalBlock).after($(data.data).find('.modal-content-wr'));
                    }
                },
                error: function () {
                    console.log('error');
                }
            });

            return false;
        });

    });

    function manipulateCollection(count) {
        // добавление коллекции
        $('.collection-add').click(function(e) {
            e.preventDefault();
            var $this = $(this),
                parentWrapper = $this.parents('.collection-wrapper'),
                newWidget = $this.attr('data-prototype');
            newWidget = newWidget.replace(/__name__/g, count);
            parentWrapper.append(newWidget)

            return count++;
        });
    }

</script>



