{% extends 'form_div_layout.html.twig' %}
{%- block choice_widget_expanded -%}

    <div {{ block('widget_container_attributes') }}>
        <table class="table table-striped">
            <tbody>
            {%- for child in form %}
                <tr>
                    {% if child.parent.vars.extraData[child.vars.value] is defined %}
                        {% set curObj =  child.parent.vars.extraData[child.vars.value] %}
                        <td><label style="margin-left: -15px; margin-top: -5px" title="Включить проверку раздела"
                                   class="toggle">{{- form_widget(child) -}}<i class="rounded-4x"></i></label>
                        </td>
                        <td width="90%">
                            <a data-id="{{ curObj.id }}" class="section-edit"
                               href="{{ path('core_cabinet_section_edit_ajax', {'id':curObj.id }) }}"><u>{{ curObj.name }}</u></a>
                        </td>
                        <td>
                            <a data-id="{{ curObj.id }}" class="section-delete" href="javascript:void(0);"><i
                                        class="icon-trash" aria-hidden="true"></i></a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor -%}
            </tbody>
        </table>
        <span class="note">Если заданы разделы, тогда реклама будет показана только в соответствующих разделах.
            Чтобы использовать раздел необходимо выставить значение On.</span>

        <div id="modal_placement"></div>

    </div>
    <script>
        (function ($) {

            $(function () {

                $(document).on('click', '[name="form[sections][]"]', function () {

                    var sectionId = $(this).val(),
                            status = $(this).is(':checked') ? 1 : 0,
                            adplace_id = {{ form.parent.vars.value.id }};

                    $.ajax({
                        type: "POST",
                        data: {section_id: sectionId, status: status, adplace_id: adplace_id},
                        url: "{{ path('core_cabinet_section_set_status_ajax') }}",
                        success: function (data) {

                        },
                        error: function () {
                            console.log('error');
                        }
                    });

                });

                $(document).on('click', '.section-delete', function () {
                    var $this = $(this),
                            parentBlock = $this.closest('tr'),
                            curId = $this.data('id');
                    if (!confirm("Удалить раздел?")) {
                        return false;
                    }
                    $.ajax({
                        type: "POST",
                        data: "id=" + curId,
                        url: "{{ path('core_cabinet_section_delete_ajax') }}",
                        success: function (data) {
                            if (data.result) {
                                parentBlock.fadeOut().remove();
                            } else {
                                parentBlock.fadeOut('fast').fadeIn('fast');
                            }
                        },
                        error: function () {
                            console.log('error');
                        }
                    });
                });

                // section edit get form
                $(document).on('click', '.section-edit', function () {
                    var $this = $(this),
                            modalPlacement = $('#modal_placement'),
                            parentBlock = $this.closest('tr'),
                            curId = $this.data('id');

                    $('.active-section').each(function (index, element) {
                        var $el = $(element);
                        //if ($el.data('id') != $this.data('id')) {
                        $el.removeClass('active-section');
                        $el.attr('href', $el.data('href'));
                        $el.removeAttr('data-toggle');
                        //$el.addClass('section-edit');
                        //}
                    });

                    $.ajax({
                        type: "POST",
                        data: "id=" + curId,
                        url: $this.attr('href'),
                        success: function (data) {
                            if (data.result) {
                                $this.data('href', $this.attr('href'));
                                modalPlacement.html(data.data.form);
                                $('#responsive').modal('show');
                                //$this.removeClass('section-edit');
                                $this.attr('href', '#responsive');
                                $this.attr('data-toggle', 'modal');
                                $this.addClass('active-section');
                            }
                        },
                        error: function () {
                            console.log('error');
                        }
                    });

                    return false;
                });


                $(document).on('click', '.section-create', function () {

                    var $this = $(this),
                            modalPlacement = $('#modal_placement');

                    $('.active-section').each(function (index, element) {
                        var $el = $(element);
                        $el.removeClass('active-section');
                        $el.attr('href', $el.data('href'));
                        $el.removeAttr('data-toggle');
                        $el.addClass('section-edit');
                    });

                    $.ajax({
                        type: "POST",
                        url: $this.attr('href'),
                        success: function (data) {
                            if (data.result) {
                                $this.data('href', $this.attr('href'));
                                modalPlacement.html(data.data.form);
                                $('#responsive').modal('show');
                            }
                        },
                        error: function () {
                            console.log('error');
                        }
                    });

                    return false;

                });

            });

        })(jQuery)
    </script>
{%- endblock choice_widget_expanded -%}