{% extends "CoreCommonBundle::main_layout.html.twig" %}

{# SEO - заголовки #}
{% block title %}{% endblock %}
{% block meta_keywords %}{% endblock %}
{% block meta_description %}{% endblock %}

{% block content %}
    <!--=== Breadcrumbs ===-->
    <div class="breadcrumbs">
        <div class="container">
            <h1 class="pull-left">Восстановление пароля</h1>
            <ul class="pull-right breadcrumb">
                <li><a href="{{ path('core_common_index') }}">На главную</a></li>
                <li class="active">Восстановление пароля</li>
            </ul>
        </div>
        <!--/container-->
    </div><!--/breadcrumbs-->
    <!--=== End Breadcrumbs ===-->



    <!--=== Content Part ===-->
    <div class="container content">


        <div class="alert alert-warning fade in">
            <h1>Пароль для данного пользователя уже запрашивался за последние 24 часа.</h1>
        </div>

        {#{% include "FOSUserBundle:Resetting:request_content.html.twig" %}#}
        <!--/row-->
    </div><!--/container-->
    <!--=== End Content Part ===-->

{% endblock %}





{#{% extends "ApplicationSonataUserBundle::layout.html.twig" %}#}

{#&#123;&#35; SEO - заголовки &#35;&#125;#}
{#{% block title %}Восстановление пароля пользователя{% endblock %}#}
{#{% block meta_keywords %}восстановить, пароль, личный кабинет{% endblock %}#}
{#{% block meta_description %}Введите Ваш e-mail для восстановления пароля на сайте Promomaster.{% endblock %}#}

{#{% block content %}#}
{#<div id="page_path">#}
        {#<ul class="page_path_links">#}
            {#<li class="page_path_link"><a href="{{path('core_common_index')}}">OliKids</a></li>#}
            {#<li class="page_path_link">#}
                {#<strong>Восстановление пароля</strong>#}
            {#</li>#}
        {#</ul>#}
    {#</div>#}
    {#<div role="main" class="login_page" id="content">#}
        {#<div class="page_pad">#}
            {#<h1>Восстановление пароля</h1>#}
            {#<div class="attention_box">#}
                {#{{ 'resetting.password_already_requested'|trans({}, 'FOSUserBundle') }}#}
            {#</div>#}
            {#<div class="box brown_gradient_box">#}
                {#<form class="auto_size" action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">#}
                    {#<fieldset class="form_fieldset">#}
                        {#<div class="form_row">#}
                            {#<label class="form_label" for="username">{{ 'resetting.request.username'|trans({}, 'FOSUserBundle') }}</label>#}
                            {#<div class="form_field">#}
                                {#<input size="40" class="text_input" type="text" id="username" name="username" required="required" />#}
                            {#</div>#}
                        {#</div>#}
                    {#</fieldset>#}
                    {#<div class="form_row form_padding_group">#}
                        {#<button type="submit" class="common_button big">#}
                            {#<span>{{ 'resetting.request.submit'|trans({}, 'FOSUserBundle') }}</span>#}
                        {#</button> или#}
                        {#<a href="{{path('core_common_index')}}">Отменить</a>#}
                    {#</div>#}
                {#</form>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}
{#{% endblock %}#}
