<div class="row">
    <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
        <form class="reg-page" action="{{ path('fos_user_resetting_reset', {'token': token}) }}"
                {{ form_enctype(form) }} method="POST">
            <div class="reg-header">
                <h2>Изменение пароля</h2>
            </div>

            {#<div class="input-group margin-bottom-20">#}
            {#<span class="input-group-addon"><i class="fa fa-lock"></i></span>#}
            {#<input type="password" id="password" name="_password" required="required" placeholder="Пароль" class="form-control">#}
            {#</div>#}




            <div class="input-group  {% if form_errors(form.new.first) %}state-error{% else %} margin-bottom-20{% endif %}" >
                <span class="input-group-addon" ><i  class="fa fa-lock" ></i></span>
                {{ form_widget(form.new.first, {'attr':{ 'class': 'form-control', 'placeholder':'Новый пароль'} }) }}
            </div>


            {% if form_errors(form.new.first) %}
                <div class="state-error margin-bottom-20" >{{ form_errors(form.new.first) }}</div>
            {% endif %}

            <div class="input-group margin-bottom-20 {% if form_errors(form.new.second) %}state-error{% endif %}">
                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                {{ form_widget(form.new.second, {'attr':{ 'class': 'form-control', 'placeholder':'Повторите пароль'} }) }}
                {{ form_errors(form.new.second) }}
            </div>

                <div class="text-right">
                    <div>
                    <button class="btn-u" type="submit">Изменить пароль</button>

                    <a href="{{ path('core_common_index') }}" class="btn-u btn-u-default" style="margin-left: 10px">Отменить</a>
                        </div>
                </div>
            {{ form_rest(form) }}
        </form>
    </div>
</div>


