{% form_theme form 'CoreCommonBundle:Form:choice_widget_with_data_attr.html.twig' %}
<form action="#" method="post" class="waybill-form">
    <fieldset>
        <legend>Заполните недостающие данные</legend>
        <div class="control-group">
            {{form_label(form.departureCity, null, {'attr': {'class': 'control-label'}})}}
            <div class="controls">{{form_widget(form.departureCity)}}</div>
        </div>
        {% if form.terminalFrom is defined %}
            <div class="control-group seller-terminal{% if deliveryFrom == 1  and company != 'dpd' %} hidden{% endif %}">
                {{form_label(form.terminalFrom, null, {'attr': {'class': 'control-label'}})}}
                <div class="controls">{{form_widget(form.terminalFrom)}}</div>
            </div>
        {% endif %}
        <div class="control-group">
            {{form_label(form.service, null, {'attr': {'class': 'control-label'}})}}
            <div class="controls">{{form_widget(form.service)}}</div>
        </div>
        <div class="control-group">
            <label class="control-label">Стоимость доставки</label>
            <div class="controls delivery-price">
                <span class="label label-info">{{deliveryPrice}} руб.</span>
            </div>
        </div>
        {% if form.costly is defined %}
            <div class="control-group">
                {{form_label(form.costly, null, {'attr': {'class': 'control-label'}})}}
                <div class="controls">{{form_widget(form.costly)}}</div>
            </div>
        {% endif %}
        {% if form.packageDescription is defined %}
            <div class="control-group">
                {{form_label(form.packageDescription, null, {'attr': {'class': 'control-label'}})}}
                <div class="controls">{{form_widget(form.packageDescription)}}</div>
            </div>
        {% endif %}
        <div class="control-group">
            {{form_label(form.extraServices, null, {'attr': {'class': 'control-label'}})}}
            <div class="controls">{{form_widget(form.extraServices)}}</div>
        </div>
        {% if form.deliveryFrom is defined %}
        <div class="control-group">
            {{form_label(form.deliveryFrom, null, {'attr': {'class': 'control-label'}})}}
            <div class="controls">{{form_widget(form.deliveryFrom)}}</div>
        </div>
        {% endif %}
        {% if form.deliveryTo is defined %}
        <div class="control-group">
            {{form_label(form.deliveryTo, null, {'attr': {'class': 'control-label'}})}}
            <div class="controls">{{form_widget(form.deliveryTo)}}</div>
        </div>
        <div class="seller-full-address{% if deliveryFrom == 0 and company != 'dpd' %} hidden{% endif %}">
            <div class="control-group">
                {{form_label(form.sellerAddr)}}
                <div class="controls">{{form_widget(form.sellerAddr)}}</div>
            </div>
            <div class="control-group">
                {{form_widget(form.sellerStreetAbbr)}}
                <div class="controls">{{form_widget(form.sellerStreet)}}</div>
            </div>
            <div class="control-group">
                {{form_label(form.sellerHouse, null, {'attr': {'class': 'control-label'}})}}
                <div class="controls">{{form_widget(form.sellerHouse)}}</div>
            </div>
            <div class="control-group">
                {{form_widget(form.sellerPlacementType)}}
                <div class="controls">{{form_widget(form.sellerPlacement)}}</div>
            </div>
            {% if form.sellerExtraAddr is defined %}
            <div class="control-group">
                {{form_label(form.sellerExtraAddr, null, {'attr': {'class': 'control-label'}})}}
                <div class="controls">{{form_widget(form.sellerExtraAddr)}}</div>
            </div>
            {% endif %}
        </div>
        {% endif %}
        <div class="control-group">
            {{form_label(form.comment, null, {'attr': {'class': 'control-label'}})}}
            <div class="controls">{{form_widget(form.comment)}}</div>
        </div>
    </fieldset>
    <fieldset>
        <legend>Разбейте адрес доставки на составляющие, если это доставка до дверей клиента</legend>
        <div class="buyer-terminal {% if deliveryTo == 1  and company != 'dpd' %} hidden{% endif %}">
        <div class="control-group">
            {{form_label(form.terminalTo, null, {'attr': {'class': 'control-label'}})}}
            <div class="controls">{{form_widget(form.terminalTo)}}</div>
        </div>
        </div>
        <div class="buyer-full-address{% if deliveryTo == 0 and company != 'dpd' %} hidden{% endif %}">
            <div class="control-group">
                {{form_label(form.buyerAddr)}}
                <div class="controls">{{form_widget(form.buyerAddr)}}</div>
            </div>
            <div class="control-group">
                {{form_widget(form.streetAbbr)}}
                <div class="controls">{{form_widget(form.street)}}</div>
            </div>
            <div class="control-group">
                {{form_label(form.house, null, {'attr': {'class': 'control-label'}})}}
                <div class="controls">{{form_widget(form.house)}}</div>
            </div>
            <div class="hidden">
                {% for sizesOfBox in form.sizesOfBox %}
                    <li>
                        {{ form_errors(sizesOfBox) }}
                        {{ form_widget(sizesOfBox) }}
                    </li>
                {% endfor %}
                {% do form.sizesOfBox.setRendered %}
            </div>
            <div class="control-group">
                {{form_widget(form.placementType)}}
                <div class="controls">{{form_widget(form.placement)}}</div>
            </div>
            {% if form.buyerExtraAddr is defined %}
            <div class="control-group">
                {{form_label(form.buyerExtraAddr, null, {'attr': {'class': 'control-label'}})}}
                <div class="controls">{{form_widget(form.buyerExtraAddr)}}</div>
            </div>
            {% endif %}
            <div class="hidden">
                {{form_rest(form)}}
            </div>
        </div>
    </fieldset>
</form>