
{#**
 * Шаблон для вывода товаров по бренду
 *
 * @author Sergeev A.M.
 * @copyright LLC "PromoMaster"
 *#}

{% extends 'CoreProductBundle:Catalog:layout.html.twig' %}

{% use 'CoreProductBundle:Catalog:products_container.html.twig' %}

{% set _page = app.request.attributes.get('page') %}

{# SEO - заголовки #}
{% set seoCats %}
    {%- for c in filterBuilder['categories']['values'] -%}, {{ c['caption'] }}{%- endfor -%}
{% endset %}

{% set seoPage %}
    {%- if (_page and _page > 1)  -%}, страница {{ _page }}{%- endif -%}
{% endset %}

{% set currentSeries = null %}
{% if series|length and app.request.attributes.get('slugSeries') %}
    {% for s in series %}
        {% if app.request.attributes.get('slugSeries') == s.slug %}
            {% set currentSeries = s %}
        {% endif %}
    {% endfor %}
{% endif %}

{%- block title -%}
    {% spaceless %}
        {%- if not currentSeries -%}
            {%- if attribute(brand, 'title' ~ app.request.locale) -%}
                {{ attribute(brand, 'title' ~ app.request.locale)|escape('html') }}{{ seoPage }}
            {%- else -%}
                {{ attribute(brand, 'caption' ~ app.request.locale) }} {%- if (_page and _page > 1)  %} страница {{ _page }}{% endif -%}
            {%- endif -%}
        {%- else -%}
            Товары от {{ attribute(brand, 'caption' ~ app.request.locale) }} из серии {{ attribute(currentSeries, 'caption' ~ app.request.locale) }} - тематические наборы, игрушки для малышей, машинки, грузовики{{ seoCats }}{{ seoPage }} | OliKids.ru
        {%- endif -%}
    {% endspaceless %}
{%- endblock -%}

{%- block meta_keywords -%}
    {% spaceless %}
        {%- if not currentSeries -%}
            {%- if attribute(brand, 'metakeywords' ~ app.request.locale) -%}
                {{ attribute(brand, 'metakeywords' ~ app.request.locale)|escape('html') }}
            {%- else -%}
                {{ attribute(brand, 'caption' ~ app.request.locale) }}
            {%- endif -%}
        {%- else -%}
            {{ attribute(currentSeries, 'caption' ~ app.request.locale) }}, {{ attribute(brand, 'caption' ~ app.request.locale) }}{{ seoCats }}
        {%- endif -%}
    {% endspaceless %}
{%- endblock -%}

{%- block meta_description -%}
    {% spaceless %}
        {%- if not currentSeries -%}
            {%- if attribute(brand, 'metadescription' ~ app.request.locale) -%}
                {{ attribute(brand, 'metadescription' ~ app.request.locale)|escape('html') }}{{ seoPage }}
            {%- else -%}
                {{ attribute(brand, 'caption' ~ app.request.locale) }} {%- if (_page and _page > 1)  %} страница {{ _page }}{% endif -%}
            {%- endif -%}
        {%- else -%}
            В интернет-магазине OliKids представлено большое разнообразие товаров из серии {{ attribute(currentSeries, 'caption' ~ app.request.locale) }} от производителя {{ attribute(brand, 'caption'~ app.request.locale) }} - различные тематические наборы, игрушки для малышей, машинки, грузовики{{ seoCats }}. Фильтр поможет быстро подобрать товар от производителя {{ attribute(brand, 'caption'~ app.request.locale) }}, подходящий под Ваши требования{{ seoPage }}.
        {%- endif -%}
    {% endspaceless %}
{%- endblock -%}

{% block seo %}
    {% spaceless %}

        {% if app.request.query.all|length > 0 %}

            {% if app.request.attributes.get('slugSeries') %}
                {% set params = {slugSeries: app.request.attributes.get('slugSeries')} %}
            {% else %}
                {% set params = {} %}
            {% endif %}

            {% if (_page and _page > 1)  %}

                {% set canonical = path(app.request.attributes.get('_route'), {slug: brand.slug, page: _page}|merge(params)) %}

            {% else %}

                {% set canonical = path(app.request.attributes.get('_route'), {slug: brand.slug}|merge(params)) %}

            {% endif %}

            <link rel="canonical" href="{{ canonical }}" />

        {% endif %}


        {% set totalPageNumber = (products.getTotalItemCount / products.getItemNumberPerPage)|round(0, 'ceil') %}

        {% if (_page - 1 > 0)  %}
            {% if _page - 1 == 1 %}
                <link rel="prev" href="{{ path('core_shop_product_brand_first_page', {slug: brand.slug}) }}" />
            {% else %}
                <link rel="prev" href="{{ path('core_shop_product_brand', {slug: brand.slug, page: _page - 1}) }}" />
            {% endif %}
        {% endif %}

        {% if (_page + 1 <= totalPageNumber) %}
            {% if not _page %}
                {% set _page = 1 %}
            {% endif %}
            <link rel="next" href="{{ path('core_shop_product_brand', {slug: brand.slug, page: _page + 1}) }}" />
        {% endif %}

    {% endspaceless %}
{% endblock %}

{% block js_head %}
    {% spaceless %}

        {{ parent() }}
        <script>
            var google_tag_params = {
                ecomm_pagetype: 'category',
            };
            {#settingsJS.extra['pageType'] = 'category';#}
        </script>
{#        <script src="{{ asset('bundles/coreproperty/js/frontend.filter.js') }}"></script>#}
{#        <script src="{{ asset('bundles/coreproduct/js/frontend.catalog.js') }}"></script>#}

    {% endspaceless %}
{% endblock %}

{% block breadcrumbs %}
    {% spaceless %}

        <div id="page_path">
            <ul class="page_path_links">
                <li class="page_path_link"><a href="{{ path('core_common_index') }}">OliKids</a></li>

                {% if not currentSeries %}

                    <li class="page_path_link"><strong>{{ attribute(brand, 'caption'~ app.request.locale ) }}</strong></li>

                {% else %}

                    <li class="page_path_link"><a href="{{ path('core_shop_product_brand_first_page', { slug: brand.slug }) }}">{{ attribute(brand, 'caption'~ app.request.locale ) }}</a></li>
                    <li class="page_path_link"><strong>{{ attribute(currentSeries, 'caption'~ app.request.locale ) }}</strong></li>

                {% endif %}

            </ul>
        </div>

    {% endspaceless %}
{% endblock %}

{% block promo %}
    {% spaceless %}

        {% if brand.logo|getFileWebPath('preview', '712x240_') or attribute(brand, 'description'~ app.request.locale) or brand.substrate|getFileWebPath('preview', '148x70_') or brand.seriesList.count %}

            <section {{fastEdit(brand)}} class="brand_info clearfix">
                <div class="brand_info_container">
                    <div class="brand_info_about_company clearfix">
                        <div class="brand_info_about_company_data">
                                {% if attribute(brand.manufacturer, 'caption'~ app.request.locale) %}
                                    <div><strong>Название:&nbsp;</strong>{{attribute(brand.manufacturer, 'caption'~ app.request.locale)}}</div>
                                {% endif %}
                                {% if brand.manufacturer.yearOfFoundation %}
                                    <div><strong>Год основания:&nbsp;</strong>{{brand.manufacturer.yearOfFoundation}}</div>
                                {% endif %}
                                {% if brand.manufacturer.country %}
                                    <div><strong>Страна:&nbsp;</strong>{{brand.manufacturer.country.getCaption(app.request.locale)}}</div>
                                {% endif %}
                                {% if brand.manufacturer.headquartersAddress %}
                                    <div><strong>Адрес:&nbsp;</strong>{{brand.manufacturer.headquartersAddress}}</div>
                                {% endif %}
                                {% if brand.manufacturer.email %}
                                    <div><strong>E-mail:&nbsp;</strong>{{brand.manufacturer.email}}</div>
                                {% endif %}
                                {% if brand.manufacturer.urlSite %}
                                    <div><strong>Вебсайт:&nbsp;</strong>{{brand.manufacturer.urlSite}}</div>
                                {% endif %}
                                {% if brand.manufacturer.phoneSalesDepartment %}
                                    <div><strong>Телефон:&nbsp;</strong>{{brand.manufacturer.phoneSalesDepartment}}</div>
                                {% endif %}
                        </div>
                        {% if brand.manufacturer.headquartersAddressYandexMapsLink or brand.manufacturer.headquartersAddressGoogleMapsLink %}
                            <div class="see_on_map">
                                {% if brand.manufacturer.headquartersAddressYandexMapsLink %}
                                    <a target="_blank" href="{{ brand.manufacturer.headquartersAddressYandexMapsLink }}">Посмотреть на карте<ins class="icon_on_map">&nbsp;</ins></a>
                                {% elseif brand.manufacturer.headquartersAddressGoogleMapsLink %}
                                    <a target="_blank" href="{{ brand.manufacturer.headquartersAddressGoogleMapsLink }}">Посмотреть на карте<ins class="icon_on_map">&nbsp;</ins></a>
                                {% endif %}    
                            </div>
                        {% endif %}
                        {#<div class="link_to"><a href="#">Дистрибьютер в России</a></div>#}
                    </div>
                    <div class="brand_info_content">
                        <div class="brand_info_content_pad">

                            {% if brand.logo|getFileWebPath('preview', '148x70_') %}
                                {% set imgAlt = attribute(brand.logo | first, 'alt' ~ app.request.locale) %}
                                <img alt="{{imgAlt}}" title="{{imgAlt}}" class="brand_info_logo" src="{{ asset(brand.logo|getFileWebPath('preview', '148x70_')) }}" width="148" height="70">

                            {% endif %}

                            {% if attribute(brand, 'description'~ app.request.locale) %}

                                <div class="brand_info_text">
                                    {{ attribute(brand, 'description'~ app.request.locale)|raw }}

                                    {% if attribute(brand, 'descriptionContinue'~ app.request.locale) %}

                                        <div class="description-hidden-part hidden">

                                            {{ attribute(brand, 'descriptionContinue'~ app.request.locale)|raw }}

                                        </div>
                                        <div class="clearfix"></div>
                                        <span class="text_tgl trigger-description-hidden-part" data-trigger-text="Скрыть часть описания">Узнать больше</span><br><br>

                                    {% endif %}

                                </div>

                            {% endif %}

                            {% if series|length %}

                                <ul class="brand_info_cats">
                                    <li class="brand_info_cat">

                                        {% if series|length > 1 %}
                                            Серии продуктов:
                                        {% else %}
                                            Серия продуктов:
                                        {% endif %}

                                    </li>

                                    {% set slugSeries = app.request.attributes.get('slugSeries') %}

                                    {% for s in series %}

                                        <li class="brand_info_cat">

                                            {% if not slugSeries or slugSeries != s.slug %}
                                                <a href="{{ path('core_shop_product_brand_series_first_page',{ slug: brand.slug, slugSeries: s.slug }) }}">{{ attribute(s, 'caption'~ app.request.locale)|raw }}</a>
                                            {% else %}
                                                <strong>{{ attribute(s, 'caption'~ app.request.locale)|raw }}</strong>
                                            {% endif %}

                                        </li>

                                    {% endfor %}

                                </ul>

                            {% endif %}

                            <br>
                        </div>
                    </div>

                    {% if brand.substrate|getFileWebPath('preview', '712x240_') %}

                        <img class="brand_info_pic" src="{{ asset(brand.substrate|getFileWebPath('preview', '712x240_', true)) }}" width="712" height="240">

                    {% endif %}

                    <div class="clearfix"></div>

                </div>
            </section>

        {% endif %}

    {% endspaceless %}
{% endblock %}

{% block main_col %}
    {% spaceless %}

        {# устанавливаем роут первой страницы для пагинации #}
        {% if app.request.attributes.get('slugSeries') %}
            {% set routeFirsPage = 'core_shop_product_brand_series_first_page' %}
        {% else %}
            {% set routeFirsPage = 'core_shop_product_brand_first_page' %}
        {% endif %}

        {# выводим блок продуктов с пагинацией и сортировкой #}
        {{ block('products_container') }}

    {% endspaceless %}
{% endblock %}


{% block right_col %}

    <!-- filter with owl -->
    {% include 'CorePropertyBundle:Filter:layout.html.twig' with filterBuilder %}
    <!-- /filter with owl -->

{% endblock %}

