<section class="login_social">
    {% spaceless %}
        {#
        <div id="uLogin" data-ulogin="display=buttons;verify=1;lang=ru;
        fields=first_name,last_name,photo,photo_big,email,nickname,bdate,sex,city,country,profile;
        redirect_uri=http://{{ app.request.host }}/app_dev.php/register/auth.html;
        receiver=http://{{ app.request.host }}{{path('auth_receiver')}}">
        #}
        <div id="uLogin" data-ulogin="display=buttons;verify=1;lang=ru;
                        fields=first_name,last_name,photo,photo_big,email,nickname,bdate,sex,city,country,profile;
                        redirect_uri=;
                        receiver=http://{{ app.request.host }}{{ path('auth_receiver') }};
                        callback=ucall">
            <span data-uloginbutton="facebook" class="social_auth_btn social_auth_facebook">&nbsp;</span>
                                    <span data-uloginbutton="vkontakte"
                                          class=" social_auth_vkontakte">&nbsp;</span>
            <span data-uloginbutton="twitter" class="social_auth_btn social_auth_twitter">&nbsp;</span>
            <span data-uloginbutton="yandex" class="social_auth_btn social_auth_yandex">&nbsp;</span>
            <span data-uloginbutton="google" class="social_auth_btn social_auth_google">&nbsp;</span>
            <span data-uloginbutton="odnoklassniki" class="social_auth_btn social_auth_odnoklassniki">&nbsp;</span>
        </div>
    {% endspaceless %}
</section>