{% extends "ApplicationSonataUserBundle::layout.html.twig" %}

{# SEO - заголовки #}
{% block title %}Установка пароля{% endblock %}
{% block meta_keywords %}Указать пароль{% endblock %}
{% block meta_description %}Указать пароль на сайте Оликидс.ру{% endblock %}

{% block content %}
<div id="page_path">
        <ul class="page_path_links">
                <li class="page_path_link"><a href="{{path('core_common_index')}}">OliKids</a></li>
                <li class="page_path_link">
                    <strong>Установка пароля</strong>
                </li>
        </ul>
    </div>
    <div role="main" class="login_page" id="content">
        <div class="page_pad">
            <h1>Установка пароля</h1>
            {% if invalid_username is defined %}
                <div class="attention_box">
                    {{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}, 'FOSUserBundle') }}
                </div>
            {% endif %}
            <div class="box brown_gradient_box">
                {% form_theme form 'CoreCommonBundle:Form:row.html.twig' %}
                <form action="{{ path('fos_user_security_login_for_order', {'token': token, 'orderId': orderId}) }}" {{ form_enctype(form) }} method="POST" class="auto_size">
                    <fieldset class="form_fieldset">
                        {{form_row(form.new.first, {'attr':{ 'class': 'text_input','size':40} })}}
                        {{form_row(form.new.second, {'attr':{ 'class': 'text_input','size':40} })}}
                        {{form_rest(form)}}
                    </fieldset>
                    <div class="form_row form_padding_group">
                        <button type="submit" class="common_button big">
                            <span>{{ 'resetting.reset.submitSet'|trans({}, 'FOSUserBundle') }}</span>
                        </button> или
                        <a href="{{path('core_common_index')}}">Отменить</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}