{#редактирование размещения в ЛК#}
{% extends "ApplicationSonataUserBundle::cabinet_layout.html.twig" %}

{# SEO - заголовки #}
{% block title %}{% if placement.id %}Редактирование настроек размещения {{ placement.id }}{% else %}Добавление размещения в систему{% endif %}{% endblock %}
{% block meta_keywords %}{% endblock %}
{% block meta_description %}{% endblock %}


    {% block breadcrumbs %}
        <!--=== Breadcrumbs ===-->`
        <div class="breadcrumbs">
            <div class="container">
                <h1 class="pull-left">Размещение</h1>
                <ul class="pull-right breadcrumb">
                    <li><a href="{{ path('core_common_index') }}">На главную</a></li>
                    <li><a href="{{ path('sonata_user_profile_show') }}">Кабинет</a></li>
                    <li><a href="{{ path('core_cabinet_placement_list_first_page') }}">Список ваших размещений</a></li>
                    <li class="active">Редактирование настроек вашего размещения</li>
                </ul>
            </div>
        </div>
        <!--=== End Breadcrumbs ===-->
    {% endblock %}


{% block sub_content %}

    {% if placement.id %}
        <h3>Редактирование настроек вашего размещения</h3>
    {% else %}
        <h3>Добавление нового размещения в систему</h3>
    {% endif %}


    {#форма редактирования профиля ЛК#}
    {% for flashMessage in app.session.flashbag.get('edit_success') %}
        <br/>
        <div class="alert alert-success fade in">
            {{ flashMessage | raw }}

            &nbsp;&nbsp;&nbsp;<a class='btn-u btn-u-xs ' href='{{ path('core_cabinet_placement_create') }}'><i
                        class='fa fa-plus-square'></i> &nbsp;Добавить еще размещение</a>
            &nbsp;&nbsp;&nbsp;
            <a class='btn-u btn-u-xs btn-u-default' href='{{ path('core_cabinet_placement_list_first_page') }}'><i
                        class='fa fa-reply'></i> &nbsp;Вернуться к списку размещений</a>

        </div>
    {% endfor %}


    {% for flashMessage in app.session.flashbag.get('edit_errors') %}
        <br/>
        <div class="alert alert-danger fade in">
            {{ flashMessage | raw }}
        </div>
    {% endfor %}


    {% if form.vars.errors | length %}
        <br/>
        <div class="alert alert-danger fade in">
            {{ form_errors(form) }}
        </div>
    {% endif %}

    <form style="clear: both" class="sky-form sky-form-other-style"
          action="{% if placement.id %}{{ path('core_cabinet_placement_edit', {id:placement.id}) }}{% else %}{{ path('core_cabinet_placement_create') }}{% endif %}" {{ form_enctype(form) }}
          method="POST">
        <fieldset class="sky-form-other-style">
            {%
            include 'CoreAdCompanyBundle:Placement\\Cabinet\\Form:form_placement_inner.html.twig' with {
                'form' :form , 'placement': placement, 'fieldGroupClass': 'col-sm-6'
            } %}
            {#
            <div class="row margin-bottom-20">
                <div class="col-sm-6  {% if form_errors(form.adCompany) %}state-error{% endif %}">
                    <label>Рекламная компания*</label>
                    {{ form_widget(form.adCompany,{ 'attr': {'class': 'form-control'} }) }}
                    {{ form_errors(form.adCompany) }}
                </div>
            </div>
            <div class="row margin-bottom-20">
                <div class="col-lg-6  {% if form_errors(form.adPlace) %}state-error{% endif %}">
                    <label>Место размещения*</label>
                    {{ form_widget(form.adPlace,{ 'attr': {'class': 'form-control'} }) }}
                    {{ form_errors(form.adPlace) }}
                </div>
            </div>


            <div class="row margin-bottom-20">
                <div class="col-sm-6  {% if form_errors(form.placementBannersList) %}state-error{% endif %}">
                    <label>Баннеры</label>
                    {{ form_widget(form.placementBannersList,{ 'attr': {'class': 'form-control'} }) }}
                    {{ form_errors(form.placementBannersList) }}
                </div>
            </div>

            <div class="row margin-bottom-20">
                <div class="discounts collection-wrapper col-sm-12{% if form_errors(form.placementBannersList) %} state-error{% endif %}">
                    <label>Список баннеров </label>

                    <div class="pull-right" style="margin: 0 10px;">
                        <a href="javascript:void(0);" class="btn-u btn-u-xs collection-add">
                            <i class="fa fa-plus-square"></i>
                            <span>&nbsp;Создать баннер</span>
                        </a>
                    </div>

                    <div class="pull-right">
                        <a href="{{ path('core_cabinet_banner_create_ajax') }}" class="btn-u btn-u-xs collection-add"
                           data-prototype="{% filter escape %}
                                {{ include('CoreAdCompanyBundle:Placement\\Cabinet\\Form:placement_banner.html.twig', { 'form': form.placementBannersList.vars.prototype }) }}
                            {% endfilter %}">
                            <i class="fa fa-plus-square"></i>
                            <span>&nbsp;Добавить баннер</span>
                        </a>
                    </div>


                    {% for placementBanner in form.placementBannersList %}
                        {{ include('CoreAdCompanyBundle:Placement\\Cabinet\\Form:placement_banner.html.twig', { 'form': placementBanner }) }}
                    {% endfor %}

                    {% do form.placementBannersList.setRendered %}

                </div>
            </div>

            <div class="row margin-bottom-20">
                <div class="col-sm-6  {% if form_errors(form.quantity) %}state-error{% endif %}">
                    <label>Количество</label>
                    {{ form_widget(form.quantity,{ 'attr': {'class': 'form-control'} }) }}
                    {{ form_errors(form.quantity) }}
                    <span class="note">Вы можете указать точное количество показов или кликов. Если вы хотите установить показы независимо от количества показов/кликов , то
                    оставте это поле пустым и укажите дату начала и дату окончания показов ниже.</span>
                </div>

                <div class="col-sm-6  {% if form_errors(form.quantityModel) %}state-error{% endif %}">
                    <label>В чем указано количество</label>
                    {{ form_widget(form.quantityModel,{ 'attr': {'class': 'form-control'} }) }}
                    {{ form_errors(form.quantityModel) }}
                </div>

            </div>


            <div class="row margin-bottom-20">
                <div {% if not form.startDateTime.vars.value and not form.startDateTime.vars.errors|length %}  style="display: none"  {% endif %}
                        class="col-sm-6  {% if form_errors(form.startDateTime) %}state-error{% endif %}">
                    <label>Дата начала показов</label>
                    <label class="input">
                        <i class="icon-append fa fa-calendar"></i>
                        {{ form_widget(form.startDateTime,{ 'attr': {'class': 'form-control date'} }) }}
                    </label>

                    {{ form_errors(form.startDateTime) }}
                </div>


                <div class="col-sm-6">
                    <label class="dateSettingsStartLabel">{% if not form.startDateTime.vars.value %}Дата начала показов{% endif %}</label>

                    <div class="inline-group">
                        <label class="radio"><input {% if form.startDateTime.vars.value or form.startDateTime.vars.errors|length %}  checked=""  {% endif %}
                                    class="dateSettingsStart" value="1" type="radio" name="dateSettingsStart"><i
                                    class="rounded-x"></i>По
                            дате</label>
                        <label class="radio"><input {% if not form.startDateTime.vars.value and not form.startDateTime.vars.errors|length %}  checked=""  {% endif %}
                                    class="dateSettingsStart" value="0" type="radio" name="dateSettingsStart"><i
                                    class="rounded-x"></i>Начать
                            показ сразу</label>
                    </div>
                </div>
            </div>


            <div class="row margin-bottom-20">
                <div  {% if not form.finishDateTime.vars.value and not form.finishDateTime.vars.errors|length %}  style="display: none"  {% endif %}
                        class="col-sm-6  {% if form_errors(form.finishDateTime) %}state-error{% endif %}">
                    <label>Дата окончания показов</label>

                    <label class="input">
                        <i class="icon-append fa fa-calendar"></i>
                        {{ form_widget(form.finishDateTime,{ 'attr': {'class': 'form-control date'} }) }}
                    </label>
                    {{ form_errors(form.finishDateTime) }}

                </div>

                <div class="col-sm-6">
                    <label class="dateSettingsFinishLabel">{% if not form.finishDateTime.vars.value %}Дата начала показов{% endif %}</label>

                    <div class="inline-group">
                        <label class="radio"><input {% if form.finishDateTime.vars.value or form.finishDateTime.vars.errors|length %}  checked=""  {% endif %}
                                    class="dateSettingsFinish" value="1" type="radio" name="dateSettingsFinish"><i
                                    class="rounded-x"></i>По
                            дате</label>
                        <label class="radio"><input {% if not form.finishDateTime.vars.value and not form.finishDateTime.vars.errors|length %}  checked=""  {% endif %}
                                    class="dateSettingsFinish" value="0" type="radio" name="dateSettingsFinish"><i
                                    class="rounded-x"></i>Показывать бесконечно</label>
                    </div>
                </div>
            </div>

            <div class="row margin-bottom-20">
                <div class="col-sm-6  {% if form_errors(form.defaultCountries) %}state-error{% endif %}">
                    <label>Страны</label>

                    <div class="pull-right">
                        <a href="javascript:void(0);" class="btn-u btn-u-xs country-select">
                            <i class="fa fa-plus-square"></i>
                            <span>&nbsp;Выбрать страны</span>
                        </a>
                    </div>
                    {{ form_widget(form.defaultCountries) }}
                    {{ form_errors(form.defaultCountries) }}
                </div>
            </div>


            <div class="margin-bottom-20 {% if form_errors(form.isEnabled) %}state-error{% endif %}">
                <label class="checkbox">
                    {{ form_widget(form.isEnabled) }}<i></i> Размещение активно</label>
                {{ form_errors(form.isEnabled) }}
                </label>

            </div>


            <div class="margin-bottom-20">
            </div>

            {{ form_rest(form) }}
            #}
            <div class="text-right">
                <button class="btn-u" type="submit">{% if placement.id %}Сохранить{% else %}Добавить{% endif %}</button>
                &nbsp;&nbsp;
                <a href="{{ path('core_cabinet_placement_list_first_page') }}" class="btn-u btn-u-default">Отмена</a>
                {% if placement.id %}
                    &nbsp;&nbsp; или &nbsp;&nbsp;
                    <a href="javascript:void(0);" class="delete btn-u btn-u-red">Удалить</a>
                {% endif %}

            </div>

        </fieldset>

    </form>

    <div id="modal-placement"></div>
{#

    {% block js %}

        <script>
            var collectionCount = '{{ form.placementBannersList | length }}';

            $(function () {

                manipulateCollection(collectionCount);

                $("#datepicker").datepicker();
                // Date range
                $('#form_startDateTime').datepicker({
                    dateFormat: 'dd-mm-yy',
                    prevText: '<i class="fa fa-angle-left"></i>',
                    nextText: '<i class="fa fa-angle-right"></i>',
                    onSelect: function (selectedDate) {
                        $('#form_finishDateTime').datepicker('option', 'minDate', selectedDate);
                    }
                });
                $('#form_finishDateTime').datepicker({
                    dateFormat: 'dd-mm-yy',
                    prevText: '<i class="fa fa-angle-left"></i>',
                    nextText: '<i class="fa fa-angle-right"></i>',
                    onSelect: function (selectedDate) {
                        $('#form_startDateTime').datepicker('option', 'maxDate', selectedDate);
                    }
                });


                //      $(".date").mask('99-99-9999', {placeholder: '0'});


                {% if placement.id %}
                $('.delete').click(function () {
                    var res = confirm('Вы действительно хотите удалить это размещение из системы?');
                    if (res) {
                        window.location.href = '{{ path('core_cabinet_placement_delete', {id:placement.id}) }}';
                    }
                });
                {% endif %}


                $('.dateSettingsStart').change(function () {
                    var value = $('.dateSettingsStart:checked').val();
                    if (value == 1) {
                        $('#form_startDateTime').parents('div.col-sm-6').show();
                        $('#form_startDateTime').val('').focus();
                        $('#form_startDateTime').attr('required', 'required');
                        $('.dateSettingsStartLabel').html('');
                    }
                    else {
                        $('#form_startDateTime').parents('div.col-sm-6').hide();
                        $('#form_startDateTime').val('');
                        $('#form_startDateTime').removeAttr('required');
                        $('.dateSettingsStartLabel').html('Дата начала показов');
                    }
                });


                $('.dateSettingsFinish').change(function () {
                    var value = $('.dateSettingsFinish:checked').val();
                    if (value == 1) {
                        $('#form_finishDateTime').parents('div.col-sm-6').show();
                        $('#form_finishDateTime').val('').focus();
                        $('#form_finishDateTime').attr('required', 'required');
                        $('.dateSettingsFinishLabel').html('');
                    }
                    else {
                        $('#form_finishDateTime').parents('div.col-sm-6').hide();
                        $('#form_finishDateTime').val('');
                        $('#form_finishDateTime').removeAttr('required');
                        $('.dateSettingsFinishLabel').html('Дата окончания показов');
                    }
                });

                // редактирование банера
                $('body').on('click', '.entity-desc', function () {
                    var $this = $(this),
                            modalPlacement = $('#modal-placement'),
                            curId = $this.attr('data-id');
                    modalPlacement.find('#responsive').remove();
                    modalPlacement.html('');
                    $.ajax({
                        type: 'POST',
                        url: '{{ path('core_cabinet_banner_edit_ajax') }}',
                        data: 'id=' + curId,
                        success: function (data) {
                            if (data.result) {

                                modalPlacement.html(data.data);
                                $('#responsive').modal('show');
                            }
                        },
                        error: function () {
                            console.log('error');
                        }
                    });

                    return false;
                });

            })


            function manipulateCollection(collectionCount) {
                /*
                 // добавление коллекции
                 $('.collection-add').click(function(e) {
                 e.preventDefault();
                 var $this = $(this),
                 parentWrapper = $this.parents('.collection-wrapper'),
                 newWidget = $this.attr('data-prototype');
                 newWidget = newWidget.replace(/__name__/g, collectionCount);
                 parentWrapper.append(newWidget)

                 return false;
                 });
                 */
                $('.collection-add').click(function (e) {

                    var $this = $(this),
                            modalPlacement = $('#modal-placement');
                    modalPlacement.find('#responsive').remove();
                    modalPlacement.html('');
                    $.ajax({
                        type: 'POST',
                        url: $this.attr('href'),
                        success: function (data) {
                            if (data.result) {
                                modalPlacement.html(data.data);
                                $('#responsive').modal('show');
                                console.log(data.data)

                            }
                        },
                        error: function () {
                            console.log('error');
                        }
                    });

                    return false;
                });

                // удаление коллекции
                $('body').on('click', '.collection-row-remove', function (e) {
                    var $this = $(this),
                            curRow = $this.parents('.collection-row');

                    curRow.remove();
                    return false;
                });
            }

        </script>
    {% endblock %}
#}
{% endblock %}