{#вывод списка размещений в ЛК#}
{% extends "ApplicationSonataUserBundle::cabinet_layout.html.twig" %}

{# SEO - заголовки #}
{% block title %}Ваши размещения{% endblock %}
{% block meta_keywords %}{% endblock %}
{% block meta_description %}{% endblock %}


    {% block breadcrumbs %}
        <!--=== Breadcrumbs ===-->
        <div class="breadcrumbs">
            <div class="container">
                <h1 class="pull-left">Размещения</h1>
                <ul class="pull-right breadcrumb">
                    <li><a href="{{ path('core_common_index') }}">На главную</a></li>
                    <li><a href="{{ path('sonata_user_profile_show') }}">Кабинет</a></li>
                    <li class="active">Список размещений</li>
                </ul>
            </div>
        </div>
        <!--=== End Breadcrumbs ===-->
    {% endblock %}


{% block sub_content %}

    {% for flashMessage in app.session.flashbag.get('edit_success') %}
        <br/>
        <div class="alert alert-success fade in">
            {{ flashMessage | raw }}
        </div>
    {% endfor %}


    {% for flashMessage in app.session.flashbag.get('edit_errors') %}
        <br/>
        <div class="alert alert-danger fade in">
            {{ flashMessage | raw }}
        </div>
    {% endfor %}


    {% if  placements.getTotalItemCount %}
        <h3>Список размещений</h3>
        <a style="margin-top: -30px" href="{{ path('core_cabinet_placement_create') }}" class="btn-u pull-right"><i class="fa fa-plus-square"></i> &nbsp;Добавить размещение</a>


        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>ID</th>
                <th>Место размещения</th>
                <th>Идут показы</th>
            </tr>
            </thead>
            <tbody>
            {% for placement in placements %}
                <tr>
                    <td height="53px">{{ loop.index }}</td>
                    <td><a href="{{ path('core_cabinet_placement_edit', {id: placement.id }) }}"><b>{{ placement.id  }}</b></a></td>
                    <td>
                        {{ placement.adPlace.name }} {{ placement.adPlace.width }}x{{ placement.adPlace.height }}
                        {% if placement.adPlace.site %}
                            <br/>
                            {{ placement.adPlace.site.name }}
                        {% endif %}
                    </td>

                    <td>
                        {% if placement.isActive %}<span class="label label-u">Да</span>{% else %}<span class="label label-warning">Нет</span>{% endif %}</td>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {% set routeFirsPage = 'core_cabinet_placement_list_first_page' %}
        {% set routePage = 'core_cabinet_placement_list' %}

        {{ knp_pagination_render(placements, 'CoreSiteBundle:Site/Cabinet:pagination.html.twig',{},
        { routeFirsPage: routeFirsPage, routePage:routePage}) }}

    {% else %}
        <h3>Вы еще не добавляли размещения в систему</h3>
        <a style="margin-top: -30px" href="{{ path('core_cabinet_placement_create') }}" class="btn-u pull-right"><i class="fa fa-plus-square"></i> &nbsp;Добавить размещение</a>
    {% endif %}

{% endblock %}