{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
<div>
    {% for key,author in object.author %}
        {% if author %}
        {% if object.user %}
            {{key}}: <a href="{{path('admin_sonata_user_user_edit',{'id':object.user.id})}}">{{author}}</a>
            {% else %}
                {{key}}: {{author}}
        {% endif %}
        {% endif %}
        {% if loop.last==false %}
            <br />
        {% endif %}
    {% endfor %}
</div>
{% endblock %}