{% block widget_attributes %}
    {% spaceless %}
        id="{{ id }}" name="{{ full_name }}"
        {%- if read_only %} readonly="readonly"{% endif -%}
        {%- if disabled %} disabled="disabled"{% endif -%}
        {%- if required %} required="required"{% endif -%}
        {%- for attrname, attrvalue in attr -%}
            {% if attrname!='data-extra' %}
                {{- " " -}}
                {%- if attrname in ['placeholder', 'title'] -%}
                    {{- attrname }}="{{ attrvalue|trans({}, translation_domain) }}"
                {%- elseif attrvalue is sameas(true) -%}
                    {{- attrname }}="{{ attrname }}"
                {%- elseif attrvalue is not sameas(false) -%}
                    {{- attrname }}="{{ attrvalue }}"
                {%- endif -%}
            {% endif %}
        {%- endfor -%}
    {% endspaceless %}
{% endblock widget_attributes %}

{% block choice_widget_options %}
    {% spaceless %}

        {#формируем массив с ключами по ID #}
        {% if attr['data-extra'] is defined %}
            {% set optionsIndexed=setKeysIds(options, 'data') %}
        {% else %}
            {% set optionsIndexed=[] %}
        {% endif %}

        {% for group_label, choice in options %}
            {% if choice is iterable %}
                <optgroup label="{{ group_label|trans({}, translation_domain) }}">
                    {% set options = choice %}
                    {{ block('choice_widget_options') }}
                </optgroup>
            {% else %}

                {% set dataExtra = '' %}
                {% if attr['data-extra'] is defined %}
                    {% for field in attr['data-extra'] %}
                        
                        {% set valueExtra = attribute(optionsIndexed[choice.data.id],field ) | e('html') %}
                        {%if valueExtra.timestamp is defined%}
                        {% set valueExtra = valueExtra|date('d-m-Y H:i:s', default_timezone)  %}
                        {%endif%}
                        {% set dataExtra = dataExtra~' data-'~field~'="'~valueExtra~'"' %}
                    {% endfor %}
                {% endif %}

                <option  {% if dataExtra %} {{ dataExtra|raw }} {% endif %}
                        value="{{ choice.value }}"{% if choice is selectedchoice(value) %} selected="selected"{% endif %}>{{ choice.label|trans({}, translation_domain) }}</option>
            {% endif %}
        {% endfor %}
    {% endspaceless %}
{% endblock choice_widget_options %}

{% block form_row %}
    {% if sonata_admin is not defined or not sonata_admin_enabled or not sonata_admin.field_description %}
        <div class="control-group {% if errors|length > 0 %} error{% endif %}{% if (form.vars.attr['data-hidden'] is defined) and form.vars.attr['data-hidden'] %}{{ ' hidden' }}{% endif %}">
            {{ form_label(form, label|default(null)) }}
            <div class="controls {% if label is sameas(false) %}sonata-collection-row-without-label{% endif %}">
                {{ form_widget(form) }}
                {% if errors|length > 0 %}
                    <div class="help-inline sonata-ba-field-error-messages">
                        {{ form_errors(form) }}
                    </div>
                {% endif %}
            </div>
        </div>
    {% else %}
        <div class="control-group{% if errors|length > 0 %} error{% endif %}{% if (form.vars.attr['data-hidden'] is defined) and form.vars.attr['data-hidden'] %}{{ ' hidden' }}{% endif %}"
             id="sonata-ba-field-container-{{ id }}">
            {% block label %}
                {% if sonata_admin.field_description.options.name is defined %}
                    {{ form_label(form, sonata_admin.field_description.options.name, { 'attr' : {'class' : 'control-label'} }) }}
                {% else %}
                    {{ form_label(form, label|default(null), { 'attr' : {'class' : 'control-label'} }) }}
                {% endif %}
            {% endblock %}

            {% set has_label = sonata_admin.field_description.options.name is defined or label is not sameas(false) %}
            <div class="controls sonata-ba-field sonata-ba-field-{{ sonata_admin.edit }}-{{ sonata_admin.inline }} {% if errors|length > 0 %}sonata-ba-field-error{% endif %} {% if not has_label %}sonata-collection-row-without-label{% endif %}">

                {{ form_widget(form) }}

                {% if errors|length > 0 %}
                    <div class="help-inline sonata-ba-field-error-messages">
                        {{ form_errors(form) }}
                    </div>
                {% endif %}

                {% if sonata_admin.field_description.help %}
                    <span class="help-block sonata-ba-field-help">{{ sonata_admin.admin.trans(sonata_admin.field_description.help, {}, sonata_admin.field_description.translationDomain)|raw }}</span>
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endblock form_row %}