{% spaceless %}
    <!DOCTYPE html>
    <!--[if IE 8]>
    <html lang="ru" class="ie8"> <![endif]-->
    <!--[if IE 9]>
    <html lang="ru" class="ie9"> <![endif]-->
    <!--[if !IE]><!-->
    <html lang="ru"> <!--<![endif]-->
    <head>
        <!-- Favicon -->
        {#<link rel="shortcut icon" href="/favicon.ico">#}
        <link rel="icon" type="image/x-icon" href="/favicon.png"/>
        <title>{% block title %}{% endblock %}</title>
        <!-- Meta -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="{% block meta_description %}{% endblock %}">
        <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
        <meta name="author" content="">
        <meta name='yandex-verification' content='58444132489db140'/>


        {#'assets/css/plugins/*'#}
        {#'assets/css/headers/*'#}
        {#'assets/css/footers/*'#}
        {% block css %}
            {% stylesheets
            'assets/plugins/bootstrap/css/bootstrap.min.css'
            'assets/plugins/line-icons/line-icons.css'
            'assets/plugins/font-awesome/css/font-awesome.min.css'
            'assets/plugins/sky-forms/version-2.0.1/css/sky-forms.css'
            'assets/plugins/sky-forms/version-2.0.1/css/custom-sky-forms.css'
            'assets/plugins/flexslider/flexslider.css'
            'assets/plugins/parallax-slider/css/parallax-slider.css'
            'assets/css/plugins/hover-effect/css/custom-hover-effects.css'
            'assets/css/footers/footer-v1.css'
            'assets/css/pages/page_log_reg_v1.css'
            'assets/css/theme-colors/default.css'
            'assets/css/pages/page_faq1.css'
            'assets/css/pages/profile.css'
            'assets/css/pages/feature_timeline2.css'
            'assets/css/pages/page_404_error.css'
            'assets/css/style.css'
            'assets/css/custom.css'
            output='css/compiled/main.css'
            filter='cssrewrite,yui_css' %}
            <link rel="stylesheet" href="{{ asset_url }}"/>
            {% endstylesheets %}


            {#{% stylesheets#}
            {#'assets/css/plugins/hover-effect/css/custom-hover-effects.css'#}
            {#output='css/compiled/hover.css'#}
            {#filter='cssrewrite,yui_css' %}#}
            {#<link rel="stylesheet" href="{{ asset_url }}"/>#}
            {#{% endstylesheets %}#}



            <!--[if lt IE 9]>
            <link rel="stylesheet" href="/assets/plugins/sky-forms/version-2.0.1/css/sky-forms-ie8.css">
            <![endif]-->
            <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
            <!--[if lt IE 9]>
            <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
            <![endif]-->

        {% endblock %}

        {% block js_head %}
            <script type="text/javascript">
                var
                        settingsJS = {
                            routes: [] // роуты

                        };
                settingsJS.routes['social_auth'] = "{{path('application_sonata_user_auth_social')}}";
            </script>

            {% javascripts
            'assets/plugins/jquery/jquery.min.js'
            'assets/plugins/jquery/jquery-migrate.min.js'
            'assets/plugins/bootstrap/js/bootstrap.min.js'
            'assets/plugins/sky-forms/version-2.0.1/js/jquery.maskedinput.min.js'
            'assets/plugins/sky-forms/version-2.0.1/js/jquery-ui.min.js'
            'assets/plugins/back-to-top.js'
            'assets/plugins/flexslider/jquery.flexslider-min.js'
            'assets/plugins/parallax-slider/js/modernizr.js'
            'assets/plugins/parallax-slider/js/jquery.cslider.js'
            'assets/plugins/jquery.zclip/jquery.zclip.min.js'
            'assets/plugins/highstock/highstock.js'
            'assets/plugins/highstock/modules/exporting.js'
            'assets/js/plugins/parallax-slider.js'
            'assets/js/plugins/datepicker.js'
            'assets/js/plugins/datepicker-ru.js'
            'assets/js/app.js'
            'assets/js/custom.js'
            'bundles/corefile/core_file_frontend.js'
            'bundles/corecommon/js/calendarFromTo.js'
            'bundles/corestatistics/highcharts/js/themes/customise.default.ru.js'
            'bundles/coreadcompany/js/placement_inner.js'

            output='js/compiled/main.js'
            filter='yui_js' %}
            <script src="{{ asset_url }}"></script>
            {% endjavascripts %}

            <script type="text/javascript">
                jQuery(document).ready(function () {
                    App.init();
                    //Masking.initMasking();
                    Datepicker.initDatepicker();
                    //Validation.initValidation();
                });
            </script>




            <!--Start of Zopim Live Chat Script-->
            <script type="text/javascript">
                window.$zopim || (function (d, s) {
                    var z = $zopim = function (c) {
                        z._.push(c)
                    }, $ = z.s =
                            d.createElement(s), e = d.getElementsByTagName(s)[0];
                    z.set = function (o) {
                        z.set.
                                _.push(o)
                    };
                    z._ = [];
                    z.set._ = [];
                    $.async = !0;
                    $.setAttribute("charset", "utf-8");
                    $.src = "//v2.zopim.com/?3PKsfY2WILQFjCw1ng6Ze8hpzX2Zsd1L";
                    z.t = +new Date;
                    $.
                            type = "text/javascript";
                    e.parentNode.insertBefore($, e)
                })(document, "script");
            </script>
            <!--End of Zopim Live Chat Script-->

            <script>
                $zopim(function () {
                    {% if app.user.firstName is defined %}
                    $zopim.livechat.setName("{{ app.user.firstname }}");
                    $zopim.livechat.setEmail("{{ app.user.email }}");
                    {% endif %}
                    $zopim.livechat.window.hide();
                });

                $(function () {
                    $(document).on('click', '.onlinechat', function () {
                        $zopim.livechat.window.show();
                    })
                })
            </script>



            <!-- Yandex.Metrika counter -->
            <script type="text/javascript">
                (function (d, w, c) {
                    (w[c] = w[c] || []).push(function () {
                        try {
                            w.yaCounter33311263 = new Ya.Metrika({
                                id: 33311263,
                                clickmap: true,
                                trackLinks: true,
                                accurateTrackBounce: true
                            });
                        } catch (e) {
                        }
                    });

                    var n = d.getElementsByTagName("script")[0],
                            s = d.createElement("script"),
                            f = function () {
                                n.parentNode.insertBefore(s, n);
                            };
                    s.type = "text/javascript";
                    s.async = true;
                    s.src = "https://mc.yandex.ru/metrika/watch.js";

                    if (w.opera == "[object Opera]") {
                        d.addEventListener("DOMContentLoaded", f, false);
                    } else {
                        f();
                    }
                })(document, window, "yandex_metrika_callbacks");
            </script>
            <noscript>
                <div><img src="https://mc.yandex.ru/watch/33311263" class="yandex-counter" alt="yandex counter"/>
                </div>
            </noscript>
            <!-- /Yandex.Metrika counter -->


            <!-- Google counter -->
            <script>
                (function (i, s, o, g, r, a, m) {
                    i['GoogleAnalyticsObject'] = r;
                    i[r] = i[r] || function () {
                                (i[r].q = i[r].q || []).push(arguments)
                            }, i[r].l = 1 * new Date();
                    a = s.createElement(o),
                            m = s.getElementsByTagName(o)[0];
                    a.async = 1;
                    a.src = g;
                    m.parentNode.insertBefore(a, m)
                })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

                ga('create', 'UA-73885856-1', 'auto');
                ga('send', 'pageview');

            </script>




            <!--[if lt IE 9]>
            <script src="/assets/plugins/respond.js"></script>
            <script src="/assets/plugins/html5shiv.js"></script>
            <script src="/assets/js/plugins/placeholder-IE-fixes.js"></script>
            <![endif]-->

            <!--[if lt IE 10]>
            <script src="assets/plugins/sky-forms/version-2.0.1/js/jquery.placeholder.min.js"></script>
            <![endif]-->

        {% endblock %}

        {#инициализация быстрого редактирования#}
        {{ fastEditInit() }}
    </head>

    <body>
    {% block body %}{% endblock %}


    <div class="modal-video modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg"></div>
    </div>


    </body>

    </html>
{% endspaceless %}