{% extends 'ApplicationSonataAdminBundle:CRUD:base_edit.html.twig' %}
{% block form %}
    {{ parent() }}
    {# Модальное окно для добавления причины отмены #}
    <div id="cancel-predefined-create-modal" class="modal hide fade" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
            <h3>Сохранить ответ</h3>
        </div>
        <form id="article-create" class="form-horizontal" method="POST"
              action="{{ path('admin_core_faq_article_ajaxCreate') }}">
            <div class="modal-body">
                <div class="sonata-ba-collapsed-fields">
                    <div class="control-group">
                        {{ form_label(articleForm.captionRu) }}
                        <div class="controls sonata-ba-field sonata-ba-field-standard-natural">
                            {{ form_widget(articleForm.captionRu) }}
                        </div>
                    </div>
                    <div class="control-group">
                        {{ form_label(articleForm.slug) }}
                        <div class="controls sonata-ba-field sonata-ba-field-standard-natural">
                            {{ form_widget(articleForm.slug) }}
                            <div>
                                <span class="help-block sonata-ba-field-help span12">
                                    Если оставить пустым, то будет сгенерировано автоматически
                                    <b>ВАЖНО!!! Используется программистом</b>
                                    <span class="help-block-shadow"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        {{ form_label(articleForm.bodyRu) }}
                        <div class="controls sonata-ba-field sonata-ba-field-standard-natural">
                            {{ form_widget(articleForm.bodyRu) }}
                            {{ form_rest(articleForm) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a data-dismiss="modal" class="btn" href="#">Закрыть</a>
                <button name="save" class="btn btn-primary" href="#">Сохранить изменения</button>
            </div>
        </form>
    </div>
    {# конец  #}
    {# Модальное окно росмотра письма клиенту #}
    <div id="preview-cancel-msg-modal" class="modal hide fade" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
            <h3>Письмо клиенту</h3>
        </div>
        <div class="modal-body"></div>
        <div class="modal-footer">
            <a data-dismiss="modal" class="btn" href="#">Закрыть</a>
        </div>
    </div>
    {# конец #}
{% endblock %}
{% block formactions_buttons %}
    {{ parent() }}
    {% if onCreateOrderError or (not object.status or object.status.name != 'canceled') %}
        {% if object.order %}
            <a href="{{ path('admin_core_order_order_edit', {'id': object.order.id}) }}" class="btn btn-success">Посмотреть
                заказ</a>
        {% else %}

            {% if admin.subject.id %}
                <script>
                adminRoutes['admin_core_order_preorder_preorder_edit'] = "{{path('admin_core_order_preorder_preorder_edit', {id:'__s'})}}";
                adminRoutes['core_pre_order_combine'] = "{{path('core_pre_order_combine')}}";
                adminRoutes['core_pre_order_get'] = "{{path('core_pre_order_get')}}";

                    var currencyFormat="{{ currencyFormat() }}",
                        currentObjectId= "{{  admin.subject.id}}",
                        uniqid="{{admin.uniqid}}";
                </script>

                <script src="{{ asset('bundles/coreorder/Admin/js/preorderCombine.js') }}" type="text/javascript"></script>
                <div style="display:none" id="selectPreOrderContent"></div>
                <a href="javascript:void(0);" class="btn btn-success selectPreOrder">Объединить</a>
            {% endif %}

            <button type="submit" name="btn_create_order" class="btn btn-warning persist-preview">
                <i class="icon-edit"></i>
                Создать заказ
            </button>
        {% endif %}
    {% endif %}
{% endblock %}