{#{% extends "CoreOrderBundle:Admin/Documents:layout.html.twig" %}#}
{#Гарантийный талон#}
{% block content %}
    <style type="text/css">
        html {
            font-size: 93.5%;
            font-family: Arial,Helvetica,sans-serif;
        }
        ul li {
            list-style: none;
            margin: 0;
        }
        ul ul {
            margin: 0;
        }
        table.items {margin: 10px 0 0 0;}
        table.items th, table.items td {border-style: solid; border-color: #000; padding: 2px;}
    </style>
    <center>
        <table border="0" cellspacing="0" width="100%" style="margin: 10pt 0 0 0; font-size: 8pt; line-height: 8.2pt; width: 595px; ">
            <tr>
                <td style="font-family: Verdana, Arial; line-height: 8.4pt;">
                    <span style="font-size: 60px; letter-spacing: -7px;">OLIKIDS.RU</span>
                    <br/><br /><span style="font-size: 12px;">Интернет-магазин детских товаров</span>
                    <br/><span style="font-size: 12px;">{{order.seller.legalForm.captionRu}} {{order.seller.caption}} ИНН/КПП: {{order.seller.inn}}/{{order.seller.kpp}}</span>
                    <br/><span style="font-size: 12px;">{{order.seller.addressUr}}</span>                                
                </td>
                <td style="font-size: 36px; font-family: Verdana, Arial; text-align: right;">{{order.seller.phone}}<br /><br /><br />{{default_email}}</td>
            </tr>
            <tr>
                <td colspan="2" align="center" style="padding: 20px 0; font-size: 20px;">Гарантийный талон № {{order.id|idFormat}}</td>
            </tr>
            <tr>
                <td colspan="2"><b>Гарантия</b><br />На основании настоящего документа мы гарантируем отсутствие в изделии дефектов производственного характера и дефектов составляющих его компонентов для следующего перечня товаров:</td>
            </tr>
            <tr>
                <td colspan="2">
                    <style type="text/css">
                        body {width: 800px; margin: auto}
                        table.items {margin-top: 10px; margin-left: 10px}
                        table.items td, table.items th  {background: white; border: 1px black solid !important; border-width: 1px !important;}
                    </style>


                    <table cellpadding="0" cellspacing="0" border="0" class="items" style="width:790px;border-collapse: collapse">
                        <tr>
                            <th style="border-width: .5pt 0 .5pt .5pt;width:30px">№</th>
                            <th style="border-width: .5pt 0 .5pt .5pt;" align="left">Код товара</th>
                            <th style="border-width: .5pt 0 .5pt .5pt;width:330px" align="left">Наименование</th>
                            <th style="border-width: .5pt 0 .5pt .5pt;width:150px" align="left">Серийный номер</th>
                            <th style="border-width: .5pt;width:90px" align="center">Гарантия до</th>
                        </tr>
                        {% set c_index=0%}

                        {% for unit in data %}
                            {% if unit.serials.count %}
                                {% for serial in unit.serials %}
                                    {% set c_index=c_index+1 %}
                                    <tr>
                                        <td style="border-width: 0 0 .5pt .5pt;width:30px">{{c_index}}</td>
                                        <td style="border-width: 0 0 .5pt .5pt;">{% if unit.product.sku %}{{unit.product.sku}}{% else %}&mdash;{% endif %}</td>
                                        <td style="border-width: 0 0 .5pt .5pt;width:330px">{{unit.product.sku}} {{unit.product.captionRu}}</td>
                                        <td style="border-width: 0 0 .5pt .5pt;width:150px">{% if serial.value is defined %}{{serial.value}}{% else %}Без с/н.{% endif %}</td>
                                        <td style="border-width: 0 .5pt .5pt .5pt;width:90px" align="center">{% if unit.warrantyBefore is defined%}{{unit.warrantyBefore|date("d.m.Y", default_timezone)}}{% else %}&mdash;{% endif %}</td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                {% set c_index=c_index+1 %}
                                <tr>
                                    <td style="border-width: 0 0 .5pt .5pt;width:30px">{{c_index}}</td>
                                    <td style="border-width: 0 0 .5pt .5pt;">{% if unit.product.sku %}{{unit.product.sku}}{% else%}&mdash;{% endif %}</td>
                                    <td style="border-width: 0 0 .5pt .5pt;width:330px">{{unit.product.sku}} {{unit.product.captionRu}}</td>
                                    <td style="border-width: 0 0 .5pt .5pt;width:150px">{% if serial.value is defined %}{{serial.value}}{% else %}Без с/н.{% endif %}</td>
                                    <td style="border-width: 0 .5pt .5pt .5pt;width:90px" align="center">{% if unit.warrantyBefore is defined%}{{unit.warrantyBefore|date("d.m.Y", default_timezone)}}{% else %}&mdash;{% endif %}</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </table>

                </td>
            </tr>
            <tr>
                <td colspan="2">                                                                                                                                        
                    <b>Условия</b>
                    <ol class="conditions" >
                        <li>Документом, дающим право на гарантийное обслуживание, является гарантийный талон, который оформляется при приобретении товаров в интернет-магазине детских товаров OLIKIDS.RU (OOO РОСТПЭЙ). В гарантийном талоне указываются (на каждую отдельную позицию):
                            <ul>
                                <li>- Код товара</li>
                                <li>- Наименование</li>
                                <li>- Серийный номер (при наличии)</li>
                                <li>- Гарантия до</li>
                            </ul>
                        </li>
                        <li>Прием товаров в гарантийный ремонт или на замену по гарантии осуществляется только после предварительного обращения в службу поддержки и проведения консультации с менеджером посредством системы обращений компании OLIKIDS.RU на странице www.olikids.ru/contacts.html</li>
                        <li>Прием товаров в гарантийный ремонт или на замену по гарантии осуществляется в офисе компании OLIKIDS.RU (OOO РОСТПЭЙ) по адресу: 344011, г. Ростов-на-Дону, пер.Доломановский, д. 70Д, оф.1001</li>
                        <li>Доставка товаров в офис OLIKIDS.RU (OOO РОСТПЭЙ) и обратно осуществляется Покупателем за свой счет. В случае если подтверждается гарантийный случай, затраты клиента на доставку товара компенсируются интернет магазином OLIKIDS.RU (OOO РОСТПЭЙ).</li>
                        <li>Настоящая гарантия действительна только при предъявлении вместе с дефектным товаром правильно заполненного гарантийного талона с проставленной датой продажи. Если дата продажи не указана, то гарантийный срок исчисляется с момента изготовления изделия, установленного по серийному номеру (при его наличии).</li>
                        <li>После поступления товара в ремонт, в течение 10 рабочих дней происходит оценка состояния твоара, в результате которой определяется, будет ли осуществлена замена товара на новый или произведен ремонт (бесплатный или платный).</li>
                        <li>Настоящая гарантия недействительна, если серийный номер (при его налиичии) на изделии будет изменён, стёрт, удалён или будет неразборчив, а так же при обнаружении следов переклеивания или ремаркирования идентификационных стикеров.</li>
                        <li>Настоящая гарантия не распространяется в случае:
                            <ul>
                                <li>- неправильной эксплуатации: использование изделия не по назначению; использование изделия в условиях, не соответствующих стандартам и нормам безопасности;</li>
                                <li>- ремонта, произведённого не уполномоченными сервисными центрами или дилерами;</li>
                                <li>- обнаружения следов вскрытия устройства;</li>
                                <li>- несчастных случаев, прямых ударов молнии или грозовых разрядов, затопления, пожара, неправильной вентиляции и иных причин;</li>
                                <li>- дефектов системы, в которой использовалось данное изделие.</li>
                            </ul>
                        </li>
                        <li>Условия возврат товара надлежащего качества:
                            <ul>
                                <li>- Клиент вправе отказаться от товара в любое время до его передачи, а после передачи товара - в течение семи дней.</li>
                                <li>- Возврат товара надлежащего качества возможен в случае, если сохранены его товарный вид, потребительские свойства, а также документ, подтверждающий факт и условия покупки указанного товара. </li>
                                <li>- Клиент не вправе отказаться от товара надлежащего качества, имеющего индивидуально-определенные свойства, если указанный товар может быть использован исключительно приобретающим его потребителем.</li>
                                <li>- При отказе клиента от товара надлежащего качества продавец возвращает денежную сумму, уплаченную клиентов по договору, за исключением расходов продавца на доставку товара, не позднее чем через десять дней со дня предъявления клиентом соответствующего требования.</li>
                                <li>- Клиент доставляет товар до продавца за свой счет. Прием товара осуществляется в офисе компании OLIKIDS.RU (OOO РОСТПЭЙ) по адресу: 344011, г. Ростов-на-Дону, пер.Доломановский, д. 70Д, оф.1001.</li>
                            </ul>
                    </ol>                                                                  
                </td>
            </tr>

            <tr>
                <td colspan="2" align="right" style="padding-top: 40px;">Подпись продавца</td>
            </tr>
            <tr>
                <td align="left" style="padding-top:20px;">Дата продажи: {% if order.createdDateTime %}{{order.createdDateTime|date("d.m.Y", default_timezone)}}{% else %}__&nbsp;&nbsp;__________&nbsp;&nbsp;20__{% endif %}</td>
                <td align="right" style="padding-top:20px;">{%if  haveStamps%}<img alt="stamp" src="{{order.seller.imageSignAndStamp|getFileWebPath}}" height="178" width="182">{%else%}______________________________{%endif%}{{order.seller.nameOfTheHead}}</td>
            </tr>
        </table>
    </center>

{% endblock %}