{#счет-фактура#}
{%block content%}
    {%set page=1%}
        {%if  order.costInfo is not defined %}
            {% set costInfo=ServiceContainer.get('core_order_logic').computeOrderCostInfo(order)%}
                {%endif%}
                    {% spaceless %}
                        <style type="text/css">
                            table, td, th, div {font-family:Verdana, Arial}
                            table.invoice td, table.invoice th {border:.5pt solid #000;font-size:7.5pt}
                        </style>

                        <div>
                            <div style="float:left;width:73%;">
                                <div style="font-size:14px">
                                    <strong>СЧЕТ-ФАКТУРА No {{order.id|idFormat}} от {{order.createdDateTime|localizeddate("none", "none", null, default_timezone, '"d" MMMM Y')}}</strong>
                                    <br />ИСПРАВЛЕНИЕ No --- от ---
                                </div>
                                <div style="margin:5px 0;">
                                    Продавец: {{order.seller.legalForm.captionRu}} {{order.seller.caption}}<br />
                                    Адрес: {{order.seller.addressUr}}; {{order.seller.phone}}<br />
                                    ИНН / КПП продавца: {{order.seller.inn}} / {{order.seller.kpp}}<br />
                                    Грузоотправитель и его адрес: он же<br />
                                    Грузополучатель и его адрес:  {%if order.contragent.legalForm is defined%}{{order.contragent.legalForm.captionRu}}  &quot;{{order.contragentFio}}&quot;; {{order.contragent.addressLegal}}{%else%}
                                    {{order.recipientFio}}; {% if order.deliveryPostcode %}{{order.deliveryPostcode}}, {%endif%}{%if order.deliveryCity%}{{order.deliveryCity.name}}{%endif%} {{order.deliveryAddress}}{%endif%}<br />
                                        К платежно-расчетному документу No  от
                                        <br />
                                        Покупатель: {%if order.contragent.legalForm is defined%}{{order.contragent.legalForm.captionRu}}  &quot;{{order.contragentFio}}&quot;{%else%}{{order.contragentFio}}<br />
                                        Адрес: {%if order.contragent.legalForm is defined%}{{order.contragent.addressLegal}}{%else%}{% if order.deliveryPostcode %}{{order.deliveryPostcode}}, {%endif%}{%if order.deliveryCity%}{{order.deliveryCity.name}}{%endif%} {{order.deliveryAddress}}{%endif%}{%endif%}<br />
                                        ИНН / КПП покупателя: {%if order.contragent.legalForm is defined%}{{order.contragent.inn}}{%else%}---{%endif%} / {%if order.contragent.legalForm is defined and order.contragent.kpp%}{{order.contragent.kpp}}{%else%}---{%endif%}<br />
                                        Валюта: наименование, код: Российский рубль, 643
                                    </div>
                                </div>
                                <div style="float:right;width:25%;">
                                    <div style="float:right; width: 52mm; height: 14mm; text-align: center;">
                                        <barcode code="003{{order.id|idFormat}}{{order.createdDateTime|date('Ymd', default_timezone)}}" type="C128C" />
                                        <div style="font-size:7pt;">003{{order.id|idFormat}}{{order.createdDateTime|date('Ymd', default_timezone)}}</div>
                                    </div>
                                    <div style="clear:both;"></div>
                                    <div style="font-size:7pt;">
                                        Приложение N 1<br />
                                        к постановлению Правительства Российской Федерации<br />
                                        от 26 декабря 2011 г. N 1137
                                    </div>
                                </div>
                                <div style="clear:both;"></div>
                            </div>

                            <table width="100%" border="0" cellpadding="2" cellspacing="0" class="invoice" style="border-collapse: collapse">
                                <tr>
                                    <th rowspan="2" style="width:270px">Наименование товара<br />(описание выполненных работ,<br />оказанных услуг), имущественного права</th>
                                    <th colspan="2">Единица<br />измерения</th>
                                    <th rowspan="2">Коли-<br />чество<br />(объем)</th>
                                    <th rowspan="2">Цена (тариф)<br />за единицу<br />измерения</th>
                                    <th rowspan="2">Стоимость<br />товаров (работ,<br />услуг),<br />имущественных<br />прав без<br />налога - всего</th>
                                    <th rowspan="2">В том<br />числе<br />сумма<br />акциза</th>
                                    <th rowspan="2">Нало-<br />говая<br />ставка</th>
                                    <th rowspan="2">Сумма<br />налога,<br/>предъяв-<br />ляемая<br />покупателю</th>
                                    <th rowspan="2">Стоимость<br />товаров<br />(работ,&nbsp;услуг),<br />имущественных<br />прав с налогом -<br />всего</th>
                                    <th colspan="2">Страна<br />происхождения<br />товара</th>
                                    <th rowspan="2">Номер<br />таможенной декларации</th>
                                </tr>
                                <tr>
                                    <th>Код</th>
                                    <th>Условное<br />обозна-<br />чение{*<br />(национальное)*}</th>
                                    <th>Циф-<br />ровой<br />код</th>
                                    <th>Краткое<br />наиме-<br />нование</th>
                                </tr>
                                <tr>
                                    <td align="center" style="width:270px">1</td>
                                    <td align="center">2</td>
                                    <td align="center">2a</td>
                                    <td align="center">3</td>
                                    <td align="center">4</td>
                                    <td align="center">5</td>
                                    <td align="center">6</td>
                                    <td align="center">7</td>
                                    <td align="center">8</td>
                                    <td align="center">9</td>
                                    <td align="center">10</td>
                                    <td align="center">10a</td>
                                    <td align="center">11</td>
                                </tr>
                                {%for comp in order.compositions%}
                                    <tr>
                                        <td align="left" style="width:270px;hyphens:none;">{{comp.product.sku}} {{comp.product.captionRu}}</td>
                                        <td align="center" nowrap>{{comp.product.UnitOfMeasure.okeiCode}}</td>
                                        <td align="center" nowrap>{{comp.product.UnitOfMeasure.shortCaptionRu}}</td>
                                        <td align="right" nowrap>{{comp.quantity}}</td>
                                        <td align="right" nowrap>{% if costInfo.history_info is defined%}{{moneyFormat(costInfo.history_info.composition[comp.product.id].cost_per_one_unit_without_ndsTax)}}{%else%}{{moneyFormat(costInfo.composition[comp.product.id].cost_per_one_unit_without_ndsTax)}}{%endif%}</td>
                                        <td align="right" nowrap>{% if costInfo.history_info is defined%}{{moneyFormat(costInfo.history_info.composition[comp.product.id].cost_without_ndsTax)}}{%else%}{{moneyFormat(costInfo.composition[comp.product.id].cost_without_ndsTax)}}{%endif%}</td>
                                        <td align="center" nowrap>без&nbsp;акциза</td>
                                        <td align="right" nowrap>{{order.ndsTax}}%</td>
                                        <td align="right" nowrap>{% if costInfo.history_info is defined%}{{moneyFormat(costInfo.history_info.composition[comp.product.id].ndsSum)}}{%else%}{{moneyFormat(costInfo.composition[comp.product.id].ndsSum)}}{%endif%}</td>
                                        <td align="right" nowrap>{% if costInfo.history_info is defined%}{{moneyFormat(costInfo.history_info.composition[comp.product.id].cost)}}{%else%}{{moneyFormat(costInfo.composition[comp.product.id].cost)}}{%endif%}</td>
                                        <td align="center" nowrap>
                                            {%if extraData[comp.id].countries is defined%}
                                                {%for country in extraData[comp.id].countries %}
                                                    {{country.numeric}}{%if not loop.last%}, {%endif%}
                                                {%endfor%}
                                            {%else%}
                                                -
                                            {%endif%}
                                        </td>
                                        <td align="center" nowrap>
                                            {%if extraData[comp.id].countries is defined%}
                                                {%for country in extraData[comp.id].countries %}
                                                    {{country.captionRu}}{%if not loop.last%}, {%endif%}
                                                {%endfor%}
                                            {%else%}
                                                -
                                            {%endif%}
                                        </td>
                                        <td align="left" nowrap>
                                            {%if extraData[comp.id].gtd is defined%}
                                                {%for gtd in extraData[comp.id].gtd %}
                                                    {{gtd}}{%if not loop.last%}, {%endif%}
                                                {%endfor%}
                                            {%else%}
                                                -
                                            {%endif%}
                                        </td>
                                    </tr>
                                {%endfor%}
                            </table>

                            <div style="font-size:7pt;position:absolute;bottom:30px;left:40px">Примечание. 1. Первый экземпляр счета-фактуры, составленного на бумажном носителе - покупателю, второй экземпляр - продавцу.<br />2. При составлении организацией счета-фактуры в электронном виде показатель «Главный бухгалтер (подпись) (Ф.И.О.)» не формируется.</div>
                            <div style="font-size:7pt;position:absolute;bottom:30px;right:40px;text-align:right;">Страница {{page}} из {{pagescount}}</div>


                            <table width="100%" border="0" cellpadding="2" cellspacing="0" class="invoice" style="border-collapse: collapse">
                                <tr>
                                    <td align="left" colspan="5"><strong>Всего к оплате:</strong></td>
                                    <td align="right" nowrap>{% if costInfo.history_info is defined%}{{moneyFormat(costInfo.history_info.total_cost_no_nds_tax)}}{%else%}{{moneyFormat(costInfo.total_cost_no_nds_tax)}}{%endif%}</td>
                                    <td align="center" colspan="2">X</td>
                                    <td align="right" nowrap>{% if costInfo.history_info is defined%}{{moneyFormat(costInfo.history_info.nds_tax)}}{%else%}{{moneyFormat(costInfo.nds_tax)}}{%endif%}</td>
                                    <td align="right" nowrap>{% if costInfo.history_info is defined%}{{moneyFormat(costInfo.history_info.total_cost)}}{%else%}{{moneyFormat(costInfo.total_cost)}}{%endif%}</td>
                                </tr>
                            </table>

                            <div style="font-size:7pt;position:absolute;bottom:30px;left:40px">Примечание. 1. Первый экземпляр счета-фактуры, составленного на бумажном носителе - покупателю, второй экземпляр - продавцу.<br />2. При составлении организацией счета-фактуры в электронном виде показатель «Главный бухгалтер (подпись) (Ф.И.О.)» не формируется.</div>
                            <div style="font-size:7pt;position:absolute;bottom:30px;right:40px;text-align:right;">Страница {{page}} из {{pagescount}}</div>

                            <br/>


                            <table width="100%" border="0" cellpadding="2" cellspacing="0">
                                <tr>
                                    <td valign="bottom">Руководитель&nbsp;организации<br />или&nbsp;иное&nbsp;уполномоченное&nbsp;лицо</td>
                                    <td valign="bottom">{%if haveStamps%}<img src="{{order.seller.imageSign|getFileWebPath}}" width="70" height="55" style="margin-right:-80px;margin-bottom:-23px" />{%endif%}__________________________</td>
                                    <td valign="bottom">{{order.seller.nameOfTheHead}}</td>
                                    <td>&nbsp;</td>
                                    <td valign="bottom">Главный&nbsp;бухгалтер<br />или&nbsp;иное&nbsp;уполномоченное&nbsp;лицо</td>
                                    <td valign="bottom">{%if haveStamps%}<img src="{{order.seller.imageSignOfAccountant|getFileWebPath}}" width="70" height="55" style="margin-right:-80px;margin-bottom:-28px" />{%endif%}__________________________</td>
                                    <td valign="bottom">{{order.seller.nameOfTheAccountant}}</td>
                                </tr>
                                <tr>
                                    <td valign="top">&nbsp;</td>
                                    <td valign="top" align="center">(подпись)</td>
                                    <td valign="top" align="center">(ф. и. о.)</td>
                                    <td>&nbsp;</td>
                                    <td valign="top">&nbsp;</td>
                                    <td valign="top" align="center">(подпись)</td>
                                    <td valign="top" align="center">(ф. и. о.)</td>
                                </tr>
                                <tr>
                                    <td colspan="7">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td valign="bottom">Индивидуальный&nbsp;предприниматель</td>
                                    <td valign="bottom">__________________________</td>
                                    <td valign="bottom">________________________________</td>
                                    <td>&nbsp;</td>
                                    <td valign="bottom" colspan="3">__________________________________________________________________________________________________________________</td>
                                </tr>
                                <tr>
                                    <td valign="top">&nbsp;</td>
                                    <td valign="top" align="center">(подпись)</td>
                                    <td valign="top" align="center">(ф. и. о.)</td>
                                    <td>&nbsp;</td>
                                    <td valign="top" align="center" colspan="3">(реквизиты свидетельства о государственной<br />регистрации индивидуального предпринимателя)</td>
                                </tr>
                            </table>

                            <div style="font-size:7pt;position:absolute;bottom:30px;left:40px">Примечание. 1. Первый экземпляр счета-фактуры, составленного на бумажном носителе - покупателю, второй экземпляр - продавцу.<br />2. При составлении организацией счета-фактуры в электронном виде показатель «Главный бухгалтер (подпись) (Ф.И.О.)» не формируется.</div>
                            <div style="font-size:7pt;position:absolute;bottom:30px;right:40px;text-align:right;">Страница {{pagescount}} из {{pagescount}}</div>
                            {% endspaceless %}

                                {%endblock%}