{#вывод списка площадок в ЛК#}
{% extends "ApplicationSonataUserBundle::cabinet_layout.html.twig" %}

{# SEO - заголовки #}
{% block title %}Ваши сайты{% endblock %}
{% block meta_keywords %}{% endblock %}
{% block meta_description %}{% endblock %}


    {% block breadcrumbs %}
        <!--=== Breadcrumbs ===-->
        <div class="breadcrumbs">
            <div class="container">
                <h1 class="pull-left">Площадки</h1>
                <ul class="pull-right breadcrumb">
                    <li><a href="{{ path('core_common_index') }}">На главную</a></li>
                    <li><a href="{{ path('sonata_user_profile_show') }}">Кабинет</a></li>
                    <li class="active">Список ваших площадок</li>
                </ul>
            </div>
        </div>
        <!--=== End Breadcrumbs ===-->
    {% endblock %}


{% block sub_content %}

    {% for flashMessage in app.session.flashbag.get('edit_success') %}
        <br/>
        <div class="alert alert-success fade in">
            {{ flashMessage | raw }}
        </div>
    {% endfor %}


    {% for flashMessage in app.session.flashbag.get('edit_errors') %}
        <br/>
        <div class="alert alert-danger fade in">
            {{ flashMessage | raw }}
        </div>
    {% endfor %}


    {% if  sites.getTotalItemCount %}
        <h3>Список ваших площадок</h3>
        <a style="margin-top: -30px" href="{{ path('core_cabinet_site_create') }}" class="btn-u pull-right"><i class="fa fa-plus-square"></i> &nbsp;Добавить площадку</a>


        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>Домен</th>
                <th>Тематика</th>
                <th>Добавлен</th>
                <th>Статистика</th>
                <th>Подтверждение прав</th>
            </tr>
            </thead>
            <tbody>
            {% for site in sites %}
                <tr>
                    <td height="53px">{{ loop.index }}</td>
                    <td><a href="{{ path('core_cabinet_site_edit', {id:site.id}) }}"><b>{{ site.domain }}</b></a></td>
                    <td>
                        {% for category in site.categories %}
                            <li>{{ category.captionRu }}</li>
                        {% endfor %}
                    </td>
                    <td>{{ site.createdDateTime|date("d-m-Y H:i:s", default_timezone) }}</td>
                    <td></td>
                    <td>{% if site.isVerified %}<span class="label label-u">Подтверждено</span>{% else %}
                            <a  href="{{ path('core_cabinet_site_verified_form', {id:site.id}) }}" class="btn-u btn-u-orange">Пройти подтверждение</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {% set routeFirsPage = 'core_cabinet_site_list_first_page' %}
        {% set routePage = 'core_cabinet_site_list' %}

        {{ knp_pagination_render(sites, 'CoreSiteBundle:Site/Cabinet:pagination.html.twig',{},
        { routeFirsPage: routeFirsPage, routePage:routePage}) }}

    {% else %}
        <h2>У вас нет рекламных площадок</h2>
        <a style="margin-top: -30px" href="{{ path('core_cabinet_site_create') }}" class="btn-u pull-right"><i class="fa fa-plus-square"></i> &nbsp;Добавить площадку</a>
    {% endif %}

{% endblock %}