{% extends "CoreFaqBundle::layout.html.twig" %}

{%- block title -%}
    {%- if attribute(category, 'title'~ app.request.locale) -%}
        {{ attribute(category, 'title'~ app.request.locale)|escape('html') }}
    {%- else -%}
        Помощь - {{ attribute(category, 'caption' ~ app.request.locale) }}
    {%- endif -%}
{%- endblock -%}

{%- block meta_keywords -%}
    {%- if attribute(category, 'metakeywords'~ app.request.locale) -%}
        {{ attribute(category, 'metakeywords'~ app.request.locale)|escape('html') }}
    {%- else -%}
        помощь, вопросы, фак, FAQ, {{ attribute(category, 'caption' ~ app.request.locale) }}
    {%- endif -%}
{%- endblock -%}

{%- block meta_description -%}
    {%- if attribute(category, 'metadescription'~ app.request.locale) -%}
        {{ attribute(category, 'metadescription'~ app.request.locale)|escape('html') }}
    {%- else -%}
        {{ attribute(category, 'caption' ~ app.request.locale) }}. Если Вы не смогли найти ответ на свой вопрос - пожалуйста, свяжитесь с нами.
    {%- endif -%}
{%- endblock -%}
{% block breadcrumbs %}
        {% spaceless %}
        <li>
            <a href="{{path('core_common_index')}}">Домой</a>
        </li>
        <li>
            <a href="{{path('core_faq_homepage')}}">Помощь</a>
        </li>
        <li class="active">{{ attribute(category, 'caption' ~ app.request.locale) }}</li>
        {% endspaceless %}
{% endblock %}
{% block main_content %}
    <div class="headline">
        <h2 {{fastEdit(category)}}>{{ attribute(category, 'caption' ~ app.request.locale) }}</h2>
    </div>
    {% include 'CoreFaqBundle:Faq:search_form.html.twig' with {'form' : searchForm} %}
    <div class="faq-page">
        <div class="col-xs-6">
            {% if articles |length %}
            <ul class="list-unstyled check-style">
            {% for article in articles %}
                <li>
                    <i class="fa fa-angle-right color-green"></i>&nbsp;
                    <a href="{{path('core_faq_article', {'categorySlug': category.slug, 'articleSlug':article.slug})}}">{{ attribute(article, 'caption' ~ app.request.locale) }}</a>
                </li>
            {% endfor %}
            </ul>
                {% else %}
                    <div class="alert alert-warning fade in">
                        <h6>Раздел находится в стадии наполнения</h6>
                    </div>
            {% endif %}
        </div>
    </div>
{% endblock %}