{% extends "CoreFaqBundle::layout.html.twig" %}
{% block title %}Помощь и наиболее часто задаваемые вопросы - поиск по запросу &quot;{{searchString}}&quot;{% endblock %}
{% block meta_description %}помощь, вопросы, фак, FAQ, {{searchString}}{% endblock %}
{% block meta_keywords %}Результаты поиска в разделе помощи по запросу &quot;{{searchString}}&quot;. Если Вы не смогли найти ответ на свой вопрос - пожалуйста, свяжитесь с нами.{% endblock %}
{% block breadcrumbs_title %}Результаты поиска по запросу &quot;{{searchString}}&quot;{% endblock %}
{% block breadcrumbs %}
    <li>
        <i class="rounded-x fa fa-angle-right"></i>&nbsp;
        <a href="{{path('core_common_index')}}">Домой</a>
    </li>
    <li>
        <i class="rounded-x fa fa-angle-right"></i>&nbsp;
        <a href="{{path('core_faq_homepage')}}">Помощь</a>
    </li>
    <li class="active">
        <i class="rounded-x fa fa-angle-right"></i>&nbsp;
        Результаты поиска по запросу &quot;{{searchString}}&quot;
    </li>
{% endblock %}
{% block main_content %}
    {% include 'CoreFaqBundle:Faq:search_form.html.twig' with {'form' : searchForm, 'isSearched': true } %}
    <div id="accordion" class="panel-group acc-v1 margin-bottom-40">
        {% for cat in categories %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a {{fastEdit(cat)}} href="#collapse-{{ loop.index }}" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle">
                            {{ loop.index }}. {{ attribute(cat, 'caption' ~ app.request.locale) }}
                        </a>
                    </h4>
                </div>
                <div class="panel-collapse collapse" id="collapse-{{ loop.index }}">
                    <div class="panel-body">
                        <ul class="list-unstyled">
                            {% for article in cat.articles %}
                                <li {{fastEdit(article)}}>
                                    <a href="{{path('core_faq_article', {'categorySlug': cat.slug, 'articleSlug':article.slug})}}">{{ attribute(article, 'caption' ~ app.request.locale) }}</a>
                                </li>
                            {% else %}
                                <div class="alert alert-warning fade in">
                                    <h6>Информация отсутствует</h6>
                                </div>
                            {% endfor %}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="alert alert-warning fade in">
                <h6>Категории не найдено</h6>
            </div>
        {% endfor %}
    </div>
{% endblock %}
