
{#**
 * Шаблон для вывода характеристик в виде checkbox
 *
 * @author Sergeev A.M.
 * @copyright LLC "PromoMaster"
 *#}

{% set countShow = 8 %}

{% block checkbox %}

    {% set formElementClass = '' %}

    {% if this.values %}

        <div class="filter_cats filter_group edit-type-checkbox">
            <h3>{{ this.caption }}</h3>

            {% set i = 0 %}

            {% for id, value in this.values %}

                {% if i == countShow %}

                    <div class="hidden asSlide">

                {% endif %}

                {% block rowElement %}

                    <label for="filter_{{ this.name }}_{{ id }}">

                        {% block formElement %}

                            <input
                                type="checkbox" value="{{ id }}" class="{{ formElementClass }}" id="filter_{{ this.name }}_{{ id }}"
                                name="filter{% if this.is is defined %}[{{ this.is }}][{{ this.type }}]{% endif %}[{{ this.name }}][]"
                                {% if (filterRequest[this.name] is defined and id in filterRequest[this.name]) or (this.is is defined and filterRequest[this.is][this.type][this.name] is defined and id in filterRequest[this.is][this.type][this.name]) or
                                 (filterRequest[this.name] is defined and id~'' in filterRequest[this.name]) or (this.is is defined and filterRequest[this.is][this.type][this.name] is defined and id~'' in filterRequest[this.is][this.type][this.name]) %}
                                    checked="checked"
                                {% endif %}>

                        {% endblock %}

                        <span>{{ value.caption }}</span>
                    </label>

                {% endblock %}

                {% set i = i + 1 %}

            {% endfor %}

            {% if this.values|length > countShow %}

                </div>
                <!--noindex-->
                <span class="text_tgl filter-show-all">Показать все</span>
                <!--/noindex-->
            {% endif %}

        </div>

    {% endif %}

{% endblock %}