
{#**
 * Шаблон для вывода характеристик в виде разницы между числами
 *
 * @author Sergeev A.M.
 * @copyright LLC "PromoMaster"
 *#}

{% block input %}

    {% set formElementClass = '' %}

    {% if this.range and this.range.minVal != this.range.maxVal %}

        <div class="filter_price filter_group filter-range-customise">
            <h3>{{ this.caption }}{% if this.range.shortCaption %}, {{ this.range.shortCaption }}{% endif %}</h3>
            <div class="filter_price_input">
                {{ 'filter.from'|trans({}, 'frontend') }}&nbsp;<input
                    class="text_input filter-range-from mask-integer" type="text" size="5"
                    name="filter{% if this.is is defined %}[{{ this.is }}][{{ this.type }}]{% endif %}[{{ this.name }}][from]"
                    value="{% spaceless %}
                        {% if filterRequest[this.name]['from'] is defined %}
                            {{ filterRequest[this.name]['from'] }}
                        {% elseif this.is is defined and filterRequest[this.is][this.type][this.name]['from'] is defined %}
                            {{ filterRequest[this.is][this.type][this.name]['from'] }}
                        {% endif %}
                    {% endspaceless %}">
                {{ 'filter.to'|trans({}, 'frontend') }}&nbsp;<input
                    class="text_input filter-range-to mask-integer" type="text" size="5"
                    name="filter{% if this.is is defined %}[{{ this.is }}][{{ this.type }}]{% endif %}[{{ this.name }}][to]"
                    value="{% spaceless %}
                        {% if filterRequest[this.name]['to'] is defined %}
                            {{ filterRequest[this.name]['to'] }}
                        {% elseif this.is is defined and filterRequest[this.is][this.type][this.name]['to'] is defined %}
                            {{ filterRequest[this.is][this.type][this.name]['to'] }}
                        {% endif %}
                    {% endspaceless %}">
            </div>

            <div class="filter_price_slider" data-range-min="{{ this.range.minVal }}"  data-range-max="{{ this.range.maxVal }}">

                <div class="filter_price_slider_signs">
                    <span class="filter_price_slider_sign lowest"><span class="range-text"></span><span class="filter_price_slider_mark">&nbsp;</span></span>
                    <span class="filter_price_slider_sign average"><span class="range-text"></span><span class="filter_price_slider_mark">&nbsp;</span></span>
                    <span class="filter_price_slider_sign highest"><span class="range-text"></span><span class="filter_price_slider_mark">&nbsp;</span></span>
                </div>

            </div>

            {% if this.other is defined %}
                {% for name, value in this.other %}

                    <input type="hidden" name="filter{% if this.is is defined %}[{{ this.is }}][{{ this.type }}]{% endif %}[{{ this.name }}][{{ name }}]" value="{{ value }}"/>

                {% endfor %}
            {% endif %}

        </div>

    {% endif %}

{% endblock %}