
{#**
 * Шаблон для вывода характеристик в виде строкового поля
 *
 * @author Sergeev A.M.
 * @copyright LLC "PromoMaster"
 *#}

{% block input_text %}

    {% set formElementClass = '' %}

    {% if this.type == 'input_text' %}

        <div class="filter_cats filter_group edit-type-input_text">
            <h3>{{ this.caption }}</h3>

                {% block rowElement %}

                    <label for="filter_{{ this.name }}">

                        {% block formElement %}

                            <input
                                type="text" id="filter_{{ this.name }}" class="text_input w92 {{ formElementClass }}"
                                name="filter{% if this.is is defined %}[{{ this.is }}][{{ this.type }}]{% endif %}[{{ this.name }}]"
                                value="{% spaceless %}
                                    {% if filterRequest[this.name] is defined %}
                                        {{ filterRequest[this.name] }}
                                    {% elseif this.is is defined and filterRequest[this.is][this.type][this.name] is defined %}
                                        {{ filterRequest[this.is][this.type][this.name] }}
                                    {% endif %}
                                    {% endspaceless %}">

                        {% endblock %}

                    </label>

                {% endblock %}

             </div>

    {% endif %}

{% endblock %}