
{#**
 *  Шаблон для построения и вывода фильтра в каталоге продукции
 *
 * @author Sergeev A.M.
 * @copyright LLC "PromoMaster"
 *#}

{% block filterBuilder %}
    {% spaceless %}

        {% if filterBuilder is defined and filterBuilder %} {# and products|length#}

            {% set parameters = app.request.attributes.get('_route_params')|merge(app.request.query.all)|merge({'page': app.request.attributes.get('page')}) %}

            <form method="GET" action="{{ path(filterRoute is defined ? filterRoute : app.request.attributes.get('_route'), parameters) }}">
                <div class="filter{% if filterWithOwl is defined and filterWithOwl %} filter_owl{% endif %}">

                    {% if filterWithOwl is defined and filterWithOwl %}

                        <div class="filter_owl_appeal">
                            <span class="filter_owl_persona">&nbsp;</span>
                            <span class="filter_owl_bubble">Подобрать товар &mdash; просто!</span>
                        </div>

                    {% else %}

                        <h2>{{ 'filter.title'|trans({}, 'frontend') }}</h2>

                    {% endif %}

                    {% if app.request.query.get('filter') %}

                        <a class="filter_clear" href="javascript:void(0);">{{ 'filter.clear'|trans({}, 'frontend') }}</a>

                    {% endif %}

                    {# пол #}
                    {% if filterBuilder.sex is defined %}
                        {% include filterBuilder.sex.template with {'this': filterBuilder.sex} %}
                        {% set filterBuilder = filterBuilder|merge({'sex': null}) %}
                    {% endif %}

                    {# возраст #}
                    {% if filterBuilder.age is defined %}
                        {% include filterBuilder.age.template with {'this': filterBuilder.age} %}
                        {% set filterBuilder = filterBuilder|merge({'age': null}) %}
                    {% endif %}

                    {# развивающие навыки #}
                    {% if filterBuilder.skills is defined %}
                        {% include filterBuilder.skills.template with {'this': filterBuilder.skills} %}
                        {% set filterBuilder = filterBuilder|merge({'skills': null}) %}
                    {% endif %}

                    {# цена #}
                    {% if filterBuilder.price is defined %}
                        {% include filterBuilder.price.template with {'this': filterBuilder.price} %}
                        {% set filterBuilder = filterBuilder|merge({'price': null}) %}
                    {% endif %}

                    {# все остальное, что осталось #}
                    {% for fName, fData in filterBuilder %}
                        {% if fData %}
                            {% include fData.template with {'this': fData} %}
                        {% endif %}
                    {% endfor %}

                    {# добавляем в форму фильтра параматры сортировки и кол-во товаров на странице, т. к. при сабмите формы параметры передающиеся обычным GET убираются #}
                    {% set GET = app.request.query %}
                    {% if GET.get('sort') %}
                        <input type="hidden" name="sort" value="{{ GET.get('sort') }}"/>
                    {% endif %}

                    {% if GET.get('show') %}
                        <input type="hidden" name="show" value="{{ GET.get('show') }}"/>
                    {% endif %}

                    <div class="filter_group">
                        <label for="filter_instock">
                            <input type="checkbox" value="1" class="" id="filter_instock" name="filter[instock]" {% if filterRequest['instock'] is defined and filterRequest['instock'] == 1 %}checked{% endif %}>
                            <span>&nbsp;Есть в наличии</span>
                        </label>
                    </div>

                    <div class="filter_submit filter_group">
                        <button class="common_button"><span> {{ 'filter.submit'|trans({}, 'frontend') }}</span></button>
                    </div>
                </div>
            </form>

        {% endif %}

    {% endspaceless %}
{% endblock %}