
{#**
 * Шаблон для вывода истории баланса у контрагента
 *
 * @author Sergeev A.M.
 * @copyright LLC "PromoMaster"
 *#}

{% extends 'SonataDoctrineORMAdminBundle:Form:form_admin_fields.html.twig' %}

{% use 'ApplicationSonataUserBundle:Admin/Form:balance_history_tbody.html.twig' %}

{% block balance_history_widget %}
    {% spaceless %}

        {%- if balanceHistory -%}

            {%- set balance = 0 -%}

            <script>
                $(function () {

                    $('#sellers').on('change', function(){
                        var url = $(this).val();
                        $('#table-export-to-csv').hide();
                        $.ajax({
                            url: url,
                            success: function (result) {
                                $('#table-export-to-csv').replaceWith(result).show();
                            }
                        });
                    });

                    $("#btn-export-to-csv").on('click', function (event) {
                        exportTableToCSV.apply(this, [$('#table-export-to-csv'), $('#table-export-to-csv').data('csv-name')]);
                    });

                    {%- set balance = 0 -%}
                    var seriesOptions = [{
                        animation: false,
                        name: 'Баланс',
                        data: [

                        [{{ object.createdDateTime|date('U', default_timezone) * 1000 }}, 0],

                        {%- for i,item in balanceHistory -%}
                            {%- set balance = item.type ? balance + item.amount : balance - item.amount -%}
                            [{{ item.date|date('U', default_timezone) * 1000 }}, {{ balance }}],
                        {%- endfor -%}

                        ]
                    }];
                    createChart();
                    function createChart() {

                        $('#balance-history-highcharts').highcharts('StockChart', {
                            chart: {
                                type: 'line',
                                margin: [40, 5, 50, 5],
                                width: $(window).width() - 90,
                            },
                            title: {
                                text: 'Баланс',
                                align: 'left',
                            },
                            rangeSelector: {
                                enabled: true,
                                selected: 2,
                                buttons: [
                                    {type: 'week', count: 1, text: '1н'},
                                    {type: 'week', count: 2, text: '2н'},
                                    {type: 'month', count: 1, text: '1м'},
                                    {type: 'month', count: 2, text: '2м'},
                                    {type: 'month', count: 6, text: '6м'},
                                    {type: 'ytd', text: 'СНГ'},
                                    {type: 'year', count: 1, text: '1г'},
                                    {type: 'all', text: 'Все'}
                                ],
                                inputPosition: {
                                    align: 'left',
                                    x: 320
                                }
                            },
                            navigator: {
                                height: 50,
                                series: {type: 'area'}
                            },
                            credits: {enabled: false},
                            xAxis: {
                                minRange: 7 * 24 * 3600 * 1000,
                                minTickInterval: 24 * 3600 * 1000,
                                type: 'datetime',
                                labels: {
                                    rotation: -45,
                                    align: 'right',
                                },
                                dateTimeLabelFormats: {
                                    millisecond: '%H:%M:%S.%L',
                                    second: '%H:%M:%S',
                                    minute: '%H:%M',
                                    hour: '%H:%M',
                                    day: '%e %b',
                                    week: '%e %b',
                                    month: '%b %Y',
                                    year: '%Y'
                                }
                            },
                            yAxis: {
                                    labels: {
                                    style: {width: '150px',},
                                    formatter: function() {
                                        return number_format(this.value) + ' ' + this.chart.tooltip.options.valueSuffix;
                                    }
                                },
                                plotLines: [{
                                    value: 0,
                                    width: 2,
                                    color: 'red',
                                    dashStyle : 'shortdash'
                                }]
                            },
                            legend: {enabled: false},
                            tooltip: {
                                valueDecimals: 2,
                                valueSuffix: ' {{ currencyFormat() }}',
                            },
                            series: seriesOptions
                        });
                    }
                });
            </script>

            <div class="balance-history-container">

                <table class="table table-bordered ">
                    <thead>
                        <td colspan="5">
                            <div class="pull-left">История баланса контрагента&nbsp;</div>
                            <div class="pull-right">
                                {#<select id="sellers" data-customer-id="{{ object.id }}">
                                    <option value="{{ path('application_sonata_user_contragent_balance_history_update', {customerId: object.id, sellerId: 0}) }}">-- по всем продавцам --</option>

                                    {% for seller in sellers %}
                                        <option value="{{ path('application_sonata_user_contragent_balance_history_update', {customerId: object.id, sellerId: seller.id}) }}">{{ seller.caption }}</option>
                                    {% endfor %}

                                </select>&nbsp;#}
                                <a id="btn-export-to-csv" href="#" class="btn"><i class="icon-file"></i>Экспорт в CSV</a>
                            </div>
                        </td>
                    </thead>

                    {{ block('balance_history_tbody') }}

                </table>

            </div>

            <div class="clearfix"></div>
            <br>
            <br>

            <div class="balance-history-highcharts-container">

                <table class="table table-bordered">
                    <tr>
                        <td>
                            <div  id="balance-history-highcharts" style="height: 500px;width:100%;"></div>
                        </td>
                    </tr>
                </table>

            </div>

        {%- else -%}

            Контрагент еще не совершал никаких операций!

        {%- endif -%}

    {% endspaceless %}
{% endblock %}