{% extends 'SonataAdminBundle::ajax_layout.html.twig' %}
{% block content %}
    <div class="sonata-ba-delete">

        <h1>{{ 'title_delete'|trans({}, 'SonataAdminBundle') }}</h1>

        {{ 'message_delete_confirmation'|trans({'%object%': admin.toString(object)}, 'SonataAdminBundle') }}

        <div class="well well-small form-actions">
            <form method="POST" action="{{ admin.generateObjectUrl('delete', object) }}">
                <input type="hidden" name="_method" value="DELETE" />
                <input type="hidden" name="_sonata_csrf_token" value="{{ csrf_token }}" />

                <button type="submit" class="btn btn-danger"><i class="icon-trash icon-white"></i> {{ 'btn_delete'|trans({}, 'SonataAdminBundle') }}</button>
                
            </form>
        </div>
    </div>
{% endblock %}
