{#редактирование рекламного места в ЛК#}
{% extends "ApplicationSonataUserBundle::cabinet_layout.html.twig" %}
{% form_theme form 'CoreCommonBundle:Form:choice_widget_with_data_attr.html.twig' %}
{# SEO - заголовки #}
{% block title %}{% if adplace.id %}Редактирование рекламного места{% else %}Добавление рекламного места в систему{% endif %}{% endblock %}
{% block meta_keywords %}{% endblock %}
{% block meta_description %}{% endblock %}


    {% block breadcrumbs %}
        <!--=== Breadcrumbs ===-->
        <div class="breadcrumbs">
            <div class="container">
                <h1 class="pull-left">Рекламные места</h1>
                <ul class="pull-right breadcrumb">
                    <li><a href="{{ path('core_common_index') }}">На главную</a></li>
                    <li><a href="{{ path('sonata_user_profile_show') }}">Кабинет</a></li>
                    <li><a href="{{ path('core_cabinet_adplace_list_first_page') }}">Список ваших рекламных мест</a>
                    </li>
                    <li class="active">Редактирование настроек вашего рекламного места</li>
                </ul>
            </div>
        </div>
        <!--=== End Breadcrumbs ===-->
    {% endblock %}


{% block sub_content %}

    {% if adplace.id %}
        <div class="tab-v2">
            <ul class="nav nav-tabs">
                <li class="active"><a href="{{ path('core_cabinet_adplace_list_first_page') }}" >Рекламное место</a></li>
                <li class=""><a href="{{ path('core_cabinet_section_list_first_page') }}" >Разделы</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade active in" id="tab1">
                    {{ include ('CoreSiteBundle:AdPlace\\Cabinet\\Form:adplace.html.twig') }}
                </div>
                <div class="tab-pane fade" id="tab12">

                </div>
            </div>
        </div>
    {% else %}
        {{ include ('CoreSiteBundle:AdPlace\\Cabinet\\Form:adplace.html.twig') }}
    {% endif %}

{% endblock %}
