<!--=== Header ===-->
<div class="header">
    <!-- Topbar -->
    <div class="topbar">
        <div class="container">

            <!-- Topbar Navigation -->
            <ul class="loginbar pull-right">
                {#<li><a href="{{ path('core_faq_homepage') }}">Помощь</a></li>#}
                <li><a href="{{ path('core_faq_homepage') }}">Помощь</a></li>
                <li class="topbar-devider"></li>
                {%- if not  app.user -%}
                <li><a href="{{ path('fos_user_security_login') }}">Авторизация</a></li>
                {%- else -%}
                <li><a href="{{ path('sonata_user_profile_show') }}"><i class="fa fa-user"></i><strong style="margin-left: 5px">{% if app.user.firstname or app.user.lastname %}{{ app.user.lastname ~ ' ' ~ app.user.firstname }}{% else %}{{ app.user.username }}{% endif %}</strong></a></li>
                    <li class="topbar-devider"></li>
                    <li><a href="{{ path('_logout') }}">Выйти</a></li>
                {%- endif -%}
            </ul>


            <!-- End Topbar Navigation -->
        </div>
    </div>
    <!-- End Topbar -->

    <!-- Navbar -->
    <div class="navbar navbar-default mega-menu" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="fa fa-bars"></span>
                </button>
                <a class="navbar-brand logo" href="{{ path('core_common_index') }}">
                    <img id="logo-header" src="/assets/img/logo-default.jpg" alt="Logo">
                </a>

            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-responsive-collapse">
                <ul class="nav navbar-nav">
                    <!-- Home -->
                    <li {% if active_route == 'core_common_index' %}class="active"{% endif %}>
                        <a href="{{ path('core_common_index') }}" >
                            На главную
                        </a>
                    </li>
                    <!-- End Home -->
                    <li {% if active_route == 'core_common_catalog_first_page' or active_route == 'core_common_catalog'  or   active_route == 'core_site_details' %}class="active"{% endif %}>
                        <a href="{{ path('core_common_catalog_first_page') }}" >
                            Каталог
                        </a>
                    </li>

                    <li {% if active_route == 'core_common_advertisers' %}class="active"{% endif %}>
                        <a href="{{ path('core_common_advertisers') }}" >
                            Рекламодателям
                        </a>
                    </li>

                    <li {% if active_route == 'core_common_webmasters' %}class="active"{% endif %}>
                        <a href="{{ path('core_common_webmasters') }}" >
                            Владельцам сайтов
                        </a>
                    </li>

                    {#<li {% if active_route == 'core_common_agencies' %}class="active"{% endif %}>#}
                        {#<a href="{{ path('core_common_agencies') }}" >#}
                            {#Агентствам#}
                        {#</a>#}
                    {#</li>#}






                    <li {% if active_route == 'core_common_about' %}class="active"{% endif %}>
                        <a href="{{ path('core_common_about') }}" >
                            Контакты
                        </a>
                    </li>


                    <!-- Search Block -->
                    <li>
                        <i class="search fa fa-search search-btn"></i>
                        <div class="search-open">
                            <form action="{{ path('core_faq_search') }}" method="get">
                            <div class="input-group animated fadeInDown">

                                <input required="required" name="search_faq_type[searchQuery]" type="text" class="form-control" placeholder="Искать">
                                    <span class="input-group-btn">
                                        <button class="btn-u" type="submit">Найти</button>
                                    </span>

                            </div>
                            </form>
                        </div>
                    </li>
                    <!-- End Search Block -->
                </ul>
            </div><!--/navbar-collapse-->
        </div>
    </div>
    <!-- End Navbar -->
</div>
<!--=== End Header ===-->