{% if categories %}

    <nav role="navigation" id="navigation_bar">
        <div class="nav_cats">

            <ul class="nav_cats flex" {% if null == discountsAndPromotions %}style="padding-right:0px;{% endif %}">

                {% for i, category in categories %}

                    {% set caption = attribute(category, 'caption' ~ app.request.locale|capitalize) %}

                    <li {{fastEdit(category)}} class="nav_cat{% if i == 0 %} first-child{% endif %} {% if slug and slug == category.slug %}active{% endif %}" data-menu="{{ category.id }}">
                        <a href="{{ path('core_shop_product_catalog_first_page', {slug: category.slug}) }}" class="nav_cat_link{% if isOneWord(caption) %} one_word{% endif %}">
                            <span>{{ caption|menuTitleFormater|raw }}</span>
                        </a>
                    </li>

                {% endfor %}

            </ul>

            {% set allCategories = categories %}

            {% if null != discountsAndPromotions %}

                <div {{fastEdit(discountsAndPromotions)}} class="nav_cat_last {% if slug and slug == discountsAndPromotions.slug %}active{% endif %}" data-menu="{{ discountsAndPromotions.id }}">
                    <a href="{{ path('core_shop_product_catalog_first_page', {slug: discountsAndPromotions.slug}) }}" class="nav_cat_link">
                        <span>{{ attribute(discountsAndPromotions, 'caption' ~ app.request.locale|capitalize)|menuTitleFormater|raw }}</span>
                    </a>
                </div>

                {% set allCategories = categories|merge([discountsAndPromotions]) %}

            {% endif %}

        </div>

        {% for i, category in allCategories %}

            {% set caption = attribute(category, 'caption' ~ app.request.locale|capitalize) %}
{%if properties[category.id] is defined or brands[category.id] is defined or category['__children']|length>0%}
            <div class="nav_submenu_cats_block clearfix" data-submenu="{{ category.id }}">
                <div class="nav_submenu_cats_item_names clearfix">
                    {% if category['__children']|length %}<div class="nav_submenu_cats_item_name name_section">Разделы</div>{% endif %}
                    {% if properties[category['id']]['age'] is defined %}<div class="nav_submenu_cats_item_name name_age">Возраст</div>{% endif %}
                    {% if brands is defined and brands[category.id] is defined %}<div class="nav_submenu_cats_item_name name_brand">Бренд</div>{% endif %}
                    {% if properties[category['id']]['skills'] is defined %}<div class="nav_submenu_cats_item_name name_skills">Обучающие навыки</div>{% endif %}
                </div>

                {% if category['__children']|length %}

                    <div class="nav_submenu_cats_item nav_submenu_cats_item_section">

                        {{ ServiceContainer.get('core_common_fragments').buildBranch(category)|raw }}

                    </div>

                {% endif %}

                {% if properties[category['id']]['age'] is defined %}

                    <div class="nav_submenu_cats_item nav_submenu_cats_item_age">
                        <ul class="nav_submenu_cats">

                            {% for id, age in properties[category['id']]['age']['values'] %}

                                <li class="nav_submenu_cat">
                                    <a href="{{ path('core_shop_product_catalog_first_page', { slug: category.slug, filter: { 'p': { 'checkbox': { 'age': [id] } } } }) }}" class="nav_submenu_cat_link">{{ age['caption'] }}</a>
                                </li>

                            {% endfor %}

                        </ul>
                    </div>

                {% endif %}

                {% if brands[category.id] is defined %}
                    {% set iBrand = 0 %}
                    <div class="nav_submenu_cats_item nav_submenu_cats_item_brand">
                        <ul class="nav_submenu_cats">

                            {% for brand in brands[category.id] %}

                                <li class="nav_submenu_cat">
                                    <a href="{{ path('core_shop_product_catalog_first_page', { slug: category.slug, filter: { 'brands': [brand['id']] } }) }}" class="nav_submenu_cat_link">{{ brand['caption'] }}</a>
                                </li>

                                {% set iBrand = iBrand + 1 %}
                                {% if iBrand == (brands[category.id]|length / 2)|round(0, 'ceil') and brands[category.id]|length > 10 %}
                                    </ul>
                                    <ul class="nav_submenu_cats">
                                {% endif %}
                            {% endfor %}

                        </ul>
                    </div>

                {% endif %}

                {% if  properties[category['id']]['skills'] is defined %}
                    {% set iSkills = 0 %}
                    {% set cSkills = ( properties[category['id']]['skills']['values']|length / 2)|round(0, 'ceil') %}
                    <div class="nav_submenu_cats_item nav_submenu_cats_item_skills">
                        <ul class="nav_submenu_cats">
                            {% for id, skill in  properties[category['id']]['skills']['values'] %}

                                <li class="nav_submenu_cat skill_{{ skill['name']|replace(' ', '_') }} clearfix">
                                    <span class="skill_icon">&nbsp;</span><a href="{{ path('core_shop_product_catalog_first_page', { slug: category.slug, filter: { 'p': { 'checkbox': { 'skills': [id] } } } }) }}" class="nav_submenu_cat_link">{{ skill['caption'] }}</a>
                                </li>

                                {% set iSkills = iSkills + 1 %}
                                {% if iSkills == cSkills %}
                                    </ul>
                                    <ul class="nav_submenu_cats">
                                {% endif %}

                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}

            </div>
{%endif%}
        {% endfor %}

    </nav>

{% endif %}