{#<script src="{{ asset('bundles/sonataadmin/bootstrap/js/bootstrap.min.js') }}"></script>#}
<div class="modal_window login">
    <div class="modal_window_body modal_login">
        <h2>Вход</h2>
        <form id="auth_form" data-refresh="1" id="modal_login" class="auto_size" action="{{ path("fos_user_security_check") }}" method="post">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
            <fieldset class="form_fieldset">
                <div class="form_row">
                    <label class="form_label" for="username_login">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
                    <div class="form_field">
                        <input size="40" class="text_input" type="text" id="username_login" name="_username" value="" required="required" />
                    </div>
                </div>
                <div class="form_row">
                    <label class="form_label" for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
                    <div class="form_field">
                        <input size="40" class="text_input" type="password" id="password" name="_password" required="required" />
                    </div>
                </div>
                <div class="form_row form_padding_group">
                    <div class="form_field">
                        <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                        <label for="remember_me">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>
                    </div>
                </div>
            </fieldset>
            <div class="form_row form_padding_group">
                <button type="submit" id="_submit" name="_submit" class="common_button big">
                    <span>{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}</span>
                </button> или <a target="blank" href="{{path('fos_user_registration_register')}}" class="text_tgl register">Регистрация</a>
            </div>
            <div class="form_padding_group">
                <a href="{{path('fos_user_resetting_request')}}" class="restore text_tgl">Напомнить пароль</a>
            </div>
        </form>
        <section class="login_social">
            <h3>Вход через:</h3>
            {% spaceless %}
            <div class="uLogin" data-ulogin="display=buttons;
                 fields=first_name,last_name,photo,photo_big,email,nickname,bdate,sex,city,country,profile;
                 redirect_uri=;
                 receiver=http://{{ app.request.host }}{{path('auth_receiver')}};
                 callback=ucall">
                <span data-uloginbutton="facebook" class="social_btn social_facebook">&nbsp;</span>
                <span data-uloginbutton="vkontakte" class="social_btn social_vkontakte">&nbsp;</span>
                <span data-uloginbutton="twitter" class="social_btn social_twitter">&nbsp;</span>
                <span data-uloginbutton="yandex" class="social_btn social_yandex">&nbsp;</span>
                <span data-uloginbutton="google" class="social_btn social_google">&nbsp;</span>
                <span data-uloginbutton="odnoklassniki" class="social_btn social_odnoklassniki">&nbsp;</span>
            </div>
            {% endspaceless %}
        </section>
    </div>
    <div class="modal_window_body hidden modal_restore">
        <h2>Восстановление пароля</h2>
        <p>Вам на электронный адрес будет выслано письмо с паролем.</p>
        <form id="modal_reset" class="auto_size" action="{{ path('fos_user_resetting_send_email_ajax') }}" method="POST" class="fos_user_resetting_request">
            <fieldset class="form_fieldset">
                <div class="form_row">
                    <label class="form_label" for="username">{{ 'resetting.request.username'|trans({}, 'FOSUserBundle') }}</label>
                    <div class="form_field">
                        <input size="40" class="text_input" type="text" id="username" name="username" required="required" />
                    </div>
                </div>
            </fieldset>
            <div class="form_row form_padding_group">
                <button type="submit" class="common_button big">
                    <span>{{ 'resetting.request.submit'|trans({}, 'FOSUserBundle') }}</span>
                </button> или
                <a href="{{path('core_common_index')}}" class="text_tgl close" data-dismiss="modal" aria-hidden="true">Отменить</a>
            </div>
        </form>
    </div>
    <span title="Закрыть" class="modal_window_close close" data-dismiss="modal" aria-hidden="true">Закрыть</span>
</div>