{% set order = app.session.get('core_order') %}
<!--noindex-->
<div class="header_usercart">
    <div class="header_usercart_pad">
        <a rel="nofollow" href="{{ path('core_order_cart') }}" class="header_usercart_link">
            <span class="header_usercart_count">{% if order.total_quantity is defined %}{{ order.total_quantity }}{% else %}0{% endif %}</span>
            <strong>Ваши покупки</strong>
        </a>
        <span class="header_usercart_info" data-currency="{{ currencyFormat() }}" data-empty-text="Корзина пуста">
            {%- if order.total_quantity is defined and order.total_quantity > 0 -%}
                {%- if order.total_quantity is defined -%}
                    {{ order.total_quantity ~ ' ' ~ declOfNum(order.total_quantity, ['товар', 'товара', 'товаров'] ) }}
                {%- endif -%}
                , {% if order.total_cost is defined -%}
                    {{ moneyFormat(order.total_cost) }}
                {%- endif %} {{ currencyFormat() -}}
            {% else %}
                Корзина пуста
            {% endif %}
        </span>

    </div>
</div>
<!--/noindex-->