{% set one_row_head %}
    <tr>
        <td class="head">
            <b>Перевозчик</b>
        </td>
        <td class="head">
            <b>Заказ</b>
        </td>
        <td class="head">
            <b>Продавец</b>
        </td>
        <td class="head">
            <b>Получатель</b>
        </td>
        <td class="head">
            <b>Оплата доставки (р.)</b>
        </td>
        <td class="head">
            <b>Сумма заказа (р.) </b>
        </td>
        <td class="head">
            <b>Адрес доставки (выдачи) </b>
        </td>
        <td class="head">
            <b>Контактный тел.</b>
        </td>
        <td class="head">
            <b>Комментарии</b>
        </td>
    </tr>
{%endset%}


{%block content%}

    <style type="text/css" media="screen,print">
        table {font-family:San-Serif,Verdana,Arial;font-size:11px;border:1px solid #000;border-bottom:0;border-right:0;border-collapse: collapse;background-color: #fff;margin:0px 0px 0px 0px;}
        table td, table th {border: 1px solid #000; border-left: 0; border-top: 0; padding: 3px;}        
        table thead th, table tfoot th,
        table thead td, table tfoot td {background-color:#eee;}
        table tbody td {background-color:#fff;}
        table tbody td.head {white-space:nowrap;background-color:#eee;}
    </style>

    <h3>Отправки на {{ now|date("d-m-Y", default_timezone) }}</h3>
    <table border="0" width="100%" >        
        <tbody>
            {%if data.paid is defined%}
                <tr>
                    <th colspan="100%" align="left">
                        <b>Оплаченные заказы</b>
                    </th>
                </tr>
                {{one_row_head}}
                {%for d in data.paid%}
                    {{include ('CoreOrderBundle:Admin/Batch/delliveryWaybills:one_row_for_body.html.twig')}}
                {%endfor%}
            {%endif%}

            {%if data.nalojka is defined%}
                <tr>
                    <th colspan="100%" align="left">
                        <b>Заказы с наложенным платежом</b>
                    </th>
                </tr>
                {{one_row_head}}
                {%for d in data.nalojka%}
                    {{include ('CoreOrderBundle:Admin/Batch/delliveryWaybills:one_row_for_body.html.twig')}}
                {%endfor%}
            {%endif%}
        </tbody>
    </table>

    <h5>Всего заказов на доставке: {{data.ordersTotal}} Сумма общих расходов на доставку: {{moneyFormat(data.deliveryTotalCost)}} {{currencyFormat()}}
        Сумма расходов на доставку наличными: {{moneyFormat(data.deliveryTotalNalojkaCost)}} {{currencyFormat()}}</h5>
    {%endblock%}

