<tr>
    <td>
        <b>{%if d.deliveryMethod%}{{d.deliveryMethod.captionRu}}{%endif%}</b>
    </td>
    <td>
        {{d.id}}
    </td>
    <td>
        {%if d.seller.caption is defined%}
            {{d.seller.caption}}<br/>
            ИНН: {{d.seller.inn}}
        {%endif%}
    </td>
    <td>
        {%if d.contragent.organization is defined%}
            {#юр. лицо#}
            {{d.contragent.organization}}
            ИНН: {{d.contragent.inn}}
            Конт. лицо: {{d.contragent.contactFio}}
        {%else%}
            {{d.contragent.lastName}} {{d.contragent.firstName}} {{d.contragent.surName}}<br/>
            {%if d.contragent.phone1%}
                {{d.contragent.phone1}}
            {%else%}
                {%if d.contragent.phone2%}
                    {{d.contragent.phone2}}
                {%else%}
                    {%if d.contragent.phone3%}
                        {{d.contragent.phone3}}
                    {%endif%}
                {%endif%}
            {%endif%}
        {%endif%}
    </td>
    <td align="right">
        {%if d.deliveryMethod and d.deliveryMethod.isCashOnDelivery%}
            {%if not d.isDeliveryIncludedInPayment%}При получении {%endif%}
            {{moneyFormat(d.deliveryCost)}}
        {%else%}
            {%if not d.isDeliveryIncludedInPayment%}При получении {{moneyFormat(d.deliveryCost)}}
            {%else%}
                <b>{{moneyFormat(d.deliveryCost)}}</b>
            {%endif%}

        {%endif%}
    </td>
    <td align="right">
        {{moneyFormat(d.getCost)}}
    </td>
    <td>
        {% if d.deliveryCity%}
            {{d.deliveryCity.name}} ({{d.deliveryCity.region.name}})<br/>
        {%endif%}
        {{d.deliveryAddress}}
    </td>
    <td>
        {%if d.contragent.phone1%}{{d.contragent.phone1}}<br/>{%endif%}
        {%if d.contragent.phone2%}{{d.contragent.phone2}}<br/>{%endif%}
        {%if d.contragent.phone2%}{{d.contragent.phone3}}<br/>{%endif%}
    </td>
    <td>
        {{d.comments}}
    </td>
</tr>
