<form class="sonata-filter-form {{ admin.isChild and 1 == admin.datagrid.filters|length ? 'hide' : '' }}" action="{{ admin.generateUrl('list') }}" method="GET">
    {{ form_errors(form) }}
    <fieldset class="filter_legend">
        <legend class="filter_legend {{ admin.datagrid.hasActiveFilters ? 'active' : 'inactive' }}">{{ 'label_filters'|trans({}, 'SonataAdminBundle') }}</legend>
        <div class="filter_container {{ admin.datagrid.hasActiveFilters ? 'active' : 'inactive' }}">

            <div>
                {% set internalCounter = 0 %}
                {% for filter in admin.datagrid.filters %}
                    {% if internalCounter == 0 %}
                        <div class="row-fluid">
                    {% endif %}
                    {% set internalCounter = internalCounter +1 %}

                    <div class="span3">
                        {#<label for="{{ form.children[filter.formName].children['value'].vars.id }}">{{ admin.trans(filter.label, {}, filter.translationDomain) }}</label>#}
                        {{ form_widget(form.children[filter.formName].children['type'], {'attr': {'class': 'span12 sonata-filter-option'}}) }}
                        {{ form_widget(form.children[filter.formName].children['value'], {'attr': {'class': 'span12'}}) }}
                    </div>
                    {% if internalCounter == 4 %}
                       </div>
                       {% set internalCounter = 0 %}
                    {% endif %}
                {% endfor %}
            </div>

            <input type="hidden" name="filter[_page]" id="filter__page" value="1" />

            {% set foo = form.children['_page'].setRendered() %}
            {{ form_rest(form) }}
            <div class="row-fluid">
                <div class="pull-right">
                    <input type="submit" class="btn btn-primary" value="{{ 'btn_filter'|trans({}, 'SonataAdminBundle') }}" />
                    <a class="btn" href="{{ admin.generateUrl('list', {filters: 'reset'}) }}">{{ 'link_reset_filter'|trans({}, 'SonataAdminBundle') }}</a>
                </div>
            </div>
        </div>

        {% for paramKey, paramValue in admin.persistentParameters %}
            <input type="hidden" name="{{ paramKey }}" value="{{ paramValue }}" />
        {% endfor %}
    </fieldset>
</form>