{% extends "CoreCommonBundle::main_layout.html.twig" %}

{# SEO - заголовки #}
{% block title %}{% endblock %}
{% block meta_keywords %}{% endblock %}
{% block meta_description %}{% endblock %}
{% block css %}
    {{ parent() }}
    <style>
        .site-desc .headline {
            border-bottom: 1px solid #dedede;
            margin-bottom: 12px;
            overflow: hidden;
        }

        .site-desc .headline h3 {
            color: #687074;
            float: left;
            font-size: 20px;
            text-transform: uppercase
        }

        .site-desc ul {
            margin: 0;
            padding: 0;
        }

        .site-desc li {
            background: none repeat scroll 0 0 #f8f8f8;
            color: #dedede;
            display: block;
            font-size: 24px;
            height: 30px;
            font-size: 15px;
            padding: 5px;
            margin: 0 5px 0 0;
            text-align: left;
            text-transform: uppercase;
            line-height: 120%;
        }

        .site-desc li:after {
            content: ".";
            visibility: hidden;
            display: block;
            clear: both;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="breadcrumbs">
        <div class="container">
            <h1 class="pull-left">{{ site.domain|onlyDomain }}</h1>
            <ul class="pull-right breadcrumb">
                <li>
                    <a href="{{ path('core_common_index') }}">На главную</a>
                </li>
                <li>
                    <a href="{{ path('core_common_catalog_first_page') }}">Список площадок</a>
                </li>
                <li class="active">{{ site.domain|onlyDomain }}</li>
            </ul>
        </div>
    </div>
    <div class="container">
        <div class="content">
            <div class="col-md-3 md-margin-bottom-50">

                {% if site.webPath %}
                    <img src="{{ asset(site.webPath) }}" alt="" width="100%">
                {% else %}
                    <span class="dropcap-bg {{ site.domain|firstDomainLatterClass }}">{{ site.domain|firstDomainLatter }}</span>
                {% endif %}

                {#{% set curImg = (site.webPath) ? site.webPath : '/assets/img/portfolio/01.jpg' %}#}
                {#<a href="{{ site.domain }}">#}
                {#<img src="{{ asset(curImg) }}" alt="" width="100%">#}
                {#</a>#}
            </div>
            <section class="col-md-8">
                <div class="margin-bottom-20">
                    <h3>{{ site.domain|onlyDomain }}</h3>
                </div>
                <hr>
                {% if site.shortDescription %}

                    <h3>Описание</h3>

                    <p>{{ site.shortDescription | nl2br }}</p>
                {% endif %}






                <div class="tab-v2">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#home-1" data-toggle="tab">Статистика за сегодня</a></li>
                        <li><a href="#messages-1" data-toggle="tab">За последний месяц</a></li>
                        <li><a href="#settings-1" data-toggle="tab">С самого начала</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="home-1">

                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>Рекламное место</th>
                                    <th>Клики</th>
                                    <th>Показы</th>
                                    <th>CTR</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for adPlace in site.adPlaces %}
                                <tr>
                                    <td>{{ place.size.width }}x{{ place.size.height }}</td>
                                    <td>Клики</td>
                                    <td>Показы</td>
                                    <td>CTR</td>
                                </tr>
                                    {% endfor %}
                                </tbody>
                            </table>

                        </div>
                        <div class="tab-pane fade in" id="profile-1">
                            <img alt="" class="pull-left lft-img-margin img-width-200" src="assets/img/main/5.jpg">
                            <h4>Heading Sample 2</h4>

                            <p>Vivamus imperdiet condimentum diam, eget placerat felis consectetur id. Donec eget orci
                                metus, ac adipiscing nunc. Pellentesque fermentum, ante ac interdum ullamcorper. Donec
                                eget orci metus, <strong>ac adipiscing nunc.</strong> Vivamus imperdiet condimentum
                                diam, eget placerat felis consectetur id. Donec eget orci metus, ac adipiscing nunc.
                                Pellentesque fermentum, ante ac interdum id. Donec eget orci metus, ac adipiscing nunc.
                                Pellentesque fermentum, ante ac interdum ullamcorper. Donec eget orci metus, ac
                                adipiscing nunc. Pellentesque fermentum, ante ac <strong>interdum ullamcorper.</strong>
                            </p>
                        </div>
                        <div class="tab-pane fade in" id="messages-1">
                            <h4>Heading Sample 3</h4>

                            <p><img alt="" class="pull-right rgt-img-margin img-width-200" src="assets/img/main/6.jpg">
                                <strong>Vivamus imperdiet condimentum diam, eget placerat felis consectetur id.</strong>
                                Donec eget orci metus, Vivamus imperdiet condimentum diam, eget placerat felis
                                consectetur id. Donec eget orci metus, ac adipiscing nunc. Pellentesque fermentum, ante
                                ac interdum ullamcorper. Donec eget orci metus, ac adipiscing nunc. Pellentesque
                                fermentum, consectetur id. Donec eget orci metus, ac adipiscing nunc. <strong>Pellentesque
                                    fermentum</strong>, ante ac interdum ullamcorper. Donec eget orci metus, ac
                                adipiscing nunc. Pellentesque fermentum, ante ac interdum ullamcorper.</p>
                        </div>
                        <div class="tab-pane fade in" id="settings-1">
                            <h4>Heading Sample 4</h4>

                            <p><img alt="" class="pull-right rgt-img-margin img-width-200" src="assets/img/main/1.jpg">
                                Vivamus imperdiet condimentum diam, eget placerat felis consectetur id. Donec eget orci
                                metus, Vivamus imperdiet condimentum diam, eget placerat felis consectetur id. Donec
                                eget orci metus, ac adipiscing nunc. Pellentesque fermentum, ante ac interdum
                                ullamcorper. Donec eget orci metus, ac adipiscing nunc. Pellentesque fermentum,
                                consectetur id. Donec eget orci metus, ac adipiscing nunc. <strong>Pellentesque
                                    fermentum</strong>, ante ac interdum ullamcorper. Donec eget orci metus, ac
                                adipiscing nunc. Pellentesque fermentum, ante ac interdum ullamcorper.</p>
                        </div>
                    </div>
                </div>


                <div class="headline">
                    <h3>Категории</h3>
                </div>
                <ul class="list-styled">
                    {% for category in site.categories %}
                        <li>
                            <i class="fa fa-check color-green"></i>&nbsp;
                            {#<a href="{{ path('core_common_catalog_first_page') }}?site_search_filter_form[selectMainCat]={{ category.parent.id }}&site_search_filter_form[categories]={{ category.id }}">{{ category.captionRu }}</a>#}
                            {{ category.captionRu }}
                        </li>
                    {% endfor %}
                </ul>

                {#{% if site.keywords %}#}
                {#<div class="headline">#}
                {#<h3>Ключевые слова</h3>#}
                {#</div>#}
                {#<p>{{ site.keywords | nl2br}}</p>#}
                {#{% endif %}#}
            </section>
        </div>
    </div>
{% endblock %}