{% extends "CoreCommonBundle::main_layout.html.twig" %}
{% import "@CoreSite/Site/site_catalog_macro.html.twig" as elements %}

{# SEO - заголовки #}
{% block title %}PromoMaster - каталог рекламных площадок{% endblock %}
{% block meta_keywords %}{% endblock %}
{% block meta_description %}{% endblock %}

{% block content %}
    <div class="breadcrumbs">
        <div class="container">
            <h1 class="pull-left">Площадка {{ site.domain|onlyDomain }}</h1>
            <ul class="pull-right breadcrumb">
                <li>
                    <a href="{{ path('core_common_index') }}">На главную</a>
                </li>
                <li>
                    <a href="{{ path('core_common_catalog_first_page') }}">Список площадок</a>
                </li>
                <li class="active">{{ site.domain|onlyDomain }}</li>
            </ul>
        </div>
    </div>
    <div class="container">
        <div class="content">
            <div class="col-md-3 md-margin-bottom-50">

                <a target="_blank" href="{{ path('core_common_redirect_to_domain', {siteId:site.id}) }}">
                    {% if site.webPath %}
                        <div class="thumbnails thumbnail-style thumbnail-kenburn">
                            <div class="thumbnail-img">
                                <div class="overflow-hidden">
                                    <img class="img-responsive" src="{{ asset(site.webPath) }}" alt="" width="100%">
                                </div>
                            </div>
                        </div>

                    {% else %}
                        <span  class="dropcap-bg {{ site.domain|firstDomainLatterClass }}">{{ site.domain|firstDomainLatter }}</span>
                    {% endif %}
                </a>

                {#{% set curImg = (site.webPath) ? site.webPath : '/assets/img/portfolio/01.jpg' %}#}
                {#<a href="{{ site.domain }}">#}
                {#<img src="{{ asset(curImg) }}" alt="" width="100%">#}
                {#</a>#}
            </div>
            <div class="col-md-8">
                <div class="margin-bottom-20">
                        <h3><a target="_blank" href="{{ path('core_common_redirect_to_domain', {siteId:site.id}) }}">{{ site.domain|onlyDomain }}</a></h3>

                    <p>{{ site.shortDescription | nl2br }}</p>
                    {% if site.region %}<p>Регион: <b>{{ site.region  }}</b></p>{% endif %}
                </div>
                <br>
                {% if site.adPlaces|length %}
                    <div class="tab-v2">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#today" data-toggle="tab">Статистика за сегодня</a></li>
                            <li><a href="#month" data-toggle="tab">За последний месяц</a></li>
                            <li><a href="#all" data-toggle="tab">С самого начала</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade in active" id="today">
                                {{ elements.statTable(site.adPlaces , statistics.today) }}
                            </div>
                            <div class="tab-pane fade in" id="month">

                                {{ elements.statTable(site.adPlaces , statistics.month) }}
                            </div>
                            <div class="tab-pane fade in" id="all">
                                {{ elements.statTable(site.adPlaces , statistics.all) }}
                            </div>
                        </div>
                    </div>
                {% else %}
                    <p><i>Статистика недоступна</i></p><br>
                {% endif %}


                <div>
                    <h3>{{ site.categories.first.parent.captionRu }}</h3>
                    {% for category in site.categories %}
                        <div  class="catalog-theme"><i class="fa fa-check color-green"></i>&nbsp;{{ category.captionRu }}</div>
                   {% endfor %}
                </div>

                {% if site.description %}
                    <br><br><br>
                    <div style="clear: left">
                        <h3>Требования к рекламным материалам</h3>
                        {{ site.description | nl2br }}
                    </div>
                {% endif %}





                {% if site.keywords %}
                    <br><br><br>
                    <div style="clear: left">
                        <h3>Ключевые слова</h3>
                        {{ site.keywords  }}
                    </div>
                {% endif %}


            </div>
        </div>
    </div>
    <br/>
    <br/>
{% endblock %}