{% extends "CoreCommonBundle::main_layout.html.twig" %}
{% form_theme form 'CoreCategoryBundle::Form/FrontendCategorySearchTheme.html.twig' %}

{# SEO - заголовки #}
{% block title %}PromoMaster.net {% endblock %}
{% block meta_keywords %}{% endblock %}
{% block meta_description %}{% endblock %}

{% block css %}
    {{ parent() }}
    {% stylesheets
    'bundles/corecommon/css/cubeportfolio.min.css'
    output='css/compiled/cubeportfolio.min.css'
    filter='cssrewrite,yui_css' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}

{% endblock %}

{% block js_head %}
    {{ parent() }}

    {% javascripts
    'bundles/corecommon/js/jquery.cubeportfolio.min.js'
    'bundles/corecommon/js/cube-portfolio.js'
    output='js/compiled/cubeportfolio.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
{% block content %}
    <div class="breadcrumbs">
        <div class="container">
            <h1 class="pull-left">Каталог рекламных площадок</h1>
            <ul class="pull-right breadcrumb">
                <li>
                    <a href="{{ path('core_common_index') }}">На главную</a>
                </li>
                <li class="active">
                    Каталог площадок
                </li>
                {#{% if curCategory %}#}
                {#{% if curCategory.parent and curCategory.parent.lvl %}#}
                {#<li>#}
                {#<a href="{{ path('core_common_catalog_first_page' , {slug : curCategory.parent.slug}) }}">#}
                {#{{ curCategory.parent.captionRu }}#}
                {#</a>#}
                {#</li>#}
                {#{% endif %}#}
                {#<li class="active">{{ curCategory.captionRu }}</li>#}
                {#{% endif %}#}

            </ul>
        </div>
    </div>
    <div class="container">
        <div class="content">
            <div class="col-md-3">
                <h3>Фильтр</h3>

                {{ form_start(form, {attr:{class:'sky-form sky-form-other-style'}}) }}
                <div>
                    <label>Поисковая фраза:</label>
                    {{ form_widget(form.keywords,{attr:{class:'form-control'}}) }}
                </div>
                <br>

                <div><label>Тематика площадки:</label>
                    {{ form_widget(form.selectMainCat, {attr:{'class':'selectMainCat form-control'}}) }}
                    {{ form_widget(form.categories) }}
                </div>

                <br>

                <div>

                    <button class="btn-u" type="submit">Искать</button>
                    &nbsp;&nbsp;
                    <a class="btn-u btn-u-default" href="{{ path('core_common_catalog_first_page') }}">Сбросить</a>
                </div>
                {{ form_end(form) }}
                <br/>

            </div>
            <div class="col-md-9">
                {% if sites.count %}
                    <h3>
                        Найденно {{ sites.totalItemCount }} {{ declOfNum(sites.totalItemCount, ['площадку','площадки', 'площадок']) }} </h3>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            {#<th width="20px">#</th>#}
                            <th width="100px">Скриншот</th>
                            <th width="200px">Площадка</th>
                            <th width="200px">Тематика</th>
                            <th>Статистика</th>
                            <th>Места</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for s in sites %}
                            {% set site=s[0] %}

                            <tr data-url="{{ path('core_site_details', {id: site.id}) }}">
                                {#<td>{{ loop.index }}</td>#}
                                <td>
                                    <a href="{{ path('core_site_details', {id: site.id}) }}">
                                    {% if site.webPath %}
                                        <img src="{{ asset(site.webPath) }}" alt="" width="100%">
                                    {% else %}
                                        <span class="dropcap-bg {{ site.domain|firstDomainLatterClass }}">{{ site.domain|firstDomainLatter }}</span>
                                    {% endif %}
                                        </a>
                                </td>
                                <td>
                                    <a href="{{ path('core_site_details', {id: site.id}) }}"><b>{{ site.domain|onlyDomain }}</b></a>

                                    <p>{{ site.shortDescription }}</p>
                                </td>
                                <td>
                                    {% for category in site.categories %}
                                        <i class="fa fa-check color-green"></i> {{ category.captionRu }}<br/>
                                    {% endfor %}

                                </td>
                                <td>
                                    {% if s.showsQuantity %}
                                        {% set showsQuantity=s.showsQuantity %}
                                    {% else %}
                                        {% set showsQuantity=0 %}
                                    {% endif %}
                                    {% if s.clicksQuantity %}
                                        {% set clicksQuantity=s.clicksQuantity %}
                                    {% else %}
                                        {% set clicksQuantity=0 %}
                                    {% endif %}
                                    <p>{{ clicksQuantity|number_format(0, '.', ',') }} {{ declOfNum(showsQuantity, ['показ', 'показа', 'показов']) }}</p>
                                    <p>{{ showsQuantity|number_format(0, '.', ',') }} {{ declOfNum(showsQuantity, ['клик', 'клика', 'кликов']) }}</p>
                                </td>
                                <td>
                                    {% for place in site.adPlaces %}
                                        <p>{{ place.size.width }}x{{ place.size.height }}</p>
                                    {% endfor %}
                                </td>
                            </tr>

                        {% endfor %}
                        </tbody>
                    </table>


                    <div class="row margin-bottom-10">
                        <div class="text-center">
                            {{ knp_pagination_render(sites, 'CoreCommonBundle:Fragments:pagination.html.twig',{},
                            { routeFirsPage: 'core_common_catalog_first_page', routePage: 'core_common_catalog'}) }}
                        </div>
                    </div>
                {% else %}
                    <h3>По заданному запросу ничего не найденно.</h3>

                    <a class="btn-u " href="{{ path('core_common_catalog_first_page') }}">Вернуться к поиску</a>
                {% endif %}

                {#<div class="fusion-portfolio wrapper-portfolio-grid cbp-4-col">#}
                {#<div id="grid-container" class="cbp-l-grid-gallery">#}
                {#<ul>#}

                {#{% for site in sites %}#}
                {#<li class="cbp-item motion">#}
                {#<a href="{{ path('core_create_site_show', {id: site.id}) }}" class="cbp-caption">#}
                {#<div class="cbp-caption-defaultWrap">#}
                {#{% set curImg = (site.webPath) ? site.webPath : '/assets/img/portfolio/01.jpg' %}#}
                {#<img src="{{ asset(curImg) }}" alt="" width="100%">#}
                {#</div>#}
                {#<div class="cbp-caption-activeWrap">#}
                {#<div class="cbp-l-caption-alignCenter">#}
                {#<div class="cbp-l-caption-body">#}
                {#<div class="cbp-l-caption-text">{{ site.name }}</div>#}
                {#{% if site.shortDescription %}#}
                {#<p class="cbp-l-caption-desc">{{ site.shortDescription }}</p>#}
                {#{% endif %}#}
                {#</div>#}
                {#</div>#}
                {#</div>#}
                {#</a>#}
                {#</li>#}
                {#{% endfor %}#}
                {#</ul>#}
                {#</div>#}
                {#</div>#}

                <!--/End Wrapper Portfolio-->
                {#
                {% for site in sites %}
                    <div class="col-md-4 col-sm-6">
                        <div class="service-block service-block-default">
                            <i class="icon-custom icon-color-dark rounded-x fa fa-lightbulb-o"></i>
                            <h2 class="heading-md">{{ site.name }}</h2>
                            {% if site.description %}
                                <p class="cbp-l-caption-desc">{{ site.description }}</p>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
                #}
                {#<div class="row margin-bottom-10">#}
                {#<div class="text-center">#}
                {#{{ knp_pagination_render(sites, 'CoreCommonBundle:Fragments:pagination.html.twig',{},#}
                {#{ routeFirsPage: 'core_common_catalog', routePage: 'core_common_catalog'}) }}#}
                {#</div>#}
                {#</div>#}
            </div>
        </div>
    </div>

{% endblock %}